{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="How to Contribute" />
{% endblock file_metadata %}

{% block navhighlight %}{{navhighlight('about')}}{% endblock navhighlight %}

{% block content %}

<p>Software Carpentry is an open project. Like all such projects, it needs your
help to grow, and you can contribute in many ways, large and small.</p>

<dl>

  <dt id="teach">Teach</dt>
  <dd>
    <p>All of our slides, notes, and example programs are in our Git
    repository
    at <a href="https://github.com/swcarpentry/website">https://github.com/swcarpentry/website</a>,
    and you are free to use them however you want (so long as
    you <a href="{{root_path}}/license.html">give us attribution</a>).
    Everything is designed so that individuals can work through what they need
    on their own, but universities, research labs, companies, and self-study
    groups have also used it in week-long crash courses and as part of longer
    classroom courses.</p>

    <p>If you would like to deliver the course (as a Software Carpentry
    instructor or on your own) in one of these formats, or in one we haven't
    seen yet, please <a href="#discuss">let us know</a>&mdash;we'd be glad to
    provide you with training or advice.</p>
  </dd>

  <dt id="fix">Fix</dt>
  <dd>
    <p>If you see a mistake in on our website, please add a comment to the
    appropriate page, or <a href="mailto:{{contact_email}}">mail us</a>, and
    we'll fix it as quickly as we can.  And of course, we always welcome
    pull requests (see below).</p>
  </dd>

  <dt id="create">Create</dt>
  <dd>
    <p>If you are interested in developing the Software Carpentry
    content, we have organized our materials into a few different repositories
    on <a href="https://github.com/swcarpentry">github</a>.</p> 
    <table class="table table-striped">
      <tr><th>Repository</th><th>Description</th><th>Contributing Docs</th></tr>
      <tr>
        <td><a href="https://github.com/swcarpentry/website">website</a></td>
        <td>Holds the code to build most of our website content.</td>
        <td> <a
            href="https://github.com/swcarpentry/website/blob/master/README.md">README</a>,
          <a
            href="https://github.com/swcarpentry/website/blob/master/CONTRIBUTING.md">CONTRIBUTING</a>
        </td>
      </tr>

      <tr>
        <td><a href="https://github.com/swcarpentry/4_0">4_0</a></td>
        <td>Companion repository to <a
            href="https://github.com/swcarpentry/website">website</a> holding
          the 4.0 teaching materials: online video lectures and slides.</td>
        <td> No longer under development</td>
      </tr>
      <tr>
        <td><a href="https://github.com/swcarpentry/3_0">3_0</a></td> 
        <td>Companion repository to <a
            href="https://github.com/swcarpentry/website">website</a> 
          holding the 3.0 teaching materials: basic HTML pages
          and slides. </td> 
        <td>No longer under development</td>
      </tr>
      <tr>
        <td><a href="https://github.com/swcarpentry/boot-camps">boot-camps</a></td>
        <td>Notes, teaching materials and webpages used to help run one of our
          <a href="{{site}}/bootcamps/">Bootcamps</a>.  There is an
          idiosyncratic development workflow for contributing to this repository
          explained in the contributing docs.</td>
        <td><a
            href="https://github.com/swcarpentry/boot-camps/blob/master/CONTRIBUTING.md">CONTRIBUTING</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/swcarpentry/assets">assets</a></td>
        <td>Supporting files for the Software Carpentry organisation (e.g.
          papers, logos, etc.)</td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/swcarpentry/notebooks">notebooks</a></td>
        <td>A new repository to hold <a
            href="http://ipython.org/ipython-doc/dev/interactive/htmlnotebook.html">iPython
            Notebook</a> versions of our teaching materials. </td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://github.com/swcarpentry/guide">guide</a></td>
        <td>This book aims to support Software Carpentry instructors as they
          develop teaching material and course plans.</td>
        <td>Send us <a href="email:admin@software-carpentry.org">email</a></td>
      </tr>
    </table>
      
    <p>Pull requests are always welcome, or <a
      href="mailto:{{contact_email}}">mail us</a> to talk about what you'd like
    to do and how we can help.</p>
  </dd>

  <dt id="discuss">Discuss</dt>
  <dd>
    <p>To stay up to date with us, you can follow <a
    href="{{root_path}}/blog">our blog</a> and sign up for our low-traffic
    announcement mailing list (approximately 2-3 emails a month):</p>
    <form class="form-inline" method="post" style="text-align:center"
      action="http://scripts.dreamhost.com/add_list.cgi">
      <fieldset>
        <input type="hidden" name="list" value="software-carpentry" />
        <input type="hidden" name="domain" value="software-carpentry.org" />
        <input type="hidden" name="emailit" value="1" />
        <input type="text" name="name" placeholder="Full name" />
        <input type="text" name="email" placeholder="Email"/>
        <button type="submit" class="btn" name="submit" value="Join">
          Join</button>
        <button type="submit" class="btn" name="unsub" value="Unsubscribe">
          Unsubscribe</button>
      </fieldset>
    </form>
    <p>We also run these higher-traffic mailing lists:</p>
    <table class="table table-striped">
      <tr>
        <td>
          <a href="http://lists.software-carpentry.org/listinfo.cgi/discuss-software-carpentry.org">discuss</a>
        </td>
        <td>
          The main channel for discussion of direction and technology.
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://lists.software-carpentry.org/listinfo.cgi/assessment-software-carpentry.org">assessment</a>
        </td>
        <td>
          Where we talk about how to assess what learners already know,
          what they've learned from us,
          and what impact we've had.
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://lists.software-carpentry.org/listinfo.cgi/data-software-carpentry.org">data</a>
        </td>
        <td>
          For discussion of a new "data carpentry" module.
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://lists.software-carpentry.org/listinfo.cgi/tutors-software-carpentry.org">tutors</a>
        </td>
        <td>
          A by-invitation list used to match instructors to boot camps.
        </td>
      </tr>
    </table>
  </dd>

  <dt id="learn">Learn</dt>
  <dd>
    <p>
      We run an online training course to help people become
      instructors.  The course requires 2-4 hours/week for 8-10 weeks,
      and covers the basics of educational psychology, instructional
      design, and how to apply both to teaching programming to
      scientists.  To find out more,
      visit <a href="http://teaching.software-carpentry.org">the
      course website</a>.
    </p>
  </dd>
</dl>
{% endblock content %}
