{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="How to Contribute" />
{% endblock file_metadata %}

{% block navhighlight %}{{navhighlight('about')}}{% endblock navhighlight %}

{% block content %}

<p>Software Carpentry is an open project. Like all such projects, it needs your
help to grow, and you can contribute in many ways, large and small.</p>

<dl>

  <dt id="teach">Teach</dt>
  <dd>
    <p>All of our slides, notes, and example programs are in our Git repository
    at <a
    href="https://github.com/swcarpentry/website">https://github.com/swcarpentry/website</a>,
    and you are free to use them however you want (so long as you <a
    href="{{root_path}}/license.html">give us attribution</a>).  Everything is
    designed so that individuals can work through what they need on their own,
    but universities, research labs, companies, and self-study groups have also
    used it in week-long crash courses and as part of longer classroom
    courses.</p>

    <p>If you would like to deliver the course (as a Software Carpentry
    instructor or on your own) in one of these formats, or in one we haven't
    seen yet, please <a href="#discuss">let us know</a>&mdash;we'd be glad to
    provide you with training or advice.</p>
  </dd>

  <dt id="create">Create</dt>
  <dd>
    <p>If you are interested in developing the Software Carpentry content, you
    can use  <a href="http://git-scm.com/">Git</a> to get the source for our <a
    href="https://github.com/swcarpentry/website">website</a>, and our <a
    href="https://github.com/swcarpentry/boot-camps">bootcamp teaching
    materials</a>. We welcome any pull requests.</p>

    <p>Drop us a line by sending us <a href="mailto:{{contact_email}}">email</a>
    and/or joining the discussion list (see below) so that we can
    coordinate.</p> 
  </dd>
  <dt id="discuss">Discuss</dt>
  <dd>
    <p>To stay up to date with us, you can follow <a
    href="{{root_path}}/blog">our blog</a> and sign up for our low-traffic (~1-4
    emails a month) announcement mailing list:</p>
    <form class="form-inline" method="post" style="text-align:center"
      action="http://scripts.dreamhost.com/add_list.cgi">
      <fieldset>
        <input type="hidden" name="list" value="software-carpentry" />
        <input type="hidden" name="domain" value="software-carpentry.org" />
        <input type="hidden" name="emailit" value="1" />
        <input type="text" name="name" placeholder="Full name" />
        <input type="text" name="email" placeholder="Email"/>
        <button type="submit" class="btn" name="submit" value="Join">
          Join</button>
        <button type="submit" class="btn" name="unsub" value="Unsubscribe">
          Unsubscribe</button>
      </fieldset>
    </form>

    <p>Additionally, you can join our higher-traffic <a
    href="http://lists.software-carpentry.org/listinfo.cgi/discuss-software-carpentry.org">discussion
    list</a>. This is the main avenue through which instructors and and other
    volunteers discuss course material changes, technology, and make planning
    decisions.</p>

    <p>If you see a mistake in on our website, please add a comment to the
    appropriate page, or <a href="mailto:{{contact_email}}">mail us</a>, and
    we'll fix it as quickly as we can.</p>
  </dd>
</dl>
{% endblock content %}
