{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Credits" />
{% endblock file_metadata %}

{% block navhighlight %}{{navhighlight('about')}}{% endblock navhighlight %}

{% block content %}
<section>
  <h2>Version 5</h2>
  <p>We are very grateful for the ongoing support of:</p>
  {% include "sloan.html" %}
  {% include "mozilla.html" %}
</section>

<section>
  <h2>Version 4</h2>
  <p>Work on Version 4 (May 2010-April 2011) was made possible by the generosity of the following donors:</p>
  {% include "enthought.html" %}
  {% include "indiana-u.html" %}
  {% include "michigan-state.html" %}
  {% include "microsoft.html" %}
  {% include "mitacs.html" %}
  {% include "qmul.html" %}
  {% include "scimatic.html" %}
  {% include "scinet.html" %}
  {% include "sharcnet.html" %}
  {% include "ssi.html" %}
  {% include "ukmo.html" %}
</section>

<section>
  <h2>Earlier Versions</h2>
  <p>
    We would like to thank
    <a href="http://www.mathworks.com">The MathWorks</a>,
    the <a href="http://www.utoronto.ca">University of Toronto</a>,
    the <a href="http://www.python.org/psf/">Python Software Foundation</a>,
    and <a href="http://www.lanl.gov">Los Alamos National Laboratory</a>,
    whose support over the years has allowed us to help
    thousands of scientists use computers more productively.  We would also like
    to thank Brent Gorda, who helped create and deliver the first version of
    this course back in 1998.
  </p>
</section>
{% endblock content %}
{% block comments %}{% endblock comments %}
