{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="About" />
  <meta name="subfile" content="audience.html" />
  <meta name="subfile" content="biblio.html" />
  <meta name="subfile" content="contributing.html" />
  <meta name="subfile" content="credits.html" />
  <meta name="subfile" content="team.html" />
  <meta name="subfile" content="testimonials.html" />
{% endblock file_metadata %}

{% block navhighlight %}{{navhighlight('about')}}{% endblock navhighlight %}

{% block content %}

<p>
  Software Carpentry began in 1998 as a week-long training course at
  <a href="http://lanl.gov">Los Alamos National Laboratory</a>.
  With support from the <a href="http://www.python.org/psf/">Python Software Foundation</a>,
  we released <a href="{{root_path}}/3_0/index.html">Version 3</a> of our materials
  under an open license in 2004,
  and in 2010,
  with support from <a href="credits.html">several new sponsors</a>,
  we produced the online video tutorials of <a href="{{root_path}}/4_0/index.html">Version 4</a>.
  Our main focus now is <a href="{{root_path}}/bootcamps/index.html">intensive two-day boot camps</a>,
  and we hope to release <a href="{{root_path}}/book/index.html">a new version of our material</a> in 2013.
</p>

<p>
  To find out more about the project, please see:
</p>

<ul>
  <li><a href="credits.html">Credits</a></li>
  <li><a href="team.html">Our Team</a></li>
  <li><a href="audience.html">Our Audience</a></li>
  <li><a href="testimonials.html">Testimonials</a></li>
  <li><a href="contributing.html">How to Contribute</a></li>
  <li><a href="biblio.html">Reading</a></li>
</ul>

{% endblock content %}

{% block comments %}{% endblock comments %}
