{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Our Team" />
{% endblock file_metadata %}

{% block navhighlight %}{{navhighlight('about')}}{% endblock navhighlight %}

{% block content %}

<ul>
  <li><a href="#advisory">Advisory Board</a></li>
  <li><a href="#instructors">Instructors</a></li>
  <li><a href="#support">Support</a></li>
</ul>

<h2 id="advisory">Advisory Board</h2>

{% include "brown.ct.html" %}
{% include "cholia.s.html" %}
{% include "goble.c.html" %}
{% include "petre.m.html" %}
{% include "plumbley.m.html" %}
{% include "white.e.html" %}

<h2 id="instructors">Instructors</h2>

{% include "ahmadia.a.html" %}
{% include "anderson.c.html" %}
{% include "aruliah.d.html" %}
{% include "bostroem.a.html" %}
{% include "bray.e.html" %}
{% include "bryan.j.html" %}
{% include "canino-koning.r.html" %}
{% include "cannam.c.html" %}
{% include "chuang-howe.a.html" %}
{% include "chue-hong.n.html" %}
{% include "cozzini.s.html" %}
{% include "cranston.k.html" %}
{% include "crouch.s.html" %}
{% include "davis.m.html" %}
{% include "dickson.r.html" %}
{% include "dursi.j.html" %}
{% include "ely.j.html" %}
{% include "enbody.r.html" %}
{% include "foertter.f.html" %}
{% include "gustavsen.j.html" %}
{% include "guy.t.html" %}
{% include "haddock.s.html" %}
{% include "hansen.m.html" %}
{% include "hart.t.html" %}
{% include "hinsen.k.html" %}
{% include "huff.k.html" %}
{% include "ivanov.p.html" %}
{% include "jackson.m.html" %}
{% include "kerr.j.html" %}
{% include "king.w.html" %}
{% include "kitzes.j.html" %}
{% include "konrad.b.html" %}
{% include "lagesen.k.html" %}
{% include "langmore.i.html" %}
{% include "lasher.c.html" %}
{% include "latornell.d.html" %}
{% include "mcgough.s.html" %}
{% include "mckellar.j.html" %}
{% include "mctavish.ej.html" %}
{% include "mitchell.i.html" %}
{% include "montojo.jason.html" %}
{% include "morris.b.html" %}
{% include "nederbragt.l.html" %}
{% include "nielsen.c.html" %}
{% include "pawlik.a.html" %}
{% include "pell.j.html" %}
{% include "perez.f.html" %}
{% include "pickens.c.html" %}
{% include "rokem.a.html" %}
{% include "scopatz.a.html" %}
{% include "shelton.j.html" %}
{% include "smith.j.html" %}
{% include "supp.s.html" %}
{% include "teal.t.html" %}
{% include "varoquaux.n.html" %}
{% include "viana.a.html" %}
{% include "waugh.b.html" %}
{% include "williams.l.html" %}
{% include "wilson.g.html" %}
{% include "wilson.p.html" %}

<h2 id="support">Support</h2>

{% include "aranda.j.html" %}
{% include "brown.amy.html" %}
{% include "pipitone.j.html" %}
{% include "wolever.d.html" %}

{% endblock content %}

{% block comments %}{% endblock comments %}
