{% extends "_base.html" %}
{% block file_metadata %}
  <meta name="title" content="Creator Badge" />
{% endblock file_metadata %}
{% block navhighlight %}{{navhighlight('badges')}}{% endblock navhighlight %}
{% block content %}
<div class="media">
  <img class="media-object pull-left" src="{{root_path}}/img/badges/creator.png" alt="Software Carpentry 'Creator' Badge" />
  <div class="media-body">Awarded for creating teaching materials for Software Carpentry.</div>
</div>
<ul>
  <li><a href="{{root_path}}/about/team.html#guy.t">Richard "Tommy" Guy</a></li>
  <li><a href="{{root_path}}/about/team.html#jackson.j">Mike Jackson</a></li>
  <li><a href="{{root_path}}/about/team.html#pipitone.j">Jon Pipitone</a></li>
  <li><a href="{{root_path}}/about/team.html#white.e">Ethan White</a></li>
  <li><a href="{{root_path}}/about/team.html#wilson.g">Greg Wilson</a></li>
</ul>
{% endblock content %}
