{% extends "_base.html" %}
{% block file_metadata %}
  <meta name="title" content="Creator Badge" />
{% endblock file_metadata %}
{% block navhighlight %}{{navhighlight('badges')}}{% endblock navhighlight %}
{% block content %}
<div class="media">
  <img class="media-object pull-left" src="{{root_path}}/img/badges/creator.png" alt="Software Carpentry 'Creator' Badge" />
  <div class="media-body">Awarded for creating teaching materials for Software Carpentry.<br/>Please click on the download icon to fetch the individual badge.</div>
</div>
<table>
  <tr>
    <td><a href="creator/guy.t.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#guy.t">Richard "Tommy" Guy</a></td>
  </tr>
  <tr>
    <td><a href="creator/jackson.m.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#jackson.m">Mike Jackson</a></td>
  </tr>
  <tr>
    <td><a href="creator/montojo.j.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#montojo.jason">Jason Montojo</a></td>
  </tr>
  <tr>
    <td><a href="creator/pipitone.j.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#pipitone.j">Jon Pipitone</a></td>
  </tr>
  <tr>
    <td><a href="creator/white.e.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#white.e">Ethan White</a></td>
  </tr>
  <tr>
    <td><a href="creator/wilson.g.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#wilson.g">Greg Wilson</a></td>
  </tr>
</table>
{% endblock content %}
