{% extends "_base.html" %}
{% block file_metadata %}
  <meta name="title" content="Software Carpentry Badges" />
  <meta name="subfile" content="creator.html" />
  <meta name="subfile" content="instructor.html" />
  <meta name="subfile" content="organizer.html" />
{% endblock file_metadata %}
{% block navhighlight %}{{navhighlight('badges')}}{% endblock navhighlight %}
{% block content %}
<p>The web and other new learning spaces provide many ways to gain skills and experience&mdash;from online courses, learning networks, mentorship, and peer learning. Badges provide an open, portable, verifiable way for learners to get recognition for these skills.  Using Mozilla's <a href="http://openbadges.org">Open Badge Infrastructure</a>, Software Carpentry is issuing three kinds of badges, and more are being defined.</p>

<div class="media">
  <a href="{{root_path}}/badges/creator.html"><img class="media-object pull-left" src="{{root_path}}/img/badges/creator.png" alt="Software Carpentry 'Creator' Badge" /></a>
  <div class="media-body">Awarded for <a href="{{root_path}}/badges/creator.html">creating teaching materials</a> for Software Carpentry.</div>
</div>

<div class="media">
  <a href="{{root_path}}/badges/instructor.html"><img class="media-object pull-left" src="{{root_path}}/img/badges/instructor.png" alt="Software Carpentry 'Instructor' Badge" /></a>
  <div class="media-body">Awarded to individuals <a href="{{root_path}}/badges/instructor.html">qualified to lead</a> Software Carpentry boot camps.</div>
</div>

<div class="media">
  <a href="{{root_path}}/badges/organizer.html"><img class="media-object pull-left" src="{{root_path}}/img/badges/organizer.png" alt="Software Carpentry 'Organizer' Badge" /></a>
  <div class="media-body">Awarded to <a href="{{root_path}}/badges/organizer.html">organizers</a> of Software Carpentry boot camps.</div>
</div>

{% endblock content %}
