{% extends "_base.html" %}
{% block file_metadata %}
  <meta name="title" content="Software Carpentry Badges" />
{% endblock file_metadata %}
{% block navhighlight %}{{navhighlight('badges')}}{% endblock navhighlight %}
{% block content %}
<style type="text/css">
  .badges-section {
    margin-bottom:30px;
  }
  .badges-section .media {
    margin-top: 30px;
  }
  h1.badge-title{
    margin-top: 10px;
  }
  #modal-badge-img {
    position:absolute;
    right: 25px;
    bottom: 25px;
    opacity: 0.5;
  }
  #assertion-modal.in {
    color: black;
  }
</style>
<p>The web and other new learning spaces provide many ways to gain skills and experience&mdash;from online courses, learning networks, mentorship, and peer learning. Badges provide an open, portable, verifiable way for learners to get recognition for these skills.  Using Mozilla's <a href="http://openbadges.org">Open Badge Infrastructure</a>, Software Carpentry is issuing three kinds of badges, and more are being defined.</p>

<div class="badges-section">
<div class="media">
  <img class="media-object pull-left" 
       src="{{root_path}}/img/badges/creator.png" 
       alt="Software Carpentry 'Creator' Badge" />
  <div class="media-body">
    <a id="creator-badge"><h1 class="badge-title">Creator Badge</h1></a>
    <h4>Awarded for creating teaching materials for Software Carpentry</h4>
  </div>
</div>

{% set creators = [
    ('Steve Crouch', 'crouch.s', ''), 
    ('Richard "Tommy" Guy', 'guy.t', ''), 
    ('Mike Jackson', 'jackson.m', ''), 
    ('Jason Montojo', 'montojo.j', ''),
    ('Jon Pipitone', 'pipitone.j', ''),
    ('Ethan White', 'white.e', ''),
    ('Greg Wilson', 'wilson.g', ''),
]%}

{{list_badges('creator', creators)}}

<div class="media">
  <img class="media-object pull-left" 
       src="{{root_path}}/img/badges/instructor.png" 
       alt="Software Carpentry 'Instructor' Badge" />
  <div class="media-body">
    <a id="instructor-badge"><h1 class="badge-title">Instructor Badge</h1></a>
    <h4>Awarded to individuals qualified to lead Software Carpentry boot camps</h4>
  </div>
</div>

{% set instructors = [
  ('Aron Ahmadia', 'ahmadia.a', ''),
  ('Carlos Anderson', 'anderson.c', ''),
  ('Dhavide Aruliah', 'aruliah.d', ''),
  ('Diego Barneche', 'barneche.diego', ''),
  ('John Blischak', 'blischak.j', ''),
  ('Azalee Bostroem', 'bostroem.a', ''),
  ('Erik Bray', 'bray.e', ''),
  ('C. Titus Brown', 'brown.ct', ''),
  ('Jennifer Bryan', 'bryan.j', ''),
  ('Rosangela Canino-Koning', 'canino-koning.r', ''),
  ('Chris Cannam', 'cannam.c', ''),
  ('Adina Chuang Howe', 'chuang-howe.a', ''),
  ('Neil Chue Hong', 'chue-hong.n', ''),
  ('Stefano Cozzini', 'cozzini.s', 'http://www.democritos.it/~cozzini/'),
  ('Steve Crouch', 'crouch.s', ''),
  ('Matt Davis', 'davis.m', ''),
  ('Ross Dickson', 'dickson.r', ''),
  ('Jonathan Dursi', 'dursi.j', ''),
  ('Justin Ely', 'ely.j', ''),
  ('Richard Enbody', 'enbody.r', ''),
  ('Daniel Falster', 'falster.daniel', ''),
  ('Luis Figueira', 'figueira.l', ''),
  ('Rich FitzJohn', 'fitzjohn.rich', ''),
  ('Julia Gustavsen', 'gustavsen.j', ''),
  ('Richard "Tommy" Guy', 'guy.t', ''),
  ('Steve Haddock', 'haddock.s', ''),
  ('Mike Hansen', 'hansen.m', ''),
  ('Ted Hart', 'hart.t', ''),
  ('Konrad Hinsen', 'hinsen.k', ''),
  ('Katy Huff', 'huff.k', ''),
  ('Paul Ivanov', 'ivanov.p', ''),
  ('Mike Jackson', 'jackson.m', ''),
  ('David Jones', 'jones.d', ''),
  ('Jessica Kerr', 'kerr.j', ''),
  ('Justin Kitzes', 'kitzes.j', ''),
  ('Steven Koenig', 'koenig.steven', ''),
  ('Bernhard Konrad', 'konrad.b', ''),
  ('Karin Lagesen', 'lagesen.k', ''),
  ('Ian Langmore', 'langmore.i', ''),
  ('Chris Lasher', 'lasher.c', ''),
  ('Doug Latornell', 'latornell.d', ''),
  ('Stephen McGough', 'mcgough.s', ''),
  ('Jessica McKellar', 'mckellar.j', ''),
  ('Emily Jane McTavish', 'mctavish.ej', ''),
  ('Ian Mitchell', 'mitchell.i', ''),
  ('Ben Morris', 'morris.b', ''),
  ('Lex Nederbragt', 'nederbragt.l', ''),
  ('Ron Olson', 'olson.r', ''),
  ('Aleksandra Pawlik', 'pawlik.a', ''),
  ('Jason Pell', 'pell.j', ''),
  ('Fernando Perez', 'perez.f', ''),
  ('Caitlyn Pickens', 'pickens.c', ''),
  ('Karthik Ram', 'ram.k', ''),
  ('Ariel Rokem', 'rokem.a', ''),
  ('Jory Schossau', 'schossau.j', ''),
  ('Anthony Scopatz', 'scopatz.a', ''),
  ('Jeff Shelton', 'shelton.j', ''),
  ('Joshua Ryan Smith', 'smith.j', ''),
  ('Sarah Supp', 'supp.s', ''),
  ('Tracy Teal', 'teal.t', ''),
  ('Will Trimble', 'trimble.will', ''),
  ('Nelle Varoquaux', 'varoquaux.n', ''),
  ('Bogdan Vera', 'vera.b', ''),
  ('Alex Viana', 'viana.a', ''),
  ('Jens von der Linden', 'vonderlinden.jens', ''),
  ('Ben Waugh', 'waugh.b', ''),
  ('Ethan White', 'white.e', ''),
  ('Lynne Williams', 'williams.l', ''),
  ('Greg Wilson', 'wilson.g', ''),
  ('Chris Woods', 'woods.c', '')
]%}

{{list_badges('instructor', instructors)}}

<div class="media">
  <img class="media-object pull-left" 
       src="{{root_path}}/img/badges/organizer.png" 
       alt="Software Carpentry 'Organizer' Badge" />
  <div class="media-body">
    <a id="organizer-badge"><h1 class="badge-title">Organizer Badge</h1></a>
    <h4>Awarded for organizing Software Carpentry boot camps</h4>
  </div>
</div>

{% set organizers = [
  ('Jorge Aranda', 'aranda.j', ''),
  ('Casey Bergman', 'bergman.c', ''),
  ('Bruce Berriman', 'berriman.b', 'http://astrocompute.wordpress.com/'),
  ('Onno Broekmans', 'broekmans.o', ''),
  ('Amy Brown', 'brown.amy', ''),
  ('Alex Chartier', 'chartier.a', ''),
  ('Shreyas Cholia', 'cholia.s', ''),
  ('Stefano Cozzini', 'cozzini.s', 'http://www.democritos.it/~cozzini/'),
  ('Ross Dickson', 'dickson.r', ''),
  ('Dan Ellis', 'ellis.dan', ''),
  ('Philip Fowler', 'fowler.p', ''),
  ('Carole Goble', 'goble.c', ''),
  ('Chris Gray', 'gray.c', ''),
  ('James Hetherington', 'hetherington.james', ''),
  ('Bill Howe', 'howe.b', ''),
  ('Damien Irving', 'irving.d', ''),
  ('Nic Kooyers', 'kooyers.n', 'http://pages.wustl.edu/olsen/people/nic-kooyers'),
  ('Ian Langmore', 'langmore.i', ''),
  ('Paul Lu', 'lu.p', 'http://www.cs.ualberta.ca/~paullu'),
  ('Andrew Lumsdaine', 'lumsdaine.a', 'http://www.cs.indiana.edu/~lums/'),
  ('Joshua Madin', 'madin.j', ''),
  ('Damian Marchewka', 'marchewka.damian', ''),
  ('Ian M. Mitchell', 'mitchell.i', ''),
  ('Jason Montojo', 'montojo.j', ''),
  ('Lex Nederbragt', 'nederbragt.l', 'http://contig.wordpress.com/'),
  ('Chris Paciorek', 'paciorek.c', 'http://www.stat.berkeley.edu/~paciorek/'),
  ('Marian Petre', 'petre.m', ''),
  ('Jon Pipitone', 'pipitone.j', ''),
  ('Mark Plumbley', 'plumbley.m', ''),
  ('Michael Rezny', 'rezny.m', ''),
  ('Rachel Schutt', 'schutt.r', '' ),
  ('Jeff Shelton', 'shelton.j', ''),
  ('Andrew Su', 'su.a', 'http://sulab.org/'),
  ('Todd Vision', 'vision.t', ''),
  ('Ben Waugh', 'waugh.b', ''),
  ('Ethan White', 'white.e', ''),
  ('Greg Wilson', 'wilson.g', ''),
  ('Robin Wilson', 'wilson.r', ''),
  ('Paul Wilson', 'wilson.p', ''),
  ('David Wolever', 'wolever.d', ''),
]%}

{{list_badges('organizer', organizers)}}
</div>

{{badge_issuing()}}

{% endblock content %}
