{% extends "_base.html" %}
{% block file_metadata %}
  <meta name="title" content="Instructor Badge" />
{% endblock file_metadata %}
{% block navhighlight %}{{navhighlight('badges')}}{% endblock navhighlight %}
{% block content %}
<div class="media">
  <img class="media-object pull-left" src="{{root_path}}/img/badges/instructor.png" alt="Software Carpentry 'Instructor' Badge" />
  <div class="media-body">Awarded to individuals qualified to lead Software Carpentry boot camps.</div>
</div>
<ul>
  <li><a href="{{root_path}}/about/team.html#brown.ct">C. Titus Brown</a></li>
  <li><a href="{{root_path}}/about/team.html#white.e">Ethan White</a></li>
  <li><a href="{{root_path}}/about/team.html#anderson.c">Carlos Anderson</a></li>
  <li><a href="{{root_path}}/about/team.html#aruliah.d">Dhavide Aruliah</a></li>
  <li><a href="{{root_path}}/about/team.html#bostroem.a">Azalee Bostroem</a></li>
  <li><a href="{{root_path}}/about/team.html#bray.e">Erik Bray</a></li>
  <li><a href="{{root_path}}/about/team.html#cannam.c">Chris Cannam</a></li>
  <li><a href="{{root_path}}/about/team.html#chuang-howe.a">Adina Chuang Howe</a></li>
  <li><a href="{{root_path}}/about/team.html#chue-hong.n">Neil Chue Hong</a></li>
  <li><a href="{{root_path}}/about/team.html#crouch.s">Steve Crouch</a></li>
  <li><a href="{{root_path}}/about/team.html#davis.m">Matt Davis</a></li>
  <li><a href="{{root_path}}/about/team.html#dickson.r">Ross Dickson</a></li>
  <li><a href="{{root_path}}/about/team.html#dursi.j">Jonathan Dursi</a></li>
  <li><a href="{{root_path}}/about/team.html#ely.j">Justin Ely</a></li>
  <li><a href="{{root_path}}/about/team.html#guy.t">Richard "Tommy" Guy</a></li>
  <li><a href="{{root_path}}/about/team.html#haddock.s">Steve Haddock</a></li>
  <li><a href="{{root_path}}/about/team.html#hansen.m">Mike Hansen</a></li>
  <li><a href="{{root_path}}/about/team.html#hart.t">Ted Hart</a></li>
  <li><a href="{{root_path}}/about/team.html#hinsen.k">Konrad Hinsen</a></li>
  <li><a href="{{root_path}}/about/team.html#huff.k">Katy Huff</a></li>
  <li><a href="{{root_path}}/about/team.html#jackson.m">Mike Jackson</a></li>
  <li><a href="{{root_path}}/about/team.html#mitchell.i">Ian Mitchell</a></li>
  <li><a href="{{root_path}}/about/team.html#mckellar.j">Jessica McKellar</a></li>
  <li><a href="{{root_path}}/about/team.html#pell.j">Jason Pell</a></li>
  <li><a href="{{root_path}}/about/team.html#perez.f">Fernando Perez</a></li>
  <li><a href="{{root_path}}/about/team.html#scopatz.a">Anthony Scopatz</a></li>
  <li><a href="{{root_path}}/about/team.html#shelton.j">Jeff Shelton</a></li>
  <li><a href="{{root_path}}/about/team.html#smith.j">Joshua Ryan Smith</a></li>
  <li><a href="{{root_path}}/about/team.html#varoquaux.n">Nelle Varoquaux</a></li>
  <li><a href="{{root_path}}/about/team.html#williams.l">Lynne Williams</a></li>
  <li><a href="{{root_path}}/about/team.html#wilson.g">Greg Wilson</a></li>
</ul>
{% endblock content %}
