{% extends "_base.html" %}
{% block file_metadata %}
  <meta name="title" content="Organizer Badge" />
{% endblock file_metadata %}
{% block navhighlight %}{{navhighlight('badges')}}{% endblock navhighlight %}
{% block content %}
<script src="http://beta.openbadges.org/issuer.js"></script>
<script type="text/javascript">
    function issue(badge, user) {
        OpenBadges.issue(["{{site}}/badges/"+badge+"/"+user+".json"]); 
    }
</script>
<div class="media">
  <img class="media-object pull-left" src="{{root_path}}/img/badges/organizer.png" alt="Software Carpentry 'Organizer' Badge" />
  <div class="media-body">Awarded for organizing Software Carpentry boot camps.<br/>Please click on the download icon to fetch the individual badge.</div>
</div>
<table>
  <tr>
    <td><a href="javascript: issue('organizer', 'berriman.b');"><i class="icon-download"></i></a></td>
    <td><a href="http://astrocompute.wordpress.com/">Bruce Berriman</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'cholia.s');"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#cholia.s">Shreyas Cholia</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'cozzini.s');"><i class="icon-download"></i></a></td>
    <td><a href="http://www.democritos.it/~cozzini/">Stefano Cozzini</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'dickson.r');"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#dickson.r">Ross Dickson</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'fowler.p');"><i class="icon-download"></i></a></td>
    <td><a href="http://sbcb.bioch.ox.ac.uk/currentmembers/fowler.php"></a>Philip Fowler</td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'gray.c');"><i class="icon-download"></i></a></td>
    <td>Chris Gray</td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'kooyers.n');"><i class="icon-download"></i></a></td>
    <td><a href="http://pages.wustl.edu/olsen/people/nic-kooyers">Nic Kooyers</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'lu.p');"><i class="icon-download"></i></a></td>
    <td><a href="http://www.cs.ualberta.ca/~paullu">Paul Lu</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'lumsdaine.a');"><i class="icon-download"></i></a></td>
    <td><a href="http://www.cs.indiana.edu/~lums/">Andrew Lumsdaine</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'mitchell.i');"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#mitchell.i">Ian M. Mitchell</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'nederbragt.l');"><i class="icon-download"></i></a></td>
    <td><a href="http://contig.wordpress.com/">Lex Nederbragt</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'paciorek.c');"><i class="icon-download"></i></a></td>
    <td><a href="http://www.stat.berkeley.edu/~paciorek/">Chris Paciorek</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'pipitone.j');"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#pipitone.j">Jon Pipitone</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'plumbley.m');"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#plumbley.m">Mark Plumbley</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'schutt.r');"><i class="icon-download"></i></a></td>
    <td>Rachel Schutt</td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'shelton.j');"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#shelton.j">Jeff Shelton</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'su.a');"><i class="icon-download"></i></a></td>
    <td><a href="http://sulab.org/">Andrew Su</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'waugh.b');"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#waugh.b">Ben Waugh</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'white.e');"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#white.e">Ethan White</a></td>
  </tr>
  <tr>
    <td><a href="javascript: issue('organizer', 'wilson.g');"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#wilson.g">Greg Wilson</a></td>
  </tr>
</table>
{% endblock content %}
