{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Purdue University" />
  <meta name="date" content="October 2012" />
  <meta name="startdate" content="2012-10-08" />
  <meta name="enddate" content="2012-10-09" />
  <meta name="latlng" content="40.4282668,-86.9143245" />
  <meta name="country" content="United-States" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Purdue University (currently scheduled for Stewart Center, Room 318).</p>
<p><strong>When:</strong> October 8-9, 2012. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
