{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Newcastle" />
  <meta name="date" content="October 2012" />
  <meta name="startdate" content="2012-10-22" />
  <meta name="enddate" content="2012-10-23" />
  <meta name="latlng" content="54.980095,-1.6146142" />
  <meta name="country" content="United-Kingdom" />
{% endblock file_metadata %}
{% block content %}
<p>The University of Newcastle is running a Software Carpentry boot camp on October 22-23, 2012. For more information, or to register, please see <a href="http://digitalinstitute.ncl.ac.uk/software_carpentry">their web site</a>.</p>
{% endblock content %}
