{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="MIT" />
  <meta name="date" content="July 2012" />
  <meta name="startdate" content="2012-07-09" />
  <meta name="enddate" content="2012-07-10" />
  <meta name="latlng" content="42.3591326,-71.093201" />
  <meta name="country" content="United-States" />
{% endblock file_metadata %}
{% block content %}
<p><a href="http://www.nap.edu/catalog.php?record_id=9853"><em>How People Learn</em></a></p>
<p><strong>Where:</strong> Room 32-141, CSAIL, MIT, 32 Vassar Street, Cambridge, MA</p>
<p><strong>When:</strong> July 9-10, 2012. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
