{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Toronto" />
  <meta name="date" content="February 2012" />
  <meta name="startdate" content="2012-02-23" />
  <meta name="enddate" content="2012-02-24" />
  <meta name="latlng" content="43.661476,-79.395189" />
{% endblock file_metadata %}
{% block content %}
<p><strong>When:</strong> February 23-24, 2012. 9am to 5pm.</p>
<p><strong>Where:</strong> Rooms 1230 &amp; 1240, Bahen Centre for Information Technology, 40 St. George Street, Toronto, Ontario.</p>
<p><strong>Instructors and Teaching Assistants:<br />
</strong></p>
<ul>
<li>Jonathan Dursi (main contact)</li>
<li>Matt Davis</li>
<li>Mike Fletcher</li>
<li>Christian Muise</li>
<li>Elizabeth Patsis</li>
<li>Greg Wilson</li>
</ul>
{% endblock content %}
