{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of North Carolina" />
  <meta name="date" content="November 2012" />
  <meta name="startdate" content="2012-11-28" />
  <meta name="enddate" content="2012-11-29" />
  <meta name="latlng" content="34.2274248,-77.8791793" />
  <meta name="country" content="United-States" />
  <meta name="eventbrite_key" content="4224585850" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of North Carolina.</p>
<p><strong>When:</strong> November 28-29, 2012. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
