{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="George Mason University" />
  <meta name="date" content="October 2012" />
  <meta name="startdate" content="2012-10-25" />
  <meta name="enddate" content="2012-10-26" />
  <meta name="latlng" content="38.831513,-77.308746" />
  <meta name="country" content="United-States" />
  <meta name="eventbrite_key" content="4647209930" />
{% endblock file_metadata %}
{% block content %}
<p><strong>When:</strong> October 25-26, 2012</p>
<p><strong>Where:</strong> George Mason University</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
