{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="INRIA Paris" />
  <meta name="date" content="June 2012" />
  <meta name="startdate" content="2012-06-28" />
  <meta name="enddate" content="2012-06-29" />
{% endblock file_metadata %}
{% block content %}
<p><img src="{{root_path}}/files/2012/03/7pj1-212x300.png" /></p>
<p><strong>When:</strong> June 28-29, 2012.</p>
<p><strong>Where:</strong> INRIA Paris (Place d'Italie).</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
<p><strong>Sponsors:</strong></p>
<p><a href="http://www.logilab.fr/"><img title="Logilab - Paris-Bootcamp sponsors" src="http://www.logilab.fr/data/671fd84fb971933c98810e37637b7e0b/logo.png" /></a> <a href="http://www.majerti.fr"><img title="Majerti" src="http://www.majerti.fr/media/cms_page_media/2/logo_10.png" /></a></p>
<p><strong>Speakers:</strong></p>
<ul>
<li>Alexandre Gramfort <em>(INRIA &mdash; Neurospin)</em></li>
<li>Christophe Combelles <em>(Anybox)</em></li>
<li>Konrad Hinsen <em>(Centre de Biophysique Mol&eacute;culaire, Orl&eacute;ans)</em></li>
<li>Nelle Varoquaux <em>(Mines de Paris)</em></li>
</ul>
<p><strong>Contact:</strong> Nelle Varoquaux: nelle dot varoquaux at gmail dot com</p>
{% endblock content %}
