{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="NERSC" />
  <meta name="date" content="March 2012" />
  <meta name="startdate" content="2012-03-28" />
  <meta name="enddate" content="2012-03-29" />
  <meta name="latlng" content="37.8083814,-122.2675787" />
{% endblock file_metadata %}
{% block content %}
<p>Please download experiments.db.</p>
<p><img src="{{root_path}}/files/2012/01/database-tables1.png" /></p>
<hr />
<p><strong>When:</strong> March 28-29, 2012. 9am-5pm.</p>
<p><strong>Where:</strong> We will be in Conference Room 238, Oakland Scientific Facility (OSF), 415 20th Street ("Thomas L Berkley Way") at Franklin Street, Oakland (see <a href="http://www.nersc.gov/about/visitor-info/">http://www.nersc.gov/about/visitor-info/</a>).<br />
<strong>Registration:</strong> The course runs all day for two days, and the later content depends on earlier lessons, so please only register if you are able to attend both full sessions.<br />
<strong>Tentative Schedule:</strong><br />
<strong>March 28</strong><br />
9am-12pm: The Bash shell<br />
12pm-1pm: Lunch<br />
1pm-5pm: Introduction to Python</p>
<p><strong>March 29</strong><br />
9am-12: Version control with Subversion<br />
12pm-1pm: Lunch<br />
1pm-5pm: Relational Databases</p>
{% endblock content %}
