{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="DAFx Conference (University of York)" />
  <meta name="date" content="September 2012" />
  <meta name="startdate" content="2012-09-13" />
  <meta name="enddate" content="2012-09-14" />
  <meta name="latlng" content="53.9481933,-1.0529144" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> DAFx Conference, University of York.</p>
<p><strong>When:</strong> September 13-14, 2012. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
<p><strong>Requirements:</strong> Please see the Software Setup page for a list of the software you need to install for the boot camp. The final list will also be sent to participants a week before the boot camp.</p>
{% include "_content.html" %}
{% include "_contact.html" %}
<p><strong>Registration is being handled by the bootcamp organizers. </strong>Please see the following page for further information (accomodation, venue details, etc.): <a title="DAFx Bootcamp" href="http://soundsoftware.ac.uk/york2012-bootcamp">http://soundsoftware.ac.uk/york2012-bootcamp</a></p>
{% endblock content %}
