{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Johns Hopkins University" />
  <meta name="date" content="June 2012" />
  <meta name="startdate" content="2012-06-18" />
  <meta name="enddate" content="2012-06-19" />
  <meta name="latlng" content="39.3275798,-76.6207579" />
  <meta name="country" content="United-States" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Room 475, Bloomberg Center for Physics &amp; Astronomy, Johns Hopkins University</p>
<p><strong>When:</strong> June 18-19, 2012. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
<p><strong>Instructors:</strong></p>
<ul>
<li>Joshua R. Smith &mdash; <a href="https://twitter.com/joshua_r_smith">@joshua_r_smith</a></li>
<li>Matt Davis &mdash; <a href="http://penandpants.com">penandpants.com</a> &mdash; <a href="https://twitter.com/jiffyclub">@jiffyclub</a></li>
<li>Mike Droettboom &mdash; <a href="http://droettboom.com/">droettboom.com</a></li>
</ul>
{% include "_contact.html" %}
{% endblock content %}
