{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Oslo" />
  <meta name="date" content="September 2012" />
  <meta name="startdate" content="2012-09-17" />
  <meta name="enddate" content="2012-09-18" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Room 3213, Kristine Bonnevies hus, Blindernveien 31, University of Oslo. (Map: http://www.uio.no/om/finn-fram/omrader/blindern/bl18/) If you are using public transport, take T-bane (subway) lines 3 (towards Sognsvann), 4 (Ringen) or 5 (Storo) from the city central ("Jernbanetorget" close to the central train station), Nationaltheatret or Majorstuen, exit at Blindern station. It's a 6-7 minute walk from there.</p>
<p><strong>When:</strong> September 17-18, 2012. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
