{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Newcastle University" />
  <meta name="date" content="May 2012" />
  <meta name="startdate" content="2012-05-14" />
  <meta name="enddate" content="2012-05-15" />
{% endblock file_metadata %}
{% block content %}
<p><strong>This course is now fully booked and has a long waiting list. If you would like to be informed of similar events in the future, please e-mail us on <a href="mailto:swc2012@ncl.ac.uk">swc2012@ncl.ac.uk</a>.</strong></p>
<p><strong>When:</strong> May 14-15, 2012. 9am to 5pm.</p>
<p><strong>Where:</strong> Newcastle University, Newcastle upon Tyne</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
<p><strong>Registration:</strong> Please use this form to register your interest by April 6. We will allocate places to individuals and groups we believe will benefit, while aiming for a balance of subjects and geographical areas. We strongly encourage learners to attend with colleagues, so please create or join a team when you sign up. Ideally we would like teams of 3 to 6 members, and we will give preference to teams including one more knowledgeable member who is interested in organizing further training at their own institution. By registering you are stating that you will attend both days of the workshop and participate in the online exercises and follow-up sessions in the following weeks. We will notify all applicants as to whether they have a spot no later than April 13.</p>
<p><strong>Contact:</strong> For further information please e-mail us at swc2012@ncl.ac.uk.</p>
<p><strong>Material from the workshop:</strong></p>
<p>Monday May 14th<br />
<a href="{{root_path}}/files/2012/05/SC-WhatWeKnow.ppt"> What we actually know about developing software, and why we believe it's true</a> &mdash; Steve Crouch<br />
<a href="{{root_path}}/files/2012/05/swcNCL.zip"> The bash shell</a> &mdash; Steve McGough<br />
<a href="https://code.soundsoftware.ac.uk/projects/easyhg/wiki/SC2012BootcampPlan">Version control</a> &mdash; Chris Cannam<br />
Software Carpentry &mdash; Greg Wilson (no material)<br />
The basics of Python: <a href="{{root_path}}/files/2012/05/python-short-intro.ppt">Slides</a>, <a href="{{root_path}}/files/2012/05/python-intro.docx">Script</a> &mdash; Mike Jackson</p>
<p>Tuesday May 15<br />
Continuing Python programming<br />
- Round 1 (Functions) <a href="{{root_path}}/files/2012/05/SC-FunctionsIntro.ppt">Slides</a>, <a href="{{root_path}}/files/2012/05/SC-FunctionsScript.docx">Script</a> &mdash; Steve Crouch<br />
- Round 2 (Testing) <a href="{{root_path}}/files/2012/05/python-test-practical.ppt">Slides</a>, <a href="{{root_path}}/files/2012/05/python-testing.docx">Script</a>, <a href="{{root_path}}/files/2012/05/code.zip">code</a> &mdash; Mike Jackson<br />
Using relational databases <a href="{{root_path}}/files/2012/05/Experiments-DB-Overview.pdf">Table Overview</a>, <a href="{{root_path}}/files/2012/05/SC-DatabasesIntro.ppt">Slides</a>, <a href="{{root_path}}/files/2012/05/SC-DatabasesScript.docx">Script</a>, <a href="{{root_path}}/files/2012/05/code1.zip">code</a> &mdash; Steve Crouch<br />
<a href="{{root_path}}/files/2012/05/carpentry-conclusions.ppt"> Putting it all together</a> &mdash; Mike Jackson</p>
<p><strong>Event Evaluation:</strong></p>
<p><strong></strong>Evaluation of the event venue and local organisation: <a href="http://forms.ncl.ac.uk/view.php?id=3205">http://forms.ncl.ac.uk/view.php?id=3205</a></p>
{% endblock content %}
