{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Lawrence Berkeley National Laboratory" />
  <meta name="date" content="October 2012" />
  <meta name="startdate" content="2012-10-17" />
  <meta name="enddate" content="2012-10-18" />
  <meta name="latlng" content="37.8759281,-122.2500418" />
  <meta name="country" content="United-States" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Lawrence Berkeley National Laboratory, Building 50A, Room 5132</p>
<p><strong>When:</strong> October 17-18, 2012. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
<p><strong>Requirements:</strong> Visit the <a href="http://swcarpentry.github.com/2012-10-lbl/">bootcamp webpage</a> for installation and schedule information.</p>
{% include "_contact.html" %}
{% endblock content %}
