{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Chicago" />
  <meta name="date" content="January 2013" />
  <meta name="startdate" content="2013-01-12" />
  <meta name="enddate" content="2013-01-13" />
  <meta name="latlng" content="41.7901128,-87.6007318" />
  <meta name="country" content="United-States" />
  <meta name="eventbrite_key" content="4044017766" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Chicago. Kent Hall, Room 120, 1020 East 58th Street Chicago, IL 60637</p>
<p><strong>When:</strong> January 12-13, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
<p><strong>Requirements:</strong> Visit the <a href="http://swcarpentry.github.com/boot-camps/2013-01-12-chicago/">bootcamp web page</a> for installation instructions and schedule information.</p>
{% include "_content.html" %}
{% include "_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
