{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Stroud Water Research Center" />
  <meta name="date" content="September 2013" />
  <meta name="startdate" content="2013-09-30" />
  <meta name="enddate" content="2013-10-01" />
  <meta name="latlng" content="39.8609663,-75.7795073" />
  <meta name="registration" content="restricted" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Stroud Water Research Center, Avondale, PA</p>
<p><strong>When:</strong> September 30-October 1, 2013. We will start at 9:00 and end at 4:30 each day.</p>
<p><em>Registration for this boot camp has not yet opened. Registration will be restricted
    to Stroud Center researchers and staff.</em></p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
