{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Stanford University" />
  <meta name="date" content="May 2013" />
  <meta name="startdate" content="2013-05-06" />
  <meta name="enddate" content="2013-05-07" />
  <meta name="latlng" content="37.42949,-122.17186" />
  <meta name="instructor" content="ivanov.p" />
  <meta name="instructor" content="konrad.b" />
  <meta name="instructor" content="rokem.a" />
  <meta name="registration" content="full" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Room B005, Li Ka Shing Center for Learning and Knowledge, Stanford University.</p>
<p><strong>When:</strong> May 6-7, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
