{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Centre for Addiction and Mental Health" />
  <meta name="date" content="January 2013" />
  <meta name="startdate" content="2013-01-24" />
  <meta name="enddate" content="2013-01-25" />
  <meta name="latlng" content="43.6471184,-79.3942998" />
  <meta name="eventbrite_key" content="5086301264" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Mozilla Offices, 366 Adelaide St W, Toronto.  Suite 500</p>
<p><strong>When:</strong> January 24-25, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
