{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Mozilla Foundation (Toronto)" />
  <meta name="date" content="May 2013" />
  <meta name="startdate" content="2013-05-09" />
  <meta name="enddate" content="2013-05-10" />
  <meta name="latlng" content="43.64712,-79.39430" />
  <meta name="eventbrite_key" content="6181024611" />
  <meta name="instructor" content="pickens.c" />
  <meta name="instructor" content="pipitone.j" />
  <meta name="instructor" content="wilson.g" />
  <meta name="registration" content="open" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Mozilla Foundation, 366 Adelaide Street West, Suite 500, Toronto, Ontario.</p>
<p><strong>When:</strong> May 9-10, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content_r.html" %}
{% include "_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
