{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Washington" />
  <meta name="date" content="July 2013" />
  <meta name="startdate" content="2013-07-18" />
  <meta name="enddate" content="2013-07-19" />
  <meta name="latlng" content="47.655,-122.303333" />
  <meta name="instructor" content="ahmadia.a" />
  <meta name="instructor" content="vanderplas.jacob" />
  <meta name="instructor" content="mandli.kyle" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Washington</p>
<p><strong>When:</strong> July 18-19, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
