{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Manchester" />
  <meta name="date" content="April 2013" />
  <meta name="startdate" content="2013-04-18" />
  <meta name="enddate" content="2013-04-19" />
  <meta name="latlng" content="53.4783491,-2.2416052" />
  <meta name="registration" content="open" />
  <meta name="eventbrite_key" content="5397207192" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Manchester.</p>
<p><strong>When:</strong> April 18-19, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
