{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of California Berkeley" />
  <meta name="date" content="May 2013" />
  <meta name="startdate" content="2013-05-09" />
  <meta name="enddate" content="2013-05-10" />
  <meta name="latlng" content="37.8695,-122.258949" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of California Berkeley.</p>
<p><strong>When:</strong> May 9-10, 2013.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
