{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Arizona" />
  <meta name="date" content="April 2013" />
  <meta name="startdate" content="2013-04-04" />
  <meta name="enddate" content="2013-04-05" />
  <meta name="latlng" content="32.2363584,-110.9495396" />
  <meta name="country" content="United-States" />
  <meta name="eventbrite_key" content="5396735782" />
  <meta name="instructor" content="brown.ct" />
  <meta name="instructor" content="cranston.k" />
  <meta name="instructor" content="enbody.r" />
  <meta name="instructor" content="koop.d" />
  <meta name="registration" content="full" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Arizona.</p>
<p><strong>When:</strong> April 4-5, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}

<p>
We will cover the following topics:
</p>
<p>
<strong>Day 1: Python and automating data munging (i.e. cleaning) and summarization.</strong></p>
<p>
We'll talk about basic data loading, transformation, and summarization,
as well as good practice for doing reproducible analyses and traps that
await the unwary.  While we will use Python and IPython Notebook, the
lesson will be very applicable to those who use R as well.  We will
also discuss 'git' and github for version control.
</p>

<p><strong>Day 2: Shell, shell scripting, automation, and building data analysis pipelines</strong></p>

<p>
We'll take the approaches from Day 1 and combine them into an analysis pipeline
that can be run on many files in an automated fashion, and show how to
effectively automate data analysis.
</p>

{% include "_contact.html" %}
<p>
Registration will begin soon.
</p>
{% endblock content %}
