{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Maryland, Baltimore" />
  <meta name="date" content="April 2013" />
  <meta name="startdate" content="2013-04-27" />
  <meta name="enddate" content="2013-04-28" />
  <meta name="latlng" content="39.291389, -76.625" />
  <meta name="instructor" content="bostroem.a" />
  <meta name="instructor" content="viana.a" />
  <meta name="eventbrite_key" content="5919069095" />
  <meta name="registration" content="restricted" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Maryland, Baltimore. N111, Pharmacy Hall</p>
<p><strong>When:</strong> April 27-28, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
