{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Data Science for Social Good, U. of Chicago" />
  <meta name="date" content="June 2013" />
  <meta name="startdate" content="2013-06-04" />
  <meta name="enddate" content="2013-06-05" />
  <meta name="latlng" content="41.789722,-87.599722" />
  <meta name="registration" content="restricted" />
  <meta name="instructor" content="hauser.e" />
  <meta name="instructor" content="foertter.f" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> <a href="http://ci.uchicago.edu/datasciencefellowship/">Data Science for Social Good</a>, University of 
   Chicago.</p>
<p><strong>When:</strong> June 4-5 and June 17-18, 2013. We will start at 9:00 and end at 4:30 each day.</p>
<p>Registration for this boot camp is restricted to fellows of the
Data Science for Social Good summer fellowship.</p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
