{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Exeter, Tremough campus" />
  <meta name="date" content="June 2013" />
  <meta name="startdate" content="2013-11-01" />
  <meta name="enddate" content="2013-11-30" />
  <meta name="latlng" content="50.171071,-5.125101" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Exeter, Tremough campus.</p>
<p><strong>When:</strong>  November, 2013 (exact days to be determined). We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
<p>
  <strong>Registration</strong>:
  This boot camp is for physicists, engineers, biologists associated with the Wellcome Trust Biomedical Informatics Hub, The University of Exeter.
</p>
{% endblock content %}
