{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Duke University" />
  <meta name="date" content="May 2013" />
  <meta name="startdate" content="2013-05-20" />
  <meta name="enddate" content="2013-05-21" />
  <meta name="latlng" content="36.00283,-78.93827" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Duke University.</p>
<p><strong>When:</strong> May 20-21, 2013. We will start at 9:00 and end at 4:30 each day.</p>
<p><em>Registration for this boot camp has not yet opened.</em></p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content_r.html" %}
{% include "_contact.html" %}
{% endblock content %}
