{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Women in Science and Engineering" />
  <meta name="date" content="June 2013" />
  <meta name="startdate" content="2013-06-24" />
  <meta name="enddate" content="2013-06-25" />
  <meta name="latlng" content="32.887151, -117.246212" />
  <meta name="instructor" content="chuang-howe.a" />
  <meta name="instructor" content="mckellar.j" />
  <!--<meta name="instructor" content="supp.s" /-->
  <meta name="instructor" content="teal.t" />
  <meta name="registration" content="open" />
{% endblock file_metadata %}
{% block content %}

  <p><strong>Where:</strong> Microsoft Research, 1 Cambridge Center, Boston MA</p>
  <p><strong>When:</strong> June 24-25, 2013. We will start at 8:45 and end at 4:30 each day.</p>
  {% include "_what.html" %}
  <p><strong>Who:</strong> This boot camp is open to female graduate
    students, post-docs, faculty members, staff scientists, or equivalent
    in science, engineering, medicine, or a related field.  Participants
    should have some prior experience with basic programming.</p>

  <h2>Sponsors</h2>
  <p>We are very grateful for support from
    the following organizations, which has made this boot camp possible.</p>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include "microsoft.html" %}
    </div>
    <div class="span6">
      {% include "intel.html" %}
    </div>
  </div>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include "psf.html" %}
    </div>
    <div class="span6">
      {% include "sloan.html" %}
    </div>
  </div>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include "mozilla.html" %}
    </div>
    <div class="span6"></div>
  </div>

  <h2>Instructors</h2>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include "chuang-howe.a.html" %}
    </div>
    <div class="span6">
      {% include "varoquaux.n.html" %}
    </div>
  </div>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include "supp.s.html" %}
    </div>
    <div class="span6">
      {% include "mckellar.j.html" %}
    </div>
  </div>
  <div class="row-fluid" style="padding-bottom:15px;">
    <div class="span6">
      {% include "pickens.c.html" %}
    </div>
    <div class="span6">
      {% include "teal.t.html" %}
    </div>
  </div>

  <h2>Details</h2>
  {% include "_requirements.html" %}
  {% include "_content.html" %}
  {% include "_contact.html" %}
{% endblock content %}
