{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Virginia" />
  <meta name="date" content="March 2013" />
  <meta name="startdate" content="2013-03-07" />
  <meta name="enddate" content="2013-03-08" />
  <meta name="open" content="open" />
  <meta name="latlng" content="38.031441,-78.499356" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Virginia.</p>
<p><strong>When:</strong> March 7-8, 2013. We will start at 9:00 and end at 4:30 each day.</p>
<p><strong>Note:</strong> Registration is being handled by the University of Virginia.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
