{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Wisconsin - Madison" />
  <meta name="date" content="April 2013" />
  <meta name="startdate" content="2013-04-29" />
  <meta name="enddate" content="2013-04-30" />
  <meta name="latlng" content="43.07718,-89.40399" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Wisconsin - Madison</p>
<p><strong>When:</strong> April 29-30, 2013. We will start at 9:00 and end at 4:30 each day.</p>
<p><em>Registration for this boot camp has not yet opened.</em></p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
