{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Bath" />
  <meta name="date" content="July 2013" />
  <meta name="startdate" content="2013-07-15" />
  <meta name="enddate" content="2013-07-16" />
  <meta name="latlng" content="51.3777431,-2.3263779" />
  <meta name="country" content="United-Kingdom" />
  <meta name="registration" content="open" />
  <meta name="instructor" content="jackson.m" />
  <meta name="instructor" content="woods.c" />
  <meta name="eventbrite_key" content="6059565323" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Bath.</p>
<p><strong>When:</strong> July 15-16, 2013. We will start at 9:00 and end at 4:30 each day.</p>
<p><strong>Note: priority will be given to students attending the <a href="http://people.bath.ac.uk/ee3jarr/beaconsatellite2013/">Beacons Satellite Symposium</a> the previous week.</strong></p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
<p>
  <strong>Contact</strong>:
  Please mail the
  <a href="mailto:host-bath@software-carpentry.org">local organiser</a> for more information.
</p>
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
