{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Space Telescope Science Institute" />
  <meta name="date" content="September 2013" />
  <meta name="startdate" content="2013-09-16" />
  <meta name="enddate" content="2013-09-17" />
  <meta name="latlng" content="39.332887,-76.622987" />
  <meta name="instructor" content="bostroem.a" />
  <meta name="instructor" content="ely.j" />
  <meta name="instructor" content="wilson.g" />
  <meta name="instructor" content="viana.a" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Space Telescope Science Institute, Baltimore, MD</p>
<p><strong>When:</strong> September 16-17, 2013. We will start at 9:00 and end at 4:30 each day.</p>
<p><em>Registration for this boot camp has not yet opened.</em></p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
