{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Arizona" />
  <meta name="date" content="April 2013" />
  <meta name="startdate" content="2013-04-04" />
  <meta name="enddate" content="2013-04-05" />
  <meta name="latlng" content="32.2363584,-110.9495396" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Arizona.</p>
<p><strong>When:</strong> April 4-5, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
