{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="NOAA / WHOI" />
  <meta name="date" content="November 2013" />
  <meta name="startdate" content="2013-11-14" />
  <meta name="enddate" content="2013-11-15" />
  <meta name="latlng" content="41.526667,-70.663056" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Aquarium Conference Room, NOAA National Marine Fisheries Service, Woods Hole</p>
<p><strong>When:</strong> November 14-15. We will start at 9:00 and end at 4:30 each day.</p>
<p><em>Registration for this boot camp has not yet opened. </em></p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
