{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Macquarie University" />
  <meta name="date" content="February 2013" />
  <meta name="startdate" content="2013-02-07" />
  <meta name="enddate" content="2013-02-08" />
  <meta name="latlng" content="-33.773636,151.112005" />
  <meta name="eventbrite_key" content="4114901782" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Macquarie University, Sydney.</p>
<p><strong>When:</strong> February 7-8, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
