{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Oslo" />
  <meta name="date" content="July 2013" />
  <meta name="startdate" content="2013-07-03" />
  <meta name="enddate" content="2013-07-04" />
  <meta name="registration" content="open" />
  <meta name="latlng" content="59.9399586,10.7217496" />
  <meta name="country" content="Norway" />
  <meta name="eventbrite_key" content="5398444894" />
  <meta name="instructor" content="lagesen.k" />
  <meta name="instructor" content="nederbragt.l" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Auditorium 2, <a href="http://www.uio.no/om/finn-fram/omrader/blindern/bl27/">Georg Sverdrups hus</a>, Moltke Moes vei 39, University of Oslo.  By public transport, take T-bane (subway) lines 3 (towards Storo), 4 (Ringen) or 6 (Sognsvann) from the city central ('Jernbanetorget' close to the central train station), Nationaltheatret or Majorstuen. Exit at Blindern station. It's a 4-5 minute walk from there.</p>
<p><strong>When:</strong> July 3-4, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
