{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Oxford" />
  <meta name="date" content="May 2013" />
  <meta name="startdate" content="2013-05-09" />
  <meta name="enddate" content="2013-05-10" />
  <meta name="latlng" content="51.759865,-1.258648" />
  <meta name="registration" content="restricted" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Oxford.</p>
<p><strong>Note: Enrolment is restricted to students of the Doctoral Training Centres at The University of Oxford.</strong></p>
<p><strong>When:</strong> May 9-10, 2013. We will start at 9:00 and end at 17:00 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
<p>
  <strong>Requirements:</strong>
  Participants are strongly recommended to bring a laptop with a few specific software packages installed.
  (The list will be sent to participants a week before the boot camp.)
  However there will be Windows desktops available in the teaching room for those without laptops.
</p>
<p>
  <strong>Content:</strong> The syllabus for this boot camp will include:
</p>
<ul>
  <li>using version control to manage and share information</li>
  <li>basic Python programming</li>
  <li>how (and how much) to test programs</li>
  <li>documentation and debugging</li>
  <li>managing and querying scientific data with sqlite</li>
  <li>applying Software Carpentry techniques in Matlab</li>
</ul>
<p>
  <strong>Contact</strong>:
  Please contact <a href="http://www.cs.ox.ac.uk/people/jonathan.cooper">Jonathan Cooper</a>
  for more information, or see <a href="http://jonc125.github.com/boot-camps/2013-05-09-oxford-dtc/">the boot camp website</a>.
</p>
{% endblock content %}
