{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Utah State University" />
  <meta name="date" content="July 2013" />
  <meta name="startdate" content="2013-07-16" />
  <meta name="enddate" content="2013-07-17" />
  <meta name="latlng" content="41.74080,-111.81416" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Utah State University</p>
<p><strong>When:</strong> July 16-17, 2013. We will start at 9:00 and end at 4:30 each day.</p>
<p><em>Registration for this boot camp has not yet opened.</em></p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
