{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Kansas" />
  <meta name="date" content="August 2013" />
  <meta name="startdate" content="2013-08-22" />
  <meta name="enddate" content="2013-08-23" />
  <meta name="latlng" content="38.9584551,-95.2432842" />
  <meta name="registration" content="restricted" />
  <meta name="eventbrite_key" content="6905790405" />
  <meta name="instructor" content="mctavish.ej" />
  <meta name="instructor" content="cranston.k" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> The Commons at the University of Kansas</p>
<p><strong>When:</strong> August 22-23, 2013. We will start at 9:00 and end at 4:30 each day.</p>
<p><strong>Note:</strong> This boot camp is restricted to students, postdocs, faculty and other people affiilated with University of Kansas and Kansas State University.
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
