{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of British Columbia" />
  <meta name="date" content="January 2013" />
  <meta name="startdate" content="2013-01-11" />
  <meta name="latlng" content="49.2617149,-123.2534305" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> MSL 101, University of British Columbia.</p>
<p><strong>When:</strong> January 11, 2013. We will start at 9:00 and end at 4:30.</p>
<p><strong>Topics:</strong></p>
<ol>
  <li>R Basics, workspace, working directory, projects in RStudio</li>
  <li>Importing, exporting and cleaning data.</li>
  <li>Data manipulation, aggregation and indexing.</li>
  <li>Working with a statistical model object.</li>
</ol>
<p>
  <strong>Who:</strong>
  The course is aimed at postgraduate students and other scientists
  who are new to R.
</p>
{% include "_requirements.html" %}
{% include "_contact.html" %}
<p>Participation in this boot camp is by invitation.</p>
{% endblock content %}
