{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of British Columbia" />
  <meta name="date" content="February 2013" />
  <meta name="startdate" content="2013-02-04" />
  <meta name="enddate" content="2013-02-05" />
  <meta name="latlng" content="49.2617149,-123.2534305" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of British Columbia.</p>
<p><strong>When:</strong> February 4-5, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
