{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Massachusetts Amherst" />
  <meta name="date" content="May 2013" />
  <meta name="startdate" content="2013-05-23" />
  <meta name="enddate" content="2013-05-24" />
  <meta name="latlng" content="42.388889, -72.527778" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Massachusetts Amherst.</p>
<p><strong>When:</strong> May 23-24, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
