{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="AMOS Conference (Melbourne)" />
  <meta name="date" content="February 2013" />
  <meta name="startdate" content="2013-02-14" />
  <meta name="enddate" content="2013-02-15" />
  <meta name="latlng" content="-37.8253285,144.9516212" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> <a href="http://www.amos.org.au/events/id/92/title/AMOS%20National%20Conference%2011-13%20February%202013%20-%20Melbourne">AMOS National Conference</a>, Melbourne.</p>
<p><strong>When:</strong> February 14-15, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
<p>Enrolment in this workshop is restricted to conference attendees.</p>
{% endblock content %}
