{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="McGill University" />
  <meta name="date" content="January 2013" />
  <meta name="startdate" content="2013-01-12" />
  <meta name="enddate" content="2013-01-13" />
  <meta name="latlng" content="45.4174172,-73.9489284" />
  <meta name="eventbrite_key" content="4859419655" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> McGill University.</p>
<p><strong>When:</strong> January 12-13, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
