{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="King Abdullah University of Science and Technology" />
  <meta name="date" content="March 2013" />
  <meta name="startdate" content="2013-03-24" />
  <meta name="enddate" content="2013-03-25" />
  <meta name="latlng" content="22.3101,39.1259" />
  <meta name="registration" content="full" />
  <meta name="eventbrite_key" content="5790053205" />
  <meta name="instructor" content="ahmadia.a" />
  <meta name="instructor" content="ketcheson.david" />
  <meta name="instructor" content="yunis.enas" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Library Computer Laboratory, King Abdullah University of Science and Technology.</p>
<p><strong>When:</strong> March 24-25, 2013. We will start at 9:00 and end at 4:30 each day. Note that this is a two-day boot camp.</p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
<p>
<strong>Requirements:</strong> The course will be delivered on the KAUST library
computers using the Apple OS X operating system.  Students are welcome to bring in
their own laptops or connect to remote workstations during the boot camp.
</p>

<p>
  <strong>Content:</strong> The syllabus for this boot camp will include:
</p>
<ul>
  <li>using the shell to do more in less time</li>
  <li>using version control to manage and share information</li>
  <li>basic Python programming and the IPython notebook</li>
  <li>how (and how much) to test programs</li>
  <li>reproducible documents and workflows with make and the IPython notebook
  </li>
  <li>using Python in high performance computing</li>
</ul>
<p><strong>Contact:</strong> Please email
<a href="mailto:info@software-carpentry.org">info@software-carpentry.org</a> for
general information about Software Carpentry bootcamps, local organizer
<a href="mailto:david.ketcheson@kaust.edu.sa">Prof. David Ketcheson</a>, or instructor
<a href="mailto:aron.ahmadia@gmail.com">Dr. Aron Ahmadia</a>.
</p>
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
