{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Technische Universitat Munchen" />
  <meta name="date" content="January 2013" />
  <meta name="startdate" content="2013-01-22" />
  <meta name="enddate" content="2013-01-23" />
  <meta name="latlng" content="48.264934,11.669121" />
  <meta name="eventbrite_key" content="4602466100" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> 1 Maximus-von-Imhof-Forum, 85354 Freising, Germany</p>
<p><strong>When:</strong> January 22-23, 2013. We will start at 9:00 and end at 4:30 each day.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
