{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Lawrence Berkeley National Laboratory" />
  <meta name="date" content="March 2013" />
  <meta name="startdate" content="2013-03-04" />
  <meta name="enddate" content="2013-03-07" />
  <meta name="restricted" content="true" />
  <meta name="latlng" content="37.8759281,-122.2500418" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Lawrence Berkeley National Laboratory.</p>
<p><strong>When:</strong> March 4-5 and March 6-7, 2013.  (We are offering two separate boot camps back to back.)</p>
<p><strong>Note:</strong> Participation in these boot camps is restricted to LBL staff.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
