{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="University of Manchester" />
  <meta name="date" content="April 2013" />
  <meta name="startdate" content="2013-04-18" />
  <meta name="enddate" content="2013-04-19" />
  <meta name="latlng" content="53.4783491,-2.2416052" />
  <meta name="registration" content="open" />
  <meta name="eventbrite_key" content="5397207192" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> University of Manchester.</p>
<p><strong>When:</strong> April 18-19, 2013.</p>
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_content.html" %}
<p>
  <strong>More information:</strong>
  For more information, including the timetable, and what software you 
  need to install before you arrive, please visit our
  <a href="https://github.com/swcarpentry/boot-camps/blob/2013-04-manchester/README.md">GitHub page</a>.
</p>
{% include "_contact.html" %}
{{eventbrite(page.eventbrite_key, page.venue, page.date)}}
{% endblock content %}
