{% extends "_bootcamp.html" %}
{% block file_metadata %}
  <meta name="venue" content="Information Sciences Institute" />
  <meta name="date" content="September 2013" />
  <meta name="startdate" content="2013-09-16" />
  <meta name="enddate" content="2013-09-17" />
  <meta name="latlng" content="33.9802,-118.440031" />
{% endblock file_metadata %}
{% block content %}
<p><strong>Where:</strong> Information Sciences Institute, Marina del Rey, CA</p>
<p><strong>When:</strong> September 16-17, 2013. We will start at 9:00 and end at 4:30 each day.</p>
<p><em>Registration will be restricted to staff, students and faculty of the University of Southern California. Registration for this boot camp has not yet opened.</em></p>
{% include "_instructors.html" %}
{% include "_what.html" %}
{% include "_who.html" %}
{% include "_requirements.html" %}
{% include "_content.html" %}
{% include "_contact.html" %}
{% endblock content %}
