{% extends "_base.html" %}
{% block file_metadata %}
  <meta name="title" content="How to Run a Boot Camp" />
{% endblock file_metadata %}

{% block navhighlight %}{{navhighlight('bootcamps')}}{% endblock navhighlight %}

{% block content %}

<p>A boot camp is a workshop during which participants learn software skills based on shorts tutorials and hands-on practical exercises. The boot camp runs over 2-3 days with 20-50 attendees, 2-3 instructors, and at least one helper for every 10 attendees.</p>

<p><em>Instructors</em> give the lectures and lead the practicals and they help the attendees during practical sessions. <em>Helpers</em>
 provide assistance during practical sessions. Helpers typically have attended a previous boot camp, or are familiar with the subject matter.</p>

<p>If you have any questions or would like help organising your boot camp, please contact us by email at <a href="mailto:{{contact_email}}">{{contact_email}}</a>.</p>

<h2>How to organise your boot camp</h2>

<h3>1. Decide what sort of boot camp you'll run</h3>

<p>Be clear what sort of workshop you will run. Can anyone apply or is it restricted to a specific university or company? You'll need to decide this very early on and then stick to it, because the type of workshop you host will drive many of your other decisions: from the topics covered, to the room used, to how you plan any follow-up sessions.</p>

<p>There are pros and cons either way. A closed workshop can be more easily tailored to a specific audience, the attendees are more likely to know one another and follow-ups will be easier. On the other hand, you won't have any problems populating an open workshop.</p>

<p>If you choose a closed workshop, beware that boot camps are so popular you will have to continuously resist people who will try to persuade you to open it up. If you've got good reasons to keep it closed or invite-only, keep it that way.</p>

<h3>2. Recruit your instructors</h3>

<p>Ideally, an instructor will have already attended a boot camp as a helper. You'll need two or three instructors. It's too much to ask a single person to talk for eight hours a day for two days! Attendees will be more engaged if they hear from more than one person.</p>

<p>Encourage instructors to do a dry-run before the boot camp to check that everything they have planned to teach is working. This is especially important if they'll be presenting commands live at a command-prompt.</p>

<p>Offer your instructors help in travel and finding accomodation. Ideally, you should offer to reimburse them their travel and accomodation expenses as this is how we help sustain Software Carpentry.</p>

<p>It's of paramount importance to recruit your instructors before you advertise your boot camp. Ensure that you have back-up instructors who can take over if the original instructor has to pull out.</p>

<h3>3. Choose your dates</h3>

<p>There are many factors that determine the date on which to hold your boot camp. The availability of your instructors and helpers is one of the main factors that will determine the date.</p>

<p>If you hold the boot camp at a university, remember that the start of term works better the end of term (when exams are held), and the start of second (or subsequent) term works better for graduate students than the start of first term (the start of an academic year is already busy). In our experience mid-term breaks (reading weeks) have not worked well and there have been very high no-show rates.</p>

<p>You might consider scheduling a boot camp immediately before or after a conference. Not only will this give you a large audience, but it will also make the boot camp easier to run, because it's easier to teach attendees who are all from the same community.</p>

<h3>4. Book a room</h3>

<p>You'll need to find a room with:</p>

<ul>
<li><strong>Front-facing tables </strong>so that attendees can watch an instructor and use their laptop at the same time.</li>
<li><strong>Space for mingling </strong>without tripping over cables and squeezing between chairs. Lecture theatres are not recommended as their banked floors and fixed seating makes it very difficult for helpers to mingle.</li>
<li><strong>High-speed wi-fi or network access</strong>that can withstand everyone using it at the same time.</li>
<li><strong>Power </strong>for all the computers.</li>
<li><strong>A microphone </strong>if the room's very big or has poor acoustics.</li>
<li><strong>Disabled access.</strong></li>
<li><strong>Air-conditioning, </strong>because all those computers (and attendees) will generate a lot of heat.</li>
</ul>

<p>The boot camp will run even more smoothly if you have two projectors so that interactive demos can be shown alongside supporting slides, and space for food and drink so that everyone can snack as they're working.</p>

<h3>5. Create your timetable</h3>

<p>All Software Carpentry materials are freely available under a Creative Commons licence, so you are free to re-use and re-mix the materials. You may want to check out <a href="index.html#past">previous boot camps</a> for ideas on what lectures to cover.</p>

<p>You can include time for a <em>checking your environment</em> session at the start of each practical, so that the attendees' environments and tool-sets are all checked and fixed as a group. This saves you from repeating the same thing individually to each attendee. Even if you ask attendees to prepare their environment before the boot camp, you will find that some have not and some cannot.</p>

<p>Decide when you'll start and end each day, what you'll cover and when breaks and lunch will be. A later start (e.g. 09.30) on the first day gives a bit of extra time to travel for anyone who doesn't live nearby. Similarly, an earlier end (e.g. 16.30) allows non-locals time to travel home. Locals may have child-care needs so bear this in mind.</p>

<h3>6. Recruit your helpers</h3>

<p>You'll need at least one helper for every ten attendees. It's ideal to have one helper for every five attendees. Recruit helpers locally, from your own and neighbouring institutions.</p>

<p>Offer your helpers help in travel and finding accomodation, if they need it.</p>

<p>Helpers should have some knowledge of the material covered in the boot camp. Ideally, a helper will already have attended a boot camp and would like to become an instructor themselves.</p>

<h3>7. Set up registration</h3>

<p>Find out if your institution or venue expects you to use their in-house registration system. If so, use it! If not, then we recommend <a href="http://www.eventbrite.com/">EventBrite</a>, and Software Carpentry are happy to host registrations on their <a href="http://software-carpentry.eventbrite.com/">EventBrite</a> site. Make sure you have a waiting list, because boot camps are very popular.</p>

<p>We do not recommended charging a registration fee, because this can cause institutions or venues to charge you for the use of rooms.</p>

<h3>8. Advertise</h3>

<p>Create a web page with information about the boot camp: what it is, when it will be held, a link to the registration page and local travel information. It's best to keep this web page separate from the registration page so you have more control over both style and content.</p>

<p>We can provide advice on how to advertise and are happy to publish your blog articles and tweets to our followers. Software We can also help to promote boot camps, either by advertising them or hosting your web page. If you are interested then please contact us by email at <a href="mailto:{{contact_email}}">{{contact_email}}</a>.</p>

<p>If you plan to photograph, record or broadcast your boot camp then mention this on the web page. A signed photo release will be required from each person if pictures are being taken</p>

<p>Tweet and blog about the event and send emails to departmental mailing lists, disciplinary mailing lists, specific people (e.g. lab directors, or principal investigators) and anyone else who you think will be interested. Remember to include links to the advertising web page and the registration page, as described in the example below.</p>

<blockquote>

  <p><strong>When:</strong> May 14-15, 2013, 9.00 am to 5.00 pm.</p>

  <p><strong>Where:</strong> Room 99, Tesla Memorial Hall, Euphoric State University.</p>

  <p><strong>What:</strong> Our goal is to help scientists and engineers become more productive by teaching them basic computing skills, like program design, version control, testing, and task automation. In our teaching we emphasise how these skills can contribute to quality, usable, reproducible research. In this two-day boot camp, short tutorials will alternate with hands-on practical exercises. Attendees will be encouraged both to help one another, and to apply what they have learned to their own research problems during and between sessions. There will be online follow up sessions for six to eight weeks extending the material from the boot camp.</p>

  <p><strong>Who:</strong> The course is aimed at postgraduate students and other scientists who are familiar with basic programming concepts (like loops, conditionals, arrays, and functions) but need help to translate this knowledge into practical tools to help them work more productively.</p>

  <p><strong>Requirements:</strong> Attendees must bring a laptop with a few specific software packages installed. (The list will be sent to attendees a week before the boot camp.)</p>

  <p><strong>Content:</strong> The syllabus for this boot camp will include:</p>

  <ul>
    <li>Using the shell to do more in less time.</li>
    <li>Using version control to manage and share information.</li>
    <li>Basic Python programming.</li>
    <li>How (and how much) to test programs.</li>
    <li>Working with relational databases.</li>
  </ul>

  <p><strong>Registration:</strong> Please use this form to register your interest by April 6. We will allocate places to individuals and groups we believe will benefit, while aiming for a balance of subjects and geographical areas. We strongly encourage learners to attend with colleagues, so please create or join a team when you sign up. Ideally we would like teams of 3 to 6 members, and we will give preference to teams including one more knowledgeable member who is interested in organizing further training at their own institution.</p>

  <p>There is no charge to attend, however, by registering you are stating that you will attend both days of the workshop and participate in the online exercises and follow-up sessions in the following weeks.</p>

  <p>We will notify all applicants as to whether they have a spot no later than April 13.</p>

  <p><strong>Contact:</strong> For further information please email us at <u>software-carpentry@euphoric.edu</u>.</p>

</blockquote>

<h3>9. Arrange catering</h3>

<p>It's great to provide coffee or snacks at breaks, if you can get someone to pay for them. If not, then make sure that there is somewhere nearby where attendees can purchase refreshments and schedule for this.</p>

<p>If you are providing snacks, remember to consider dietary restrictions.</p>

<h3>10. Set up an email list</h3>

<p>Set up an email list so that you can inform everyone about the latest news and address any queries. You'll find this useful for organising online follow-ups after the boot camp too.</p>

<h3>11. Publish your materials</h3>

<p>Make all your materials available to both the helpers and the attendees. Publishing your slides, code and scripts to the helpers in advance allows them to know what's coming and to be able to help more effectively. For attendees, having access to the materials allows them to catch up in their own time if they fall behind. For example, when instructing at the bioinformatics boot camp in Oxford in October 2012, the Software Sustainability Institute used <a href="http://bitbucket.org/">BitBucket</a> to share their materials.</p>

<h3>12. Publish attendee setup information</h3>

<p>Publish the list of software you expect attendees to have installed <em>before</em> they come to the boot camp. A list of the standard boot camp software and instructions as to how to install this for various operating systems is available <a href="{{root_path}}/setup/">here</a>. You should also provide installation instructions for any software specific to your boot camp, and not already in the standard set. Make sure you <em>test</em> your installation instructions on standard operating systems (Linux, Windows, MacOS) before you make them public.</p>

<p>Add a link from your advertising web page to the setup page. Be clear that attendees are expected to set up their computers <em>before</em> arriving at the boot camp, and that they should email you if they have problems. And, by "before", we mean over a week before, not the day before or the evening before. This <em>will</em> save time on the day.</p>

<p>If your attendees are all local then you may want to consider having a drop-in setup surgery a couple of days before your boot camp.</p>

<h3>13. Select attendees</h3>

<p>Select the attendees you want to attend and inform them of their success. Ask them let you know as soon as possible if they can't make the boot camp, so that you can offer their place to someone else.</p>

<p>Add the selected attendees to your email list. Email the attendees and get them set up their computers as described on your boot camp's setup page.</p>

<p>Apologise to the people who didn't make it into your selection, and let them know that they'll be held on a on a waiting list just in case an attendee drops out.</p>

<h3>14. Send out a pre-camp questionnaire</h3>

<p>You may want to consider sending out a questionnaire prior to the boot camp to assess the expertise and interest of the attendees, where they come from, what they're researching and what operating system they'll be using. This allows you to customise what you present, how you present it and the level at which you present it accordingly. See for example&nbsp;our articles&nbsp;on <a href="{{root_path}}/blog/2012/11/pre-assessment.html">pre-assessment</a> and <a href="{{root_path}}/blog/2012/10/two-self-assessments.html">assessment options</a>.</p>

<h3>15. Gather your gear</h3>

<p>You will need the following gear for the boot camp,</p>

<ul>
  <li>A projector (preferably two so that interactive demos can be shown alongside supporting slides)</li>
  <li>A MAC VGA adapter, for anyone who presents using a Mac</li>
  <li>Extension leads so that everyone can have access to a socket</li>
  <li>Two different colors of sticky notes (like Post-It notes), enough for everyone (they're used by the attendees to show whether they've finished a task, understand a concept and suchlike)</li>
  <li>Guest wi-fi or network usernames and passwords for everyone.</li>
  <li>If possible, workstations with the required software just in case someone can't get access to the wi-fi or network.</li>
  <li>An attendance sheet so that you can see whether there are any no-shows</li>
  <li>Photo release forms, if you intend to take photos</li>
  <li>Garish, or otherwise prominent, badges for instructors and helpers</li>
</ul>

<h2>Checklists</h2>

<p>Just to make sure you have everything covered, we have prepared the following checklists.</p>

<h3>The week before</h3>

<ol>
  <li>Request confirmation from attendees that they will be attending.</li>
  <li>Let the people on the waiting list know if they can attend or not.</li>
  <li>You may want to invite ten or so locals from the waiting list to turn up. If there are still empty seats at mid-morning on the first day, then they're welcome to stay. If not, they're welcome to come back for the next one, but make it clear <em>before </em>they arrive, that their participation is not guaranteed.</li>
  <li>Remind attendees of the setup page, and make it clear that they are expected to set up their computer <em>before</em> they attend the boot camp and to email the list if they have a problem.</li>
  <li>Send a pre-boot camp questionnaire, if you want to find any information out beforehand (e.g. their understanding of programming, languages they want to work with, their research backgrounds).</li>
  <li>Contact your instructors and ask them to make their material available and put any practical exercises on web pages so that attendees can refer to them during the boot camp. Data files or other useful information should also be added.</li>
  <li>Contact your helpers, see if they have any questions and ask them to arrive 10-15 minutes early so they can be briefed.</li>
  <li>Remind instructors and helpers to familiarise themselves with all the material (especially instructors, in case they end up covering for an instructor who has to pull out) and also to set up the boot camp software on their laptops too.</li>
  <li>Publish your materials online if you have not already done so.</li>
  <li>Identify a suitable pub or bar for socialising after the first day.</li>
  <li>Ask if your instructors and helpers would like to go out for dinner.</li>
</ol>

<h3>The day before</h3>

<ol>
  <li>Is the building and the room going to be unlocked on the day of the event?</li>
  <li>Is the room clearly signposted?</li>
  <li>Do you know where the toilets are?</li>
  <li>Is there any noisy construction/cleaning going on and, if so, can you do something about it?</li>
  <li>Is the projector working, and do you have a spare bulb?</li>
  <li>Do you have a MAC VGA adapter?</li>
  <li>Do you have enough extension cables?</li>
  <li>Is the network or wi-fi working?</li>
  <li>Have you set up network or wi-fi guest accounts?</li>
  <li>Do you have a contact number for maintenance and technical support?</li>
  <li>Have you double-checked with catering?</li>
  <li>Have you emailed a reminder to everyone?</li>
  <li>Have you set up all the accounts, web sites and repositories you will need?</li>
  <li>Do you have red and green sticky notes?</li>
  <li>Do you have badges for instructors and helpers?</li>
  <li>Do you have an attendance sheet?</li>
  <li>Do you have a photo release form?</li>
  <li>Do you have a watering hole to socialise in after the first day?</li>
  <li>Have you arranged dinner for your instructors and helpers?</li>
</ol>

<h3>On the first day</h3>

<p>Before you welcome everyone:</p>

<ol>
  <li>Put up any signs to the room.</li>
  <li>Give instructors and helpers their badges.</li>
  <li>Brief helpers on their role: mingle, answer questions and help attendees.</li>
  <li>Ensure that helpers are seated around the room.</li>
  <li>Give everyone a few minutes to plug-in, get on the network and settle in.</li>
</ol>

<p>As part of your welcome:</p>

<ol>
  <li>Tell the attendees who the instructors and helpers are, and explain what they're there for, and get them all to wave!</li>
  <li>Make network connection instructions available on a hand-out or projector.</li>
  <li>Tell everyone what Twitter hash tag you're using.</li>
  <li>Circulate the attendance sheet and photo release form.</li>
  <li>Give everyone a red and a green sticky note.</li>
  <li>And, you're off...</li>
</ol>

<h3>At the close of the last day</h3>

<ol>
  <li>Ask attendees for feedback.</li>
  <li>Collect the attendance sheet and photo release form.</li>
  <li>Remind attendees of online follow-up sessions.</li>
  <li>Ask if any attendees would be willing to act as helpers or instructors at future boot camps. If so note down their contact details and forward them to us or please ask them to contact us by email at <a href="mailto:{{contact_email}}">{{contact_email}}</a> - we maintain a list of potential helpers and instructors which can help when organising future boot camps.</li>
</ol>

<h3>The day after</h3>

<ol>
  <li>Send out a feedback questionnaire, if you have one.</li>
  <li>Remind attendees about the online follow-up sessions.</li>
  <li>Remind attendees to get in touch if they'd like to help or instruct at a future boot camp or to organise one at their institution.</li>
  <li>Write a blog post about how it all went, both good and bad points&mdash;be honest!</li>
  <li>Relax!</li>
</ol>

<h2>For Instructors</h2>

<p>Your job is to give lectures and lead practicals. You should also mingle with the attendees during practical sessions and provide assistance.</p>

<h3><strong>Before</strong></h3>

<ol>
  <li>Do a practice run of your tutorials and practicals, especially if you'll be presenting commands live at a command-prompt.</li>
  <li>Ensure you have the same setup as the attendees by working through the boot camp software set-up pages.</li>
  <li>Post your practical exercises on web pages to allow students to refer to them during the boot camp. Data files or other useful information should also be added.</li>
  <li>Familiarise yourself with the material your fellow instructors will be presenting, just in case one of them pulls out.</li>
</ol>

<h3><strong>On the day</strong></h3>

<ol>
  <li>If you are using multiple windows (e.g. a command window and an editor window) then you'll need to ensure that they are both of sufficient size to be visible by all attendees, or pause before switching from one window to the other, because some attendees may get confused when you switch windows.</li>
  <li>Use different background colors for different shell windows, and encourage students to do the same. This makes it easier to follow the window you are using (keep in mind color blindness when choosing colors!).</li>
  <li>As you type at the command-line, read out what you're typing.</li>
  <li>Back up the material with your own anecdotes, experiences and evidence&mdash;it prevents the lectures from being too dry.</li>
  <li>Emphasise the reasons why good software development skills contribute to good, reproducible, reusable research.</li>
  <li>For any question with a binary answer (yes/no, have done/have not done, works/does not work), ask your attendees to hold up their green (yes) or red (no) sticky notes so that you can gauge their level of understanding.</li>
  <li>When you've asked attendees to do something, get them to put a red sticky note prominently on their laptop and to replace it with a green one when they've succeeded/completed. This lets you gauge how the attendees are progressing.</li>
</ol>

<h3>The day after</h3>

<ol>
  <li>Send the organisers a list of what you think worked and what didn't, to help improve future boot camps.</li>
</ol>

<h2>For Helpers</h2>

<p>As a helper, your job is to help the attendees during practical sessions.</p>

<h3>Before</h3>

<ol>
  <li>Ensure you have the same setup as the attendees by working through the boot camp software set-up pages.</li>
  <li>Ensure you're familiar or have read over the material the instructors will cover.</li>
  <li>Read the blog posts by <a href="{{root_path}}/blog/2012/10/how-to-help-at-a-boot-camp.html">Katy Huff</a> and <a href="http://www.software.ac.uk/blog/2012-11-02-top-tips-helpers-software-carpentry-bootcamp">Aleksandra Pawlik</a> on how to be a helper.</li>
</ol>

<h3>On the day</h3>

<ol>
  <li>Go round the room and look for attendees who need help. They may be holding a red sticky note, they may just be sitting there looking despondent or blank or peering intently at their laptop.</li>
  <li>If you can't answer an attendee's question, just say and grab an instructor.</li>
</ol>

<h3>The day after</h3>

<ol>
  <li>Send the organisers a list of what you think worked and what didn't, to help improve future boot camps.</li>
</ol>

<h3>About this guide</h3>

<p>The original version of this guide was produced by <a href="http://www.software.ac.uk/how-run-software-carpentry-boot-camp">The Software Sustainability Institute</a> which, in turn was derived from the Software Carpentry <em><a href="{{root_path}}/blog/2012/05/how-to-run-a-bootcamp.html">how to run a boot camp</a></em> blog post and Phil Fowler's <a href="http://www.software.ac.uk/blog/2012-11-06-hosting-software-carpentry-boot-camp-top-tips">top tips on hosting a boot camp</a>.</p>

{% endblock content %}
