{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Boot Camps" />
  <meta name="subglob" content="*-*-*.html" />
{% endblock file_metadata %}

{% block javascript %}
  {{ super() }}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
  <script type="text/javascript">
  function MarkerPin(color) {
    var pin = new google.maps.MarkerImage(
        "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + color,
        new google.maps.Size(21, 34),
        new google.maps.Point(0,0),
        new google.maps.Point(10, 34));
    return pin;
  }

  function set_info_window(map, marker, info_window, content) {
    google.maps.event.addListener(marker, 'click', function () {
      info_window.setContent(content);
      info_window.open(map, marker);
    })
  }

  function toggle_marker_visibility(marker) {
    if (marker.getVisible()) {
      marker.setVisible(false);
    } else {
      marker.setVisible(true);
    };
  }

  function initialize_map() {
    var mapOptions = {
      zoom: 2,
      center: new google.maps.LatLng(0,0),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var oldPin = MarkerPin("FE7569");
    var openPin = MarkerPin("69FE86");
    var fullPin = MarkerPin("FEFE69");
    var restrictedPin = MarkerPin("6975FE");

    var pinShadow = new google.maps.MarkerImage(
        "http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
        new google.maps.Size(40, 37),
        new google.maps.Point(0, 0),
        new google.maps.Point(12, 35));

    var info_window = new google.maps.InfoWindow({});

    var map = new google.maps.Map(document.getElementById('map_canvas'),
        mapOptions);

    var past_markers = [];

{% for bootcamp in page.children %}
  {% if bootcamp.latlng %}
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng({{bootcamp.latlng}}),
        map: map,
        title: "{{bootcamp.venue}}, {{bootcamp.date}}",
    {% if bootcamp.startdate >= today %}
      {% if bootcamp.registration == 'restricted' %}
        icon: restrictedPin,
      {% elif bootcamp.registration == 'full' %}
        icon: fullPin,
      {% else %}
        icon: openPin,
      {% endif %}
        visible: true,
    {% else %}
        icon: oldPin,
        visible: false,
    {% endif %}
        shadow: pinShadow,
        });

    {% if bootcamp.startdate < today %}
      past_markers.push(marker);
    {% endif %}

    var info_string = '<div class="info-window">' +
        '<h5><a href="{{bootcamp.slug}}.html">{{bootcamp.venue}}</a></h5>' +
        '<h6><a href="{{bootcamp.slug}}.html">{{bootcamp.date}}</a></h6>' +
        '</div>';

    set_info_window(map, marker, info_window, info_string);
  {% endif %}
{% endfor %}

    // This last bit adds a button to the map that toggles the
    // visibility of past boot camps.
    // Create a div to hold the control.
    var controlDiv = document.createElement('div');

    // Set CSS styles for the DIV containing the control
    // Setting padding to 5 px will offset the control
    // from the edge of the map.
    controlDiv.style.padding = '5px';

    // Set CSS for the control border.
    var controlUI = document.createElement('div');
    controlUI.style.backgroundColor = 'white';
    controlUI.style.borderStyle = 'solid';
    controlUI.style.borderWidth = '1px';
    controlUI.style.borderColor = 'rgb(113, 123, 135)';
    controlUI.style.cursor = 'pointer';
    controlUI.style.textAlign = 'center';
    controlUI.style.boxShadow = 'rgba(0, 0, 0, 0.4) 0px 2px 4px'
    controlUI.title = 'Toggle visibility of past boot camps.';
    controlDiv.appendChild(controlUI);

    // Set CSS for the control interior.
    var controlText = document.createElement('div');
    controlText.style.fontFamily = 'Arial,sans-serif';
    controlText.style.fontSize = '12px';
    controlText.style.padding = '1px 4px';
    controlText.innerHTML = '<strong>Toggle Past Boot Camps</strong>';
    controlUI.appendChild(controlText);

    // Setup the click event listener
    google.maps.event.addDomListener(controlUI, 'click', function() {
      past_markers.forEach(toggle_marker_visibility)
    });

    // add control to the map
    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(controlDiv);
  }
  </script>
{% endblock javascript %}

{% block onload %} onload="initialize_map()" {% endblock onload %}

{% block navhighlight %}{{navhighlight('bootcamps')}}{% endblock navhighlight %}

{% block content %}

<section id="about">
  <p>A boot camp is an in-person, example-driven workshop, typically two
  or three days long. A boot camp covers the core skills needed to be
  productive in a small research team: basic programming skills, version
  control, testing, using the shell, and relational databases.</p>

  <p>Short tutorials alternate with hands-on practical exercises, and
  participants are encouraged both to help one another, and to try
  applying what they have learned to their own research problems during
  and between sessions. Participants usually work on their own computers
  (typically laptops), using either native software or a standard set of
  packages running in a virtual machine. This ensures that they have a
  working environment when the boot camp is done.</p>

  <ul>
    <li>Want to know more? See our <a href="{{root_path}}/about/faq.html">FAQ</a>.</li>
    <li>Want to run one?  See our <a href="how-to.html">how-to</a> guide.</li>
    <li>Want us to teach one where you are?  Please <a href="mailto:{{contact_email}}">email us</a>.</li>
  </ul>

  <p><em>All boot camp participants are expected to abide
  by our <a href="conduct.html">code of conduct</a> to ensure that all
  attendees to have an enjoyable and fulfilling experience.</em></p>
</section>

<h2 id="future">Future Boot Camps</h2>
<div class="bootcamps">
<table class="table table-striped bootcamps">
{% for bootcamp in page.children %}
  {% if bootcamp.startdate >= today %}
    <tr>
      <td>{% if bootcamp.country %}<img src="{{root_path}}/img/flags/{{bootcamp.country}}-Flag-16.png" alt="{{bootcamp.country}}" />{% endif %}</td>
      <td class="link"><a href="{{bootcamp.slug}}.html">{{bootcamp.venue}}</a></td>
      <td class="registration">
        {% if bootcamp.registration %}{{bootcamp.registration}}{% endif %}
      </td>
      <td class="date">{{bootcamp.date}}</td>
    </tr>
  {% endif %}
{% endfor %}
</table>
<p>See also our list of <a href="staffing.html">who's teaching where</a>.</p>

<div id="map_canvas" style="width: 98%; height: 500px; margin-left:auto; margin-right: auto;"></div>
<div style="margin-bottom: 20px;">
  <p>
    <img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&amp;chld=%E2%80%A2|69FE86" />
    open
    |
    <img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&amp;chld=%E2%80%A2|FEFE69" />
    full
    |
    <img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&amp;chld=%E2%80%A2|6975FE" />
    restricted
    |
    <img src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&amp;chld=%E2%80%A2|FE7569" />
    past
  </p>
</div>

<div id="calendar">
  <iframe src="https://www.google.com/calendar/embed?title=Boot%20Camps&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=efjc2eea4qegtctcrg6kc0nrba9i0rbg%40import.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York"
          style=" border-width:0 "
          width="98%"
          height="500"
          frameborder="0"
          scrolling="no"></iframe>
  <p style="text-align: right; margin-top: -12px;margin-bottom: -12px;">
    <a class="label swc-blue-bg" style="margin-right: 10px;" href="http://software-carpentry.org/bootcamps.ics">Calendar Feed</a>
  </p>
</div>
</div>

<h2 id="past">Past Boot Camps</h2>
<div class="bootcamps">
<table class="table table-striped bootcamps">
{% for bootcamp in page.children|reverse %}
  {% if bootcamp.startdate < today %}
    <tr>
      <td>{% if bootcamp.country %}<img src="{{root_path}}/img/flags/{{bootcamp.country}}-Flag-16.png" alt="{{bootcamp.country}}" />{% endif %}</td>
      <td class="link"><a href="{{bootcamp.slug}}.html">{{bootcamp.venue}}</a></td>
      <td class="date">{{bootcamp.date}}</td>
    </tr>
  {% endif %}
{% endfor %}
</table>
</div>

{% endblock content %}

{% block comments %}{% endblock comments %}
