{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Boot Camps" />
  <meta name="subglob" content="*-*-*.html" />
{% endblock file_metadata %}

{% block javascript %}
  {{ super() }}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script type="text/javascript">
  function MarkerPin(color) {
    var pin = new google.maps.MarkerImage(
        "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + color,
        new google.maps.Size(21, 34),
        new google.maps.Point(0,0),
        new google.maps.Point(10, 34));
    return pin;
  }

  function set_info_window(map, marker, info_window, content) {
    google.maps.event.addListener(marker, 'click', function () {
      info_window.setContent(content);
      info_window.open(map, marker);
    })
  }

  function initialize_map() {
    var mapOptions = {
      zoom: 2,
      center: new google.maps.LatLng(0,0),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var oldPin = MarkerPin("FE7569");
    var newPin = MarkerPin("6975FE");

    var pinShadow = new google.maps.MarkerImage(
        "http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
        new google.maps.Size(40, 37),
        new google.maps.Point(0, 0),
        new google.maps.Point(12, 35));

    var info_window = new google.maps.InfoWindow({});

    var map = new google.maps.Map(document.getElementById('map_canvas'),
        mapOptions);

{% for bootcamp in page.children %}
  {% if bootcamp.latlng %}
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng({{bootcamp.latlng}}),
        map: map,
        title: "{{bootcamp.venue}}, {{bootcamp.date}}",
    {% if bootcamp.startdate >= today %}
        icon: newPin,
    {% else %}
        icon: oldPin,
    {% endif %}
        shadow: pinShadow,
        });

    var info_string = '<div id="info-window">' +
        '<h5><a href="{{bootcamp.slug}}.html">{{bootcamp.venue}}</a></h5>' +
        '<h6><a href="{{bootcamp.slug}}.html">{{bootcamp.date}}</a></h6>' +
        '</div>';

    set_info_window(map, marker, info_window, info_string);
  {% endif %}
{% endfor %}

  }
  </script>
{% endblock javascript %}

{% block onload %} onload="initialize_map()" {% endblock onload %}

{% block navhighlight %}{{navhighlight('bootcamps')}}{% endblock navhighlight %}

{% block content %}

<p>A boot camp is an in-person, example-driven workshop, typically two
or three days long. A boot camp covers the core skills needed to be
productive in a small research team: basic programming skills, version
control, testing, using the shell, and relational databases.</p>

<p>Short tutorials alternate with hands-on practical exercises, and
participants are encouraged both to help one another, and to try
applying what they have learned to their own research problems during
and between sessions. Participants usually work on their own computers
(typically laptops), using either native software or a standard set of
packages running in a virtual machine. This ensures that they have a
working environment when the boot camp is done.</p>

<p>Want to know more?  See our <a href="faq.html">FAQ</a>.  Want to
organize one?  See our <a href="how-to.html">how-to</a> guide.</p>

<p>And please note: all boot camp participants are expected to abide
by our <a href="conduct.html">code of conduct</a> to ensure that all
attendees to have an enjoyable and fulfilling experience.</p>

<h2 id="future">Future Workshops</h2>
<div class="bootcamps">
<table class="table table-striped bootcamps">
{% for bootcamp in page.children %}
  {% if bootcamp.startdate >= today %}
    <tr>
      <td class="link">
        <a href="{{bootcamp.slug}}.html">{{bootcamp.venue}}</a>
      </td>
      <td class="spacer">&nbsp;...&nbsp;</td>
      <td class="date">
        {{bootcamp.date}}
      </td>
    </tr>
  {% endif %}
{% endfor %}
</table>

<div id="map_canvas" style="width: 98%; height: 500px; margin-left:auto; margin-right: auto; margin-bottom: 25px;"></div>
<div>
  <table>
    <tr>
      <td valign="center"><img src="{{root_path}}/img/icons/google-map-future-bootcamp.png" alt="Future Boot Camp Icon" /></td>
      <td valign="center">=</td>
      <td valign="center">Future Boot Camps</td>
      <td valign="center"><img src="{{root_path}}/img/icons/google-map-past-bootcamp.png" alt="Past Boot Camp Icon" /></td>
      <td valign="center">=</td>
      <td valign="center">Past Boot Camps</td>
    </tr>
  </table>
</div>

<p id="calendar">
  <iframe src="https://www.google.com/calendar/embed?title=Boot%20Camps&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=efjc2eea4qegtctcrg6kc0nrba9i0rbg%40import.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York"
          style=" border-width:0 "
          width="98%"
          height="500"
          frameborder="0"
          scrolling="no"></iframe>
  <p style="text-align: right; margin-top: -12px;margin-bottom: -12px;">
    <a class="label swc-blue-bg" style="margin-right: 10px;" href="http://software-carpentry.org/bootcamps.ics">Calendar Feed</a>
  </p>
</p>
</div>

<h2 id="past">Past Workshops</h2>
<div class="bootcamps">
<table class="table table-striped bootcamps">
{% for bootcamp in page.children|reverse %}
  {% if bootcamp.startdate < today %}
    <tr>
      <td class="link">
        <a href="{{bootcamp.slug}}.html">{{bootcamp.venue}}</a>
      </td>
      <td class="spacer">&nbsp;...&nbsp;</td>
      <td class="date">
        {{bootcamp.date}}
      </td>
    </tr>
  {% endif %}
{% endfor %}
</table>
</div>

{% endblock content %}

{% block comments %}{% endblock comments %}
