{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Online Office Hours" />
{% endblock file_metadata %}

{% block navhighlight %}{{navhighlight('bootcamps')}}{% endblock navhighlight %}

{% block content %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Upcoming Office Hours</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><em>March 14, 2013 4-6pm EST</em></td>
        <td><a href="https://swc-office-hours.etherpad.mozilla.org/9">Enter office hours</a></td>
    </tr>
    <tr>
        <td><em>March 21, 2013 4-6pm EST</em></td>
        <td><a href="https://swc-office-hours.etherpad.mozilla.org/10">Enter office hours</a></td>
    </tr>
    <tr>
        <td><em>March 28, 2013 4-6pm EST</em></td>
        <td><a href="https://swc-office-hours.etherpad.mozilla.org/11">Enter office hours</a></td>
    </tr>
    </tbody>
</table>
<a tabindex="0" data-toggle="collapse" data-target="#office-hours-list"> 
    Previous office hours links</a>
<div id="office-hours-list" class="accordion-body collapse">
  <div class="accordion-inner">
    <ul>
      <li><a href="https://swc-office-hours.etherpad.mozilla.org/3">
          January 24, 2013 4-6pm EST</a></li>
      <li><a href="https://swc-office-hours.etherpad.mozilla.org/4">
          January 31, 2013 4-6pm EST</a></li>
      <li><a href="https://swc-office-hours.etherpad.mozilla.org/5">
          February 7, 2013 4-6pm EST</a></li>
      <li><a href="https://swc-office-hours.etherpad.mozilla.org/2013-02-08">
          February 8, 2013 10am-6pm EST</a></li>
      <li><a href="https://swc-office-hours.etherpad.mozilla.org/6">
          February 14, 2013 4-6pm EST</a></li>
      <li><a href="https://swc-office-hours.etherpad.mozilla.org/7">
          February 21, 2013 4-6pm EST</a></li>
      <li><a href="https://swc-office-hours.etherpad.mozilla.org/8">
        February 28, 2013 4-6pm EST</a></li>
    </ul>
  </div>
</div>


<hr/>

<p><b>Office hours</b> are regular events to get one-on-one help from Software
Carpentry instructors, online.  It's a chance to ask questions from your
day-to-day scientific computing work ("stupid" questions encouraged!).  For
example, you might be stuck on a bit of <a
href="{{root_path}}/4_0/shell/index.html">shell</a> or <a
href="{{root_path}}/4_0/python/index.html">python</a> scripting. Or perhaps you
would <em>like</em> to write a script to automate something but want help
figuring out how to begin. These are all great things to ask at office
hours.</p>
 
<p>Here's how it works:</p>
<ol>
 <li><b>During the office hours times, visit the web address for the office hour.</b>
     Think of this like the "hall way" outside of the office.  Here you can chat with
     the instructors and others who are waiting.
        <div style="text-align:center"><img
        src="{{root_path}}/img/screenshots/office-hours-link.png"
        class="img-rounded" style="text-align:center;"/></div>
     </li>

 <li><b>Get started.</b> You and your instructor will sort out how best to carry out the tutoring:
     over chat, video conferencing (e.g. Skype, Google Hangout), screen sharing,
     a shared whiteboard, etc.  See below for setup instructions some of the
     tools we've found to work, and that you may need to setup.</li>
</ol>
<hr/>
<a id="setup"></a><h2>Software Setup</h2>
The following are tools we've found work well across operating systems, and
which instructors will have experience using. 

<h3>Google+ Hangout</h3>
<p><b>Google+ Hangout</b> provides video, voice, and text chat, as well as
screensharing and shared whiteboarding.</p>

<p>To use it, you'll need a <a href="https://accounts.google.com/signup">Google+
account</a>.  If you already have an account you can use it, or if privacy is
concern you can always create an account just to use during the office
hours.</p>

<p>When you first attempt to start a "Hangout" (i.e. video/audio chat), you'll be
prompted to <a href="https://tools.google.com/dlpage/hangoutplugin">install the
Hangout plugin</a>.</p>

<h3>Skype</h3>
<p><b>Skype</b> provides video, voice and text chat.</p>

<p><a href="http://www.skype.com/go/download/">Download Skype</a> and install
it. Upon starting it, you'll be prompted to sign in or create a new account.</p>

<h3>Screenleap</h3>
<p><b>screenleap</b> provides screensharing through the web.</p>

<p>To use it, visit <a href="http://screenleap.com">screenleap.com</a> and
click "Share screen". This site requires that you have Java installed for your
browser, and you should be prompted to install it if you don't. </p>

{% endblock content %}

{% block comments %}{% endblock comments %}
