{% extends "_base.html" %}
{% block file_metadata %}
  <meta name="title" content="Boot Camp Staffing" />
{% endblock file_metadata %}
{% block content %}
<h3>Last Updated 2013-04-04</h3>
<table cellpadding="5" class="table table-striped">
<tr><td align="center" colspan="4"><strong>Upcoming Boot Camps</strong></td></tr>
<tr><td valign="top"><strong>Bootcamp Page</strong></td><td valign="top"><strong>Start Date</strong></td><td valign="top"><strong>Venue</strong></td><td valign="top"><strong>People</strong></td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-04-stellenbosch.html">2013-04-stellenbosch</td><td valign="top">2013-04-08</td><td valign="top">Stellenbosch University</td><td valign="top">Aron Ahmadia (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-04-egi-forum.html">2013-04-egi-forum</td><td valign="top">2013-04-13</td><td valign="top">European Grid Infrastructure</td><td valign="top">Michel Drescher (host)<br/>Mike Jackson (instructor)<br/>Richard McLennan (host)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-04-ucb.html">2013-04-ucb</td><td valign="top">2013-04-13</td><td valign="top">University of California Berkeley</td><td valign="top">Justin Kitzes (instructor)<br/>Karthik Ram (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-04-manchester.html">2013-04-manchester</td><td valign="top">2013-04-18</td><td valign="top">University of Manchester</td><td valign="top">Casey Bergman (host)<br/>Peter Briggs (helper)<br/>Tim Burgis (helper)<br/>Michael Croucher (helper)<br/>Carole Goble (host)<br/>Safe Hammad (helper)<br/>Dave Hughes (helper)<br/>Mike Jackson (instructor)<br/>David Jones (instructor)<br/>Thomas Kluyver (helper)<br/>Aleksandra Pawlik (instructor)<br/>Barry Rowlingson (helper)<br/>Shoaib Sufi (helper)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-04-paris.html">2013-04-paris</td><td valign="top">2013-04-20</td><td valign="top">Telecom ParisTech</td><td valign="top">Sergi Blanco Cuaresma (instructor)<br/>Christophe Cossou (instructor)<br/>Alexandre Gramfort (instructor)<br/>Konrad Hinsen (instructor)<br/>Nicolas Limare (instructor)<br/>Gael Varoquaux (instructor)<br/>Nelle Varoquaux (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-04-wisc.html">2013-04-wisc</td><td valign="top">2013-04-29</td><td valign="top">University of Wisconsin - Madison</td><td valign="top">Matt Gidden (instructor)<br/>Katy Huff (instructor)<br/>Steve McGough (instructor)<br/>Aronne Merrelli (instructor)<br/>Paul Wilson (host)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-vu.html">2013-05-vu</td><td valign="top">2013-05-02</td><td valign="top">Vrije Universiteit</td><td valign="top">Onno Broekmans (host)<br/>Stefano Cozzini (instructor)<br/>Justin Ely (instructor)<br/>Paul Groth (host)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-geomar.html">2013-05-geomar</td><td valign="top">2013-05-06</td><td valign="top">GEOMAR (Kiel)</td><td valign="top">Avan Antia (host)<br/>Stefano Cozzini (instructor)<br/>Justin Ely (helper)<br/>Angelika Hoffmann (helper)<br/>Rainer Kiko (helper)<br/>Christiane Schelten (helper)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-hhmi.html">2013-05-hhmi</td><td valign="top">2013-05-06</td><td valign="top">Howard Hughes Medical Institute</td><td valign="top">Adina Chuang Howe (instructor)<br/>Michael Hansen (instructor)<br/>Gabe Murphy (host)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-stanford.html">2013-05-stanford</td><td valign="top">2013-05-06</td><td valign="top">Stanford University</td><td valign="top">Miriam Goodman (host)<br/>Paul Ivanov (instructor)<br/>Bernhard Konrad (instructor)<br/>Ariel Rokem (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-lbl.html">2013-05-lbl</td><td valign="top">2013-05-09</td><td valign="top">Lawrence Berkeley National Laboratory</td><td valign="top">Azalee Bostroem (instructor)<br/>Matt Davis (instructor)<br/>Tracy Teal (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-oxford-dtc.html">2013-05-oxford-dtc</td><td valign="top">2013-05-09</td><td valign="top">University of Oxford</td><td valign="top">Mario Antonioletti (instructor)<br/>Jonathan Cooper (host)<br/>Philip Fowler (helper)<br/>Shoaib Sufi (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-ucdavis.html">2013-05-ucdavis</td><td valign="top">2013-05-13</td><td valign="top">University of California Davis</td><td valign="top">Azalee Bostroem (instructor)<br/>Vince Buffalo (helper)<br/>Matt Davis (instructor)<br/>Jonathan Eisen (host)<br/>Jenna Morgan Lang (host)<br/>Chloe Lewis (helper)<br/>Jason Moore (helper)<br/>Tracy Teal (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-nescent.html">2013-05-nescent</td><td valign="top">2013-05-16</td><td valign="top">NESCENT</td><td valign="top">Jennifer Bryan (instructor)<br/>Karen Cranston (instructor)<br/>Ben Morris (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-duke.html">2013-05-duke</td><td valign="top">2013-05-20</td><td valign="top">Duke University</td><td valign="top">Jennifer Bryan (instructor)<br/>Chan Cliburn (host)<br/>Ben Morris (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-ucar.html">2013-05-ucar</td><td valign="top">2013-05-23</td><td valign="top">University Center for Atmospheric Research</td><td valign="top">Davide Del Vento (host)<br/>Ted Hart (instructor)<br/>Alex Viana (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-umass.html">2013-05-umass</td><td valign="top">2013-05-23</td><td valign="top">University of Massachusetts</td><td valign="top">Erik Bray (instructor)<br/>Kristen De Angelis (host)<br/>R. David Murray (helper)<br/>Tracy Teal (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-alberta.html">2013-05-alberta</td><td valign="top">2013-05-30</td><td valign="top">University of Alberta</td><td valign="top">Paul Lu (host)<br/>Charlene Nielsen (instructor)<br/>Greg Wilson (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-06-southampton.html">2013-06-southampton</td><td valign="top">2013-06-03</td><td valign="top">University of Southampton</td><td valign="top">Stephen Crouch (helper)<br/>David Jones (instructor)<br/>Nelle Varoquaux (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-06-tufts.html">2013-06-tufts</td><td valign="top">2013-06-03</td><td valign="top">Tufts University</td><td valign="top">Aron Ahmadia (instructor)<br/>Jessica McKellar (instructor)<br/>Michael Selik (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-06-salk.html">2013-06-salk</td><td valign="top">2013-06-09</td><td valign="top">Salk Institute</td><td valign="top">Karmel Allison (helper)<br/>Chris Hiestand (host)<br/>Jessica Kerr (instructor)<br/>Bill Punch (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-06-chicago.html">2013-06-chicago</td><td valign="top">2013-06-17</td><td valign="top">University of Chicago</td><td valign="top">John Blischak (instructor)<br/>Patrick Fuller (helper)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-07-oklahoma.html">2013-07-oklahoma</td><td valign="top">2013-07-01</td><td valign="top">University of Oklahoma</td><td valign="top">Paul Ivanov (instructor)<br/>Patrick Marsh (host)<br/>Henry Neeman (host)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-07-oslo.html">2013-07-oslo</td><td valign="top">2013-07-03</td><td valign="top">University of Oslo</td><td valign="top">Dave Clements (host)<br/>Karin Lagesen (instructor)<br/>Lex Nederbragt (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-07-indiana.html">2013-07-indiana</td><td valign="top">2013-07-11</td><td valign="top">Indiana University</td><td valign="top">Michael Hansen (instructor)<br/>Jeffrey Shelton (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-07-bath.html">2013-07-bath</td><td valign="top">2013-07-15</td><td valign="top">University of Bath</td><td valign="top">Alex Chartier (host)<br/>Mike Jackson (instructor)<br/>Christopher Woods (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-07-notredame.html">2013-07-notredame</td><td valign="top">2013-07-18</td><td valign="top">University of Notre Dame</td><td valign="top">Michael Hansen (instructor)<br/>Kallie O'Connell (host)<br/>Randy Olson (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-07-utahstate.html">2013-07-utahstate</td><td valign="top">2013-07-25</td><td valign="top">Utah State University</td><td valign="top">Ben Morris (instructor)<br/>David Tarboton (host)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-09-iowa.html">2013-09-iowa</td><td valign="top">2013-09-05</td><td valign="top">University of Iowa</td><td valign="top">Chris Schwarz (host)</td></tr>
</table>
<table cellpadding="5" class="table table-striped">
<tr><td align="center" colspan="2"><strong>Staffing</strong></td></tr>
<tr><td valign="top"><strong>Person</strong></td><td valign="top"><strong>Venue</strong></td></tr>
<tr><td valign="top">Aron Ahmadia</td><td valign="top">Stellenbosch University, Tufts University</td></tr>
<tr><td valign="top">Karmel Allison</td><td valign="top">Salk Institute</td></tr>
<tr><td valign="top">Avan Antia</td><td valign="top">GEOMAR (Kiel)</td></tr>
<tr><td valign="top">Mario Antonioletti</td><td valign="top">University of Oxford</td></tr>
<tr><td valign="top">Casey Bergman</td><td valign="top">University of Manchester</td></tr>
<tr><td valign="top">Sergi Blanco Cuaresma</td><td valign="top">Telecom ParisTech</td></tr>
<tr><td valign="top">John Blischak</td><td valign="top">University of Chicago</td></tr>
<tr><td valign="top">Azalee Bostroem</td><td valign="top">Lawrence Berkeley National Laboratory, University of California Davis</td></tr>
<tr><td valign="top">Erik Bray</td><td valign="top">University of Massachusetts</td></tr>
<tr><td valign="top">Peter Briggs</td><td valign="top">University of Manchester</td></tr>
<tr><td valign="top">Onno Broekmans</td><td valign="top">Vrije Universiteit</td></tr>
<tr><td valign="top">Jennifer Bryan</td><td valign="top">Duke University, NESCENT</td></tr>
<tr><td valign="top">Vince Buffalo</td><td valign="top">University of California Davis</td></tr>
<tr><td valign="top">Tim Burgis</td><td valign="top">University of Manchester</td></tr>
<tr><td valign="top">Alex Chartier</td><td valign="top">University of Bath</td></tr>
<tr><td valign="top">Adina Chuang Howe</td><td valign="top">Howard Hughes Medical Institute</td></tr>
<tr><td valign="top">Dave Clements</td><td valign="top">University of Oslo</td></tr>
<tr><td valign="top">Chan Cliburn</td><td valign="top">Duke University</td></tr>
<tr><td valign="top">Jonathan Cooper</td><td valign="top">University of Oxford</td></tr>
<tr><td valign="top">Christophe Cossou</td><td valign="top">Telecom ParisTech</td></tr>
<tr><td valign="top">Stefano Cozzini</td><td valign="top">GEOMAR (Kiel), Vrije Universiteit</td></tr>
<tr><td valign="top">Karen Cranston</td><td valign="top">NESCENT</td></tr>
<tr><td valign="top">Stephen Crouch</td><td valign="top">University of Southampton</td></tr>
<tr><td valign="top">Michael Croucher</td><td valign="top">University of Manchester</td></tr>
<tr><td valign="top">Matt Davis</td><td valign="top">Lawrence Berkeley National Laboratory, University of California Davis</td></tr>
<tr><td valign="top">Kristen De Angelis</td><td valign="top">University of Massachusetts</td></tr>
<tr><td valign="top">Davide Del Vento</td><td valign="top">University Center for Atmospheric Research</td></tr>
<tr><td valign="top">Michel Drescher</td><td valign="top">European Grid Infrastructure</td></tr>
<tr><td valign="top">Jonathan Eisen</td><td valign="top">University of California Davis</td></tr>
<tr><td valign="top">Justin Ely</td><td valign="top">GEOMAR (Kiel), Vrije Universiteit</td></tr>
<tr><td valign="top">Philip Fowler</td><td valign="top">University of Oxford</td></tr>
<tr><td valign="top">Patrick Fuller</td><td valign="top">University of Chicago</td></tr>
<tr><td valign="top">Terry Gaasterland</td><td valign="top">University of California Davis</td></tr>
<tr><td valign="top">Matt Gidden</td><td valign="top">University of Wisconsin - Madison</td></tr>
<tr><td valign="top">Carole Goble</td><td valign="top">University of Manchester</td></tr>
<tr><td valign="top">Miriam Goodman</td><td valign="top">Stanford University</td></tr>
<tr><td valign="top">Alexandre Gramfort</td><td valign="top">Telecom ParisTech</td></tr>
<tr><td valign="top">Paul Groth</td><td valign="top">Vrije Universiteit</td></tr>
<tr><td valign="top">Safe Hammad</td><td valign="top">University of Manchester</td></tr>
<tr><td valign="top">Michael Hansen</td><td valign="top">Howard Hughes Medical Institute, Indiana University, University of Notre Dame</td></tr>
<tr><td valign="top">Ted Hart</td><td valign="top">University Center for Atmospheric Research</td></tr>
<tr><td valign="top">Chris Hiestand</td><td valign="top">Salk Institute</td></tr>
<tr><td valign="top">Konrad Hinsen</td><td valign="top">Telecom ParisTech</td></tr>
<tr><td valign="top">Angelika Hoffmann</td><td valign="top">GEOMAR (Kiel)</td></tr>
<tr><td valign="top">Katy Huff</td><td valign="top">University of Wisconsin - Madison</td></tr>
<tr><td valign="top">Dave Hughes</td><td valign="top">University of Manchester</td></tr>
<tr><td valign="top">Paul Ivanov</td><td valign="top">Stanford University, University of Oklahoma</td></tr>
<tr><td valign="top">Mike Jackson</td><td valign="top">European Grid Infrastructure, University of Manchester, University of Bath</td></tr>
<tr><td valign="top">David Jones</td><td valign="top">University of Manchester, University of Southampton</td></tr>
<tr><td valign="top">Guillaume Jospin</td><td valign="top">University of California Davis</td></tr>
<tr><td valign="top">Jessica Kerr</td><td valign="top">Salk Institute</td></tr>
<tr><td valign="top">Rainer Kiko</td><td valign="top">GEOMAR (Kiel)</td></tr>
<tr><td valign="top">Justin Kitzes</td><td valign="top">University of California Berkeley</td></tr>
<tr><td valign="top">Thomas Kluyver</td><td valign="top">University of Manchester</td></tr>
<tr><td valign="top">Bernhard Konrad</td><td valign="top">Stanford University</td></tr>
<tr><td valign="top">Karin Lagesen</td><td valign="top">University of Oslo</td></tr>
<tr><td valign="top">Jenna Morgan Lang</td><td valign="top">University of California Davis</td></tr>
<tr><td valign="top">Chloe Lewis</td><td valign="top">University of California Davis</td></tr>
<tr><td valign="top">Nicolas Limare</td><td valign="top">Telecom ParisTech</td></tr>
<tr><td valign="top">Dawei Lin</td><td valign="top">University of California Davis</td></tr>
<tr><td valign="top">Paul Lu</td><td valign="top">University of Alberta</td></tr>
<tr><td valign="top">Patrick Marsh</td><td valign="top">University of Oklahoma</td></tr>
<tr><td valign="top">Steve McGough</td><td valign="top">University of Wisconsin - Madison</td></tr>
<tr><td valign="top">Jessica McKellar</td><td valign="top">Tufts University</td></tr>
<tr><td valign="top">Richard McLennan</td><td valign="top">European Grid Infrastructure</td></tr>
<tr><td valign="top">Aronne Merrelli</td><td valign="top">University of Wisconsin - Madison</td></tr>
<tr><td valign="top">Jason Moore</td><td valign="top">University of California Davis</td></tr>
<tr><td valign="top">Ben Morris</td><td valign="top">Duke University, NESCENT, Utah State University</td></tr>
<tr><td valign="top">James Morrison</td><td valign="top">University of Manchester</td></tr>
<tr><td valign="top">Gabe Murphy</td><td valign="top">Howard Hughes Medical Institute</td></tr>
<tr><td valign="top">R. David Murray</td><td valign="top">University of Massachusetts</td></tr>
<tr><td valign="top">Russell Neches</td><td valign="top">University of California Davis</td></tr>
<tr><td valign="top">Lex Nederbragt</td><td valign="top">University of Oslo</td></tr>
<tr><td valign="top">Henry Neeman</td><td valign="top">University of Oklahoma</td></tr>
<tr><td valign="top">Charlene Nielsen</td><td valign="top">University of Alberta</td></tr>
<tr><td valign="top">Kallie O'Connell</td><td valign="top">University of Notre Dame</td></tr>
<tr><td valign="top">Randy Olson</td><td valign="top">University of Notre Dame</td></tr>
<tr><td valign="top">Aleksandra Pawlik</td><td valign="top">University of Manchester</td></tr>
<tr><td valign="top">Bill Punch</td><td valign="top">Salk Institute</td></tr>
<tr><td valign="top">Karthik Ram</td><td valign="top">University of California Berkeley</td></tr>
<tr><td valign="top">Ariel Rokem</td><td valign="top">Stanford University</td></tr>
<tr><td valign="top">Barry Rowlingson</td><td valign="top">University of Manchester</td></tr>
<tr><td valign="top">Christiane Schelten</td><td valign="top">GEOMAR (Kiel)</td></tr>
<tr><td valign="top">Chris Schwarz</td><td valign="top">University of Iowa</td></tr>
<tr><td valign="top">Michael Selik</td><td valign="top">Tufts University</td></tr>
<tr><td valign="top">Jeffrey Shelton</td><td valign="top">Indiana University</td></tr>
<tr><td valign="top">Shoaib Sufi</td><td valign="top">University of Manchester, University of Oxford</td></tr>
<tr><td valign="top">David Tarboton</td><td valign="top">Utah State University</td></tr>
<tr><td valign="top">Tracy Teal</td><td valign="top">Lawrence Berkeley National Laboratory, University of California Davis, University of Massachusetts</td></tr>
<tr><td valign="top">Gael Varoquaux</td><td valign="top">Telecom ParisTech</td></tr>
<tr><td valign="top">Nelle Varoquaux</td><td valign="top">Telecom ParisTech, University of Southampton</td></tr>
<tr><td valign="top">Alex Viana</td><td valign="top">University Center for Atmospheric Research</td></tr>
<tr><td valign="top">Greg Wilson</td><td valign="top">University of Alberta</td></tr>
<tr><td valign="top">Paul Wilson</td><td valign="top">University of Wisconsin - Madison</td></tr>
<tr><td valign="top">Robin Wilson</td><td valign="top">University of Southampton</td></tr>
<tr><td valign="top">Christopher Woods</td><td valign="top">University of Bath</td></tr>
</table>
{% endblock content %}
