{% extends "_base.html" %}
{% block file_metadata %}
  <meta name="title" content="Boot Camp Staffing" />
{% endblock file_metadata %}
{% block content %}
<h3>Last Updated 2013-05-13</h3>
<table cellpadding="5" class="table table-striped">
<tr><td align="center" colspan="4"><strong>Upcoming Boot Camps</strong></td></tr>
<tr><td valign="top"><strong>Bootcamp Page</strong></td><td valign="top"><strong>Start Date</strong></td><td valign="top"><strong>Venue</strong></td><td valign="top"><strong>People</strong></td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-nescent.html">2013-05-nescent</a></td><td valign="top">2013-05-16</td><td valign="top">NESCENT</td><td valign="top">Jennifer Bryan (instructor)<br/>Karen Cranston (instructor)<br/>Elliott Hauser (instructor)<br/>Ben Morris (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-krakow.html">2013-05-krakow</a></td><td valign="top">2013-05-18</td><td valign="top">Jagiellonian University</td><td valign="top">Eryk Ciepiela (helper)<br/>Karolina Dukala (helper)<br/>Karin Lagesen (instructor)<br/>Damian Marchewka (helper)<br/>Aleksandra Pawlik (instructor)<br/>Agata Skrzypek (helper)<br/>Leszek Tarkowski (helper)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-duke.html">2013-05-duke</a></td><td valign="top">2013-05-20</td><td valign="top">Duke University</td><td valign="top">Jennifer Bryan (instructor)<br/>Chan Cliburn (host)<br/>Elliott Hauser (instructor)<br/>Ben Morris (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-ucar.html">2013-05-ucar</a></td><td valign="top">2013-05-23</td><td valign="top">University Corporation for Atmospheric Research</td><td valign="top">Davide Del Vento (host)<br/>Ted Hart (instructor)<br/>Alex Viana (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-umass.html">2013-05-umass</a></td><td valign="top">2013-05-23</td><td valign="top">University of Massachusetts</td><td valign="top">Erik Bray (instructor)<br/>Kristen De Angelis (host)<br/>R. David Murray (helper)<br/>Tracy Teal (instructor)<br/>Terri Yu (helper)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-05-alberta.html">2013-05-alberta</a></td><td valign="top">2013-05-30</td><td valign="top">University of Alberta</td><td valign="top">Dapeng Li (helper)<br/>Paul Lu (host)<br/>Cam Macdonell (instructor)<br/>Charlene Nielsen (instructor)<br/>Greg Wilson (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-06-southampton.html">2013-06-southampton</a></td><td valign="top">2013-06-03</td><td valign="top">University of Southampton</td><td valign="top">Stephen Crouch (helper)<br/>David Jones (instructor)<br/>Tim Parkinson (helper)<br/>Stuart Rossiter (instructor)<br/>Nelle Varoquaux (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-06-tufts.html">2013-06-tufts</a></td><td valign="top">2013-06-03</td><td valign="top">Tufts University</td><td valign="top">Aron Ahmadia (instructor)<br/>Jessica McKellar (instructor)<br/>Michael Selik (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-06-salk.html">2013-06-salk</a></td><td valign="top">2013-06-09</td><td valign="top">Salk Institute</td><td valign="top">Karmel Allison (helper)<br/>Dhavide Aruliah (instructor)<br/>Chris Hiestand (host)<br/>Preston Holmes (helper)<br/>Jessica Kerr (instructor)<br/>Gabriel Pratt (helper)<br/>Bill Punch (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-06-chicago.html">2013-06-chicago</a></td><td valign="top">2013-06-17</td><td valign="top">University of Chicago</td><td valign="top">John Blischak (instructor)<br/>Patrick Fuller (helper)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-06-wise.html">2013-06-wise</a></td><td valign="top">2013-06-24</td><td valign="top">women in science and engineering</td><td valign="top">Sheeri Cabral (helper)<br/>Emily Chen (helper)<br/>Adina Chuang Howe (instructor)<br/>Katie Cunningham (helper)<br/>Shauna Gordon-McKeon (helper)<br/>Jessica McKellar (instructor)<br/>Caitlyn Pickens (instructor)<br/>Amy Rich (helper)<br/>Sarah Supp (instructor)<br/>Tracy Teal (instructor)<br/>Nelle Varoquaux (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-07-oklahoma.html">2013-07-oklahoma</a></td><td valign="top">2013-07-01</td><td valign="top">University of Oklahoma</td><td valign="top">Paul Ivanov (instructor)<br/>Patrick Marsh (host)<br/>Henry Neeman (host)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-07-oslo.html">2013-07-oslo</a></td><td valign="top">2013-07-03</td><td valign="top">University of Oslo</td><td valign="top">Dave Clements (host)<br/>Karin Lagesen (instructor)<br/>Lex Nederbragt (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-07-indiana.html">2013-07-indiana</a></td><td valign="top">2013-07-11</td><td valign="top">Indiana University</td><td valign="top">Michael Hansen (instructor)<br/>Jeffrey Shelton (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-07-bath.html">2013-07-bath</a></td><td valign="top">2013-07-15</td><td valign="top">University of Bath</td><td valign="top">Alex Chartier (host)<br/>Mike Jackson (instructor)<br/>Christopher Woods (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-07-notredame.html">2013-07-notredame</a></td><td valign="top">2013-07-18</td><td valign="top">University of Notre Dame</td><td valign="top">Michael Hansen (instructor)<br/>Kallie O'Connell (host)<br/>Randy Olson (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-07-utahstate.html">2013-07-utahstate</a></td><td valign="top">2013-07-25</td><td valign="top">Utah State University</td><td valign="top">Ben Morris (instructor)<br/>David Tarboton (host)<br/>Ethan White (instructor)</td></tr>
<tr><td valign="top"><a href="http://software-carpentry.org/bootcamps/2013-09-iowa.html">2013-09-iowa</a></td><td valign="top">2013-09-05</td><td valign="top">University of Iowa</td><td valign="top">Chris Schwarz (host)</td></tr>
</table>
<table cellpadding="5" class="table table-striped">
<tr><td align="center" colspan="2"><strong>Staffing</strong></td></tr>
<tr><td valign="top"><strong>Person</strong></td><td valign="top"><strong>Venue</strong></td></tr>
<tr><td valign="top">Aron Ahmadia</td><td valign="top">Tufts University</td></tr>
<tr><td valign="top">Karmel Allison</td><td valign="top">Salk Institute</td></tr>
<tr><td valign="top">Dhavide Aruliah</td><td valign="top">Salk Institute</td></tr>
<tr><td valign="top">John Blischak</td><td valign="top">University of Chicago</td></tr>
<tr><td valign="top">Erik Bray</td><td valign="top">University of Massachusetts</td></tr>
<tr><td valign="top">Jennifer Bryan</td><td valign="top">Duke University, NESCENT</td></tr>
<tr><td valign="top">Sheeri Cabral</td><td valign="top">women in science and engineering</td></tr>
<tr><td valign="top">Alex Chartier</td><td valign="top">University of Bath</td></tr>
<tr><td valign="top">Emily Chen</td><td valign="top">women in science and engineering</td></tr>
<tr><td valign="top">Adina Chuang Howe</td><td valign="top">women in science and engineering</td></tr>
<tr><td valign="top">Eryk Ciepiela</td><td valign="top">Jagiellonian University</td></tr>
<tr><td valign="top">Dave Clements</td><td valign="top">University of Oslo</td></tr>
<tr><td valign="top">Chan Cliburn</td><td valign="top">Duke University</td></tr>
<tr><td valign="top">Karen Cranston</td><td valign="top">NESCENT</td></tr>
<tr><td valign="top">Stephen Crouch</td><td valign="top">University of Southampton</td></tr>
<tr><td valign="top">Katie Cunningham</td><td valign="top">women in science and engineering</td></tr>
<tr><td valign="top">Kristen De Angelis</td><td valign="top">University of Massachusetts</td></tr>
<tr><td valign="top">Davide Del Vento</td><td valign="top">University Corporation for Atmospheric Research</td></tr>
<tr><td valign="top">Karolina Dukala</td><td valign="top">Jagiellonian University</td></tr>
<tr><td valign="top">Patrick Fuller</td><td valign="top">University of Chicago</td></tr>
<tr><td valign="top">Shauna Gordon-McKeon</td><td valign="top">women in science and engineering</td></tr>
<tr><td valign="top">Michael Hansen</td><td valign="top">Indiana University, University of Notre Dame</td></tr>
<tr><td valign="top">Ted Hart</td><td valign="top">University Corporation for Atmospheric Research</td></tr>
<tr><td valign="top">Elliott Hauser</td><td valign="top">Duke University, NESCENT</td></tr>
<tr><td valign="top">Chris Hiestand</td><td valign="top">Salk Institute</td></tr>
<tr><td valign="top">Preston Holmes</td><td valign="top">Salk Institute</td></tr>
<tr><td valign="top">Paul Ivanov</td><td valign="top">University of Oklahoma</td></tr>
<tr><td valign="top">Lakshmanan Iyer</td><td valign="top">Tufts University</td></tr>
<tr><td valign="top">Mike Jackson</td><td valign="top">University of Bath</td></tr>
<tr><td valign="top">David Jones</td><td valign="top">University of Southampton</td></tr>
<tr><td valign="top">Jessica Kerr</td><td valign="top">Salk Institute</td></tr>
<tr><td valign="top">Karin Lagesen</td><td valign="top">Jagiellonian University, University of Oslo</td></tr>
<tr><td valign="top">Dapeng Li</td><td valign="top">University of Alberta</td></tr>
<tr><td valign="top">Paul Lu</td><td valign="top">University of Alberta</td></tr>
<tr><td valign="top">Cam Macdonell</td><td valign="top">University of Alberta</td></tr>
<tr><td valign="top">Damian Marchewka</td><td valign="top">Jagiellonian University</td></tr>
<tr><td valign="top">Patrick Marsh</td><td valign="top">University of Oklahoma</td></tr>
<tr><td valign="top">Jessica McKellar</td><td valign="top">Tufts University, women in science and engineering</td></tr>
<tr><td valign="top">Ben Morris</td><td valign="top">Duke University, NESCENT, Utah State University</td></tr>
<tr><td valign="top">R. David Murray</td><td valign="top">University of Massachusetts</td></tr>
<tr><td valign="top">Lex Nederbragt</td><td valign="top">University of Oslo</td></tr>
<tr><td valign="top">Henry Neeman</td><td valign="top">University of Oklahoma</td></tr>
<tr><td valign="top">Charlene Nielsen</td><td valign="top">University of Alberta</td></tr>
<tr><td valign="top">Kallie O'Connell</td><td valign="top">University of Notre Dame</td></tr>
<tr><td valign="top">Randy Olson</td><td valign="top">University of Notre Dame</td></tr>
<tr><td valign="top">Tim Parkinson</td><td valign="top">University of Southampton</td></tr>
<tr><td valign="top">Aleksandra Pawlik</td><td valign="top">Jagiellonian University</td></tr>
<tr><td valign="top">Caitlyn Pickens</td><td valign="top">women in science and engineering</td></tr>
<tr><td valign="top">Gabriel Pratt</td><td valign="top">Salk Institute</td></tr>
<tr><td valign="top">Bill Punch</td><td valign="top">Salk Institute</td></tr>
<tr><td valign="top">Amy Rich</td><td valign="top">women in science and engineering</td></tr>
<tr><td valign="top">Stuart Rossiter</td><td valign="top">University of Southampton</td></tr>
<tr><td valign="top">Chris Schwarz</td><td valign="top">University of Iowa</td></tr>
<tr><td valign="top">Michael Selik</td><td valign="top">Tufts University</td></tr>
<tr><td valign="top">Jeffrey Shelton</td><td valign="top">Indiana University</td></tr>
<tr><td valign="top">Agata Skrzypek</td><td valign="top">Jagiellonian University</td></tr>
<tr><td valign="top">Sarah Supp</td><td valign="top">women in science and engineering</td></tr>
<tr><td valign="top">David Tarboton</td><td valign="top">Utah State University</td></tr>
<tr><td valign="top">Leszek Tarkowski</td><td valign="top">Jagiellonian University</td></tr>
<tr><td valign="top">Tracy Teal</td><td valign="top">University of Massachusetts, women in science and engineering</td></tr>
<tr><td valign="top">Nelle Varoquaux</td><td valign="top">University of Southampton, women in science and engineering</td></tr>
<tr><td valign="top">Alex Viana</td><td valign="top">University Corporation for Atmospheric Research</td></tr>
<tr><td valign="top">Ethan White</td><td valign="top">Utah State University</td></tr>
<tr><td valign="top">Greg Wilson</td><td valign="top">University of Alberta</td></tr>
<tr><td valign="top">Robin Wilson</td><td valign="top">University of Southampton</td></tr>
<tr><td valign="top">Christopher Woods</td><td valign="top">University of Bath</td></tr>
<tr><td valign="top">Terri Yu</td><td valign="top">University of Massachusetts</td></tr>
</table>
{% endblock content %}
