{% extends "_base.html" %}
{% block file_metadata %}
  <meta name="title" content="Instructor Badge" />
{% endblock file_metadata %}
{% block navhighlight %}{{navhighlight('badges')}}{% endblock navhighlight %}
{% block content %}
<div class="media">
  <img class="media-object pull-left" src="{{root_path}}/img/badges/instructor.png" alt="Software Carpentry 'Instructor' Badge" />
  <div class="media-body">Awarded to individuals qualified to lead Software Carpentry boot camps.<br/>Please click on the download icon to fetch the individual badge.</div>
</div>
<table>
  <tr>
    <td><a href="anderson.c.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#anderson.c">Carlos Anderson</a></td>
  </tr>
  <tr>
    <td><a href="aruliah.d.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#aruliah.d">Dhavide Aruliah</a></td>
  </tr>
  <tr>
    <td><a href="bostroem.a.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#bostroem.a">Azalee Bostroem</a></td>
  </tr>
  <tr>
    <td><a href="bray.e.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#bray.e">Erik Bray</a></td>
  </tr>
  <tr>
    <td><a href="brown.ct.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#brown.ct">C. Titus Brown</a></td>
  </tr>
  <tr>
    <td><a href="cannam.c.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#cannam.c">Chris Cannam</a></td>
  </tr>
  <tr>
    <td><a href="chuang-howe.a.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#chuang-howe.a">Adina Chuang Howe</a></td>
  </tr>
  <tr>
    <td><a href="chue-hong.n.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#chue-hong.n">Neil Chue Hong</a></td>
  </tr>
  <tr>
    <td><a href="crouch.s.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#crouch.s">Steve Crouch</a></td>
  </tr>
  <tr>
    <td><a href="davis.m.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#davis.m">Matt Davis</a></td>
  </tr>
  <tr>
    <td><a href="dickson.r.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#dickson.r">Ross Dickson</a></td>
  </tr>
  <tr>
    <td><a href="dursi.j.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#dursi.j">Jonathan Dursi</a></td>
  </tr>
  <tr>
    <td><a href="ely.j.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#ely.j">Justin Ely</a></td>
  </tr>
  <tr>
    <td><a href="guy.t.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#guy.t">Richard "Tommy" Guy</a></td>
  </tr>
  <tr>
    <td><a href="haddock.s.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#haddock.s">Steve Haddock</a></td>
  </tr>
  <tr>
    <td><a href="hansen.m.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#hansen.m">Mike Hansen</a></td>
  </tr>
  <tr>
    <td><a href="hart.t.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#hart.t">Ted Hart</a></td>
  </tr>
  <tr>
    <td><a href="hinsen.k.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#hinsen.k">Konrad Hinsen</a></td>
  </tr>
  <tr>
    <td><a href="huff.k.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#huff.k">Katy Huff</a></td>
  </tr>
  <tr>
    <td><a href="jackson.m.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#jackson.m">Mike Jackson</a></td>
  </tr>
  <tr>
    <td><a href="mckellar.j.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#mckellar.j">Jessica McKellar</a></td>
  </tr>
  <tr>
    <td><a href="mitchell.i.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#mitchell.i">Ian Mitchell</a></td>
  </tr>
  <tr>
    <td><a href="pell.j.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#pell.j">Jason Pell</a></td>
  </tr>
  <tr>
    <td><a href="perez.f.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#perez.f">Fernando Perez</a></td>
  </tr>
  <tr>
    <td><a href="scopatz.a.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#scopatz.a">Anthony Scopatz</a></td>
  </tr>
  <tr>
    <td><a href="shelton.j.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#shelton.j">Jeff Shelton</a></td>
  </tr>
  <tr>
    <td><a href="smith.j.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#smith.j">Joshua Ryan Smith</a></td>
  </tr>
  <tr>
    <td><a href="varoquaux.n.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#varoquaux.n">Nelle Varoquaux</a></td>
  </tr>
  <tr>
    <td><a href="white.e.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#white.e">Ethan White</a></td>
  </tr>
  <tr>
    <td><a href="williams.l.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#williams.l">Lynne Williams</a></td>
  </tr>
  <tr>
    <td><a href="wilson.g.png"><i class="icon-download"></i></a></td>
    <td><a href="{{root_path}}/about/team.html#wilson.g">Greg Wilson</a></td>
  </tr>
</table>
{% endblock content %}
