{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Boot Camp Setup" />
  <meta name="subfile" content="common.html" />
  <meta name="subfile" content="osx.html" />
  <meta name="subfile" content="redhatsl6.html" />
  <meta name="subfile" content="terminal.html" />
  <meta name="subfile" content="ubuntu.html" />
  <meta name="subfile" content="windows.html" />
{% endblock file_metadata %}

{% block content %}
<p>This page lists the standard software used in many of our boot 
camps and links to pages describing how to install this software on 
various platforms.</p>

<p>Your boot camp organizer will let you know exactly what software you 
need to install before coming to your boot camp. You should ensure you 
have the software installed <em>before</em> you arrive at the boot camp.
 This is so that practicals can proceed smoothly on the day. If you run 
into any problems installing the software please let your boot camp 
organizer know as soon as possible.</p>

<p>You can run through the check-list below to see you've got the necessary software installed.</p>

<h2>Getting a terminal window</h2>

<p>Most of the checks assume you're using a terminal window (also commonly called a command-line <a href="http://en.wikipedia.org/wiki/Shell_%28computing%29">shell </a>or <a href="http://en.wikipedia.org/wiki/Terminal_emulator">terminal emulator</a>). If you don't know what this is or how to get one then please go to our page <a href="terminal.html">on getting a terminal window</a>.</p>

<h2>What to do if you do not have a piece of required software</h2>

<p>Please see the operating system-specific installation instructions</p>
<ul>
<li><a href="common.html">Instructions common to all</a></li>
<li><a href="ubuntu.html">Ubuntu</a></li>
<li><a href="redhatsl6.html">RedHat/Scientific Linux 6</a></li>
<li><a href="windows.html">Windows</a></li>
<li><a href="osx.html">Mac OSX</a></li>
</ul>

<p>then pop back to this page to validate.</p>

<h2>Bash shell, the UNIX shell we like to use</h2>

<p>At the prompt, enter:</p>
<pre>
$ whoami
</pre>
<p>You should be told your user name, e.g.:</p>
<pre>
mjj
</pre>

<p><a href="http://www.gnu.org/software/bash/manual/bashref.html">http://www.gnu.org/software/bash/manual/bashref.html</a></p>

<h2>Make for automating builds</h2>

<p>At the prompt, enter
<pre>
$ make --version
</pre>

<p>You should be given a version number, e.g.:</p>
<pre>
GNU Make 3.81
</pre>

<a href="http://www.gnu.org/software/make/">http://www.gnu.org/software/make/</a></p>

<h2>A text editor for writing your code</h2>

<p>Whatever editor you use is up to you. To see if your favourite is 
installed try one of the following, or just try and create a text file.</p>

<p>nano:</p>
<ul>
<li>At the prompt, enter
<pre>
$ nano --version
</pre></li>
<li>You should be given a version number, e.g.:
<pre>
GNU nano version 2.0.9 (compiled 14:28:54, Nov 23 2010)
</pre></li>
<li><a href="http://www.nano-editor.org/">http://www.nano-editor.org/</a></li>
</ul>

<p>Notepad (for Cygwin users):</p>
<ul>
<li>Edit files within your home directory under <code>C:\cygwin\home\user\</code>.</li>
</ul>
<p>TextEdit (for Mac OSX users):</p>
<ul>
<li>Edit files within your home directory under <code>/Users/user</code>.</li>
</ul>

<p>VI:</p>
<ul>
<li>At the prompt, enter
<pre>
$ vi --version
</pre></li>
<li>You should be given a version number, e.g.
<pre>
VIM - Vi IMproved 7.2 (2008 Aug 9, compiled Feb 25 2011 09:33:03)
</pre></li>
<li><a href="http://www.vim.org/">http://www.vim.org/</a></li>
</ul>

<p>Emacs:</p>
<ul>
<li>At the prompt, enter
<pre>
$ emacs --version
</pre></li>
<li>You should be given a version number, e.g.
<pre>
GNU Emacs 23.1.1
</pre></li>
<li><a href="http://www.gnu.org/software/emacs/">http://www.gnu.org/software/emacs/</a></li>
</ul>

<p>XEmacs:</p>
<ul>
<li>At the prompt, enter
<pre>
$ xemacs --version
</pre></li>
<li>You should be given a version number, e.g.
<pre>
XEmacs 21.5 (beta31) "ginger" [Lucid] (x86_64-redhat-linux, Mule)...
</pre></li>
<li><a href="http://www.gnu.org/software/emacs/">http://www.gnu.org/software/emacs/</a></li>
</ul>

<h2>Python for scripting</h2>

<p>Any Python 2 version from 2.6 onwards is recommended. We have <em>not</em> yet tried Python 3 so please stick to Python 2.6 or 2.7 versions.</p>

<p>To check that it's installed and what version you have, at the prompt, enter:</p>

<pre>
$ python --version
</pre>

<p>You should be given a version number, e.g.:</p>
<pre>
Python 2.6.6
</pre>

<p>Now, check its behavior:</p>
<pre>
$ python
&gt;&gt;&gt; print 2+2
4
</pre>

<p>And, check it has the sqlite3 library if your boot camp is covering relational databases:</p>
<pre>
&gt; import sqlite3
</pre>

<p>If all is fine it won't complain.</p>
<p><a href="http://www.python.org/">http://www.python.org/</a></p>

<h2>Python setuptools for installing Python packages</h2>
<p>At the prompt, enter:</p>
<pre>
$ easy_install --version
</pre>

<p>You should be given a version number, e.g.:</p>
<pre>
distribute 0.6.10
</pre>

<p>or a warning:</p>
<pre>
usage: easy_install [options] requirement_or_url ...
or: easy_install --help
error: option --version not recognized
</pre>

<h2>Python nose for running unit tests</h2>

<p>At the prompt, enter:</p>
<pre>
$ nosetests --version
</pre>

<p>You should be given a version number, e.g.:</p>
<pre>
nosetests version 0.10.4
</pre>

<p>At the prompt, enter:</p>
<pre>
$ nosetests
</pre>

<p>You should be given a test report, e.g.:</p>
<pre>
........
Ran 0 tests in 0.003s
OK
</pre>

<h2>BitBucket for using remote version control repositories</h2>

<p>For version control practicals, we use BitBucket to enable 
repositories to be used remotely and to be shared. To get a BitBucket 
account for version control practicals, just sign up for free at
<a href="https://bitbucket.org/">https://bitbucket.org/</a>.</p>

<h2>Mercurial for distributed version control</h2>

<p>At the prompt, enter:</p>
<pre>
$ hg --version
</pre>

<p>You should be given a version number, e.g.:</p>
<pre>
Mercurial Distributed SCM (version 1.4)
</pre>
<p><a href="http://mercurial.selenic.com/">http://mercurial.selenic.com/</a></p>

<h2>EasyMercurial for version control via a GUI</h2>
<ul>
<li>Create a directory (folder) somewhere on your computer.</li>
<li>Start EasyMercurial either by selecting it from a menu, double-clicking an icon or running:
<pre>
$ ./EasyMercurial
</pre>
at the command-line, depending upon your operating system</li>
<li>Open Repository dialog will appear</li>
<li>Click <strong>File folder</strong></li>
<li>Click <strong>Browse...</strong> and select your directory</li>
<li>Click <strong>OK</strong></li>
</ul>
<p><a href="http://easyhg.org/">http://easyhg.org/</a></p>

<h2>SQLite for a lightweight relational database</h2>
<p>At the prompt, enter:</p>
<pre>
$ sqlite3 -version
</pre>

<p>You should be given a version number, e.g.:</p>
<pre>
3.6.20
</pre>
<p><a href="http://www.sqlite.org/">http://www.sqlite.org/</a></p>

<h2>Firefox for the SQLite manager below</h2>
<p>Depending upon your operating system either start up Firefox from its menu or icon, or, at the prompt, enter:</p>
<pre>
$ firefox
</pre>
<p><a href="http://www.mozilla.org/en-US/firefox/new/">http://www.mozilla.org/en-US/firefox/new/</a></p>
<h2>Firefox SQLite manager for a relational database</h2>
<p>Once Firefox is running:</p>
<ul>
<li>Select <strong>Tools</strong> &rarr; <strong>SQLite Manager</strong></li>
<li>SQLite Manager window appears</li>
<li>Select <strong>Database</strong> &rarr; <strong>New database</strong></li>
</ul>
<p><a href="http://code.google.com/p/sqlite-manager/">http://code.google.com/p/sqlite-manager/</a></p>
{% endblock content %}
