{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Boot Camp Setup" />
  <meta name="subfile" content="checklist.html" />
  <meta name="subfile" content="common.html" />
  <meta name="subfile" content="osx.html" />
  <meta name="subfile" content="redhatsl6.html" />
  <meta name="subfile" content="terminal.html" />
  <meta name="subfile" content="tests.html" />
  <meta name="subfile" content="ubuntu.html" />
  <meta name="subfile" content="uhoh.html" />
  <meta name="subfile" content="windows.html" />
{% endblock file_metadata %}

{% block content %}
<p>In order to participate in a boot camp, attendees will need certain software installed on their personal laptops. Your boot camp organizer will let you know exactly what software you need to install before coming to the boot camp. If you run into any problems with installation, please let your boot camp organizer know as soon as possible.<p>

<div class="toc">
<h3>Contents</h3>
<ul>
    <li><a href="{{root_path}}/setup/checklist.html" >Checklist of software</a></li>
    <li><a href="{{root_path}}/setup/tests.html" >Test your software</a></li>
    <li><a href="{{root_path}}/setup/uhoh.html">Uh-oh, I'm missing something!</a></li>
</ul>
</div>

---------------------------------------------------------------------


{% endblock content %}
