{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Boot Camp Setup" />
  <meta name="subfile" content="common.html" />
  <meta name="subfile" content="osx.html" />
  <meta name="subfile" content="redhatsl6.html" />
  <meta name="subfile" content="terminal.html" />
  <meta name="subfile" content="ubuntu.html" />
  <meta name="subfile" content="windows.html" />
{% endblock file_metadata %}

{% block content %}
<p>This page lists the standard software used in many of our boot 
camps and links to pages describing how to install this software on 
various platforms.</p>

<p>Your boot camp organizer will let you know exactly what software you 
need to install before coming to your boot camp. You should ensure you 
have the software installed <em>before</em> you arrive at the boot camp.
 This is so that practicals can proceed smoothly on the day. If you run 
into any problems installing the software please let your boot camp 
organizer know as soon as possible.</p>


<div class="toc">
<h3>Contents</h3>
<ul>
    <li>Checklist of Software</li>
    <li>Test what you have already</li>
    <li>Uh-oh, I'm missing something!</li>
</ul>
</div>

<h3>Checklist</h3>
<p>You can run through the check-list below to see you've got the necessary software installed.</p>


<h3>I'm missing something!</h3>

<p>Please see the operating system-specific installation instructions</p>
<ul>
<li><a href="common.html">Instructions common to all</a></li>
<li><a href="ubuntu.html">Ubuntu</a></li>
<li><a href="redhatsl6.html">RedHat/Scientific Linux 6</a></li>
<li><a href="windows.html">Windows</a></li>
<li><a href="osx.html">Mac OSX</a></li>
</ul>

<p>then pop back to this page to validate.</p>

---------------------------------------------------------------------


{% endblock content %}
