{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Boot Camp Setup (Getting a Terminal Window)" />
{% endblock file_metadata %}

{% block content %}
<p>To check your software or install it for a boot camp requires you to use a  terminal window (also commonly called a command-line <a href="http://en.wikipedia.org/wiki/Shell_(computing)">shell </a>or <a href="http://en.wikipedia.org/wiki/Terminal_emulator">terminal emulator</a>).</p>
<p>Here are ways to get a terminal window for popular operating systems.</p>
<p><strong>To get a terminal window in Ubuntu:</strong></p>
<p>Select the menu <strong>Applications</strong> &rarr; <strong>Accessories</strong> and select <strong>Terminal.</strong> You should see a terminal window like,</p>
<p><a href="{{root_path}}/files/2012/10/ubuntu-terminal.jpg"><img title="ubuntu-terminal" src="{{root_path}}/files/2012/10/ubuntu-terminal-300x197.jpg" alt="Ubuntu terminal" width="300" height="197" /></a></p>
<p><strong>To get a terminal window in RedHat/Scientific Linux 6:</strong></p>
<p>This depends on what windowing system you are using whether it be KDE, GNOME or X-windows.</p>
<p>For example, for GNOME select the menu <strong>Applications</strong> &rarr; <strong>System Tools</strong> and select <strong>Terminal</strong>. You should see a terminal window like,</p>
<p><img src="{{root_path}}/files/2012/10/gnome-terminal-300x195.jpg" alt="Gnome terminal" /></p>
<p><strong>To get a terminal window in Cygwin under Windows:</strong></p>
<p>For Cygwin under Windows, start the Cygwin Terminal by clicking on your desk-top icon which looks like,</p>
<p><img src="{{root_path}}/files/2012/10/cygwin-icon.jpg" alt="Cygwin icon" /></p>
<p>Or browse using Windows Explorer to <code>C:\cygwin\bin\</code> and double-click on <code>mintty.exe</code>. You should see a terminal window like,</p>
<p><img src="{{root_path}}/files/2012/10/cygwin-terminal-300x175.jpg" alt="Cygwin terminal" /></p>
<p>Your home directory&mdash;the one the Cygwin Terminal defaults to&mdash;can be found at <code>C:\cygwin\home\user\</code>.</p>
<p><strong>To get a terminal window in Cygwin under MacOSX:</strong></p>
<p>Browse into the <strong>Applications</strong> folder, then into the <strong>Utilities</strong> folder and open the Terminal application. You should see a terminal window like,</p>
<p><img src="{{root_path}}/files/2012/10/mac-terminal-300x257.jpg" alt="Mac terminal" /></p>
<p>Your &#8220;home&#8221; directory &#8211; the one the terminal defaults to &#8211; can be found at <code>/Users/user</code>.</p>

{% endblock content %}
