{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Boot Camp Setup (Windows)" />
{% endblock file_metadata %}

{% block content %}
<h1>For all boot camps</h1>

<h2>Install the Anaconda CE Python Distribution</h2>
<ul>
<li>Download and Install Anaconda CE from <a href="http://continuum.io/anacondace.html">http://continuum.io/anacondace.html</a></li>
<li>Use all of the defaults for installation <em>except</em> before pressing <strong>Finish</strong> make sure to check the <strong>Make Anaconda the default Python</strong> box.</li>
</ul>

<h2>Install Msysgit for bash</h2>
<ul>
<li>Download and Install msysgit from <a href="http://code.google.com/p/msysgit/downloads/list?q=full+installer+official+git">http://code.google.com/p/msysgit/downloads/list?q=full+installer+official+git</a></li>
<li>Use all of the default options in the installer</li>
</ul>

<h2>Install the Software Carpentry Installer</h2>
<ul>
<li>Download the installer from <a href="https://raw.github.com/swcarpentry/boot-camps/master/setup/swc-windows-installer.py">https://raw.github.com/swcarpentry/boot-camps/master/setup/swc-windows-installer.py</a></li>
<li>If the file opens directly in the browser select <strong>File -> Save Page As</strong> to download it to your computer</li>
<li>Double click on the file to run it</li>
</ul>

<h1>For some boot camps</h1>
<p>If your boot camp will be using the following software please install it by following the instructions</p>

<h2>SQLite</h2>
Only follow one set of these instructions depending on how your bootcamp will use SQLite.

<h3>Using the Firefox addon</h3>
<ul>
<li>Start Firefox</li>
<li>Select <strong>Tools</strong> &rarr;<strong> Add-ons</strong></li>
<li>In the search field, enter <code>sqlite</code></li>
<li>Click the search icon</li>
<li>Double-click to select <strong>SQLite Manager 0.7.7</strong></li>
<li>Click <strong>Install</strong></li>
<li>Click <strong>restart now</strong></li>
<li>When Firefox restarts, Select either <strong>Web Developer</strong> &rarr;
<strong>SQLite Manager</strong> or <strong>Tools</strong> &rarr; <strong>SQLite Manager</strong></li>
</ul>

<h3>Using sqlite3 from the command line</h3>
<ul>
<li>Download sqlite-shell-win32-x86-SOMENUMBERS.zip from <a href="http://www.sqlite.org/download.html">http://www.sqlite.org/download.html</a></li>
<li>Unzip the file</li>
<li>Copy sqlite.exe into C:\Windows</li>
</ul>

<h2>Mercurial</h2>
<ul>
<li>Download and install Mercurial http://mercurial.selenic.com/downloads/</li>
<li>If your boot camp is using EasyMercurial download and install it from <a href="http://easyhg.org/download.html">http://easyhg.org/download.html</a></li>
</ul>

{% endblock content %}
