{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Boot Camp Setup (Common)" />
{% endblock file_metadata %}

{% block content %}
<p>The following software has the same installation instructions for all operating systems.</p>
<p><strong>Firefox SQLite manager </strong></p>
<p>The SQLite Manager add-on can be installed through the "Add-ons Manager" in Firefox.</p>
<ul>
<li>Start Firefox</li>
<li>Select <strong>Tools</strong> =&gt;<strong> Add-ons</strong></li>
<li>In the search field, enter <code>sqlite</code></li>
<li>Click the search icon</li>
<li>Double-click to select <strong>SQLite Manager 0.7.7</strong></li>
<li>Click <strong>Install</strong></li>
<li>Click <strong>restart now</strong></li>
<li>When Firefox restarts, Select <strong>Tools</strong> =&gt; <strong>SQLite Manager</strong></li>
</ul>
{% endblock content %}
