{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Boot Camp Setup (Mac OS X)" />
{% endblock file_metadata %}

{% block content %}
<p>[Tested using Mac OSX 10.7.4]</p>
<p>Mac OSX 10.7.4 already comes with</p>
<ul>
<li>Bash shell</li>
<li>vi and nano text editors</li>
<li>Python 2.7</li>
<li>Python setuptools</li>
<li>sqlite3</li>
</ul>
<p>All installation needs to be done as a root user or user with certain administrator privileges.</p>
<h2>Install make</h2>
<p>If you do not already have access to <code>make</code> from within your shell, you will need to install XCode (which is free)</p>
<ul>
<li>Go to the Apple app store</li>
<li>Search for XCode</li>
<li>Click <strong>Free</strong></li>
<li>Click <strong>Install App</strong></li>
</ul>
<p>Once XCode has installed</p>
<ul>
<li>Click <strong>Applications</strong></li>
<li>Click <strong>XCode</strong></li>
<li>Select <strong>XCode</strong> =&gt; <strong>Preferences...</strong></li>
<li>Click <strong>Downloads</strong></li>
<li>Select <strong>Command Line Tools</strong></li>
<li>Click <strong>Install</strong></li>
</ul>
<p>You will now be able to run <code>make</code> within your bash shell.</p>
<h2>Install Python nose</h2>
<p>Run <code> </code></p>
<p><code>$ easy_install nose </code></p>
<p>And check <code> </code></p>
<p><code>$ nosetests </code></p>
<p><code></code><code>---------------------------------------------------------------------- </code><code>Ran 0 tests in 0.003s</code></p>
<p><code>OK </code></p>
<h2>Install Mercurial</h2>
<p>Download the Mac binary package from <a href="http://mercurial.selenic.com/">http://mercurial.selenic.com/</a>.</p>
<h2>Install EasyMercurial</h2>
<p>Download the Mac binary package from <a href="https://code.soundsoftware.ac.uk/projects/easyhg/files">https://code.soundsoftware.ac.uk/projects/easyhg/files</a>.</p>
<h2>Install Firefox</h2>
<p>You can download Firefox from the Mozilla web site at <a href="http://www.mozilla.org/en-US/firefox/new/">http://www.mozilla.org/en-US/firefox/new/</a>.</p>

{% endblock content %}
