{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Acknowledgments" />
{% endblock file_metadata %}

{% block content %}
    <p>
      Software Carpentry has been made possible by the generous support of:
    </p>

    <table>
      <tr>
        <td valign="top">
          <ul>
            <li>
              <a href="http://www.indiana.edu">Indiana University</a>
            </li>
            <li>
              <a href="http://www.lbl.gov">Lawrence Berkeley National Laboratory</a>
            </li>
            <li>
              <a href="http://www.lanl.gov">Los Alamos National Laboratory</a>
            </li>
            <li>
              <a href="http://www.mathworks.com">MathWorks</a>
            </li>
            <li>
              <a href="http://www.msu.edu">Michigan State University</a>
            </li>
            <li>
              <a href="http://www.microsoft.com">Microsoft</a>
            </li>
            <li>
              <a href="http://www.mitacs.ca">MITACS</a>
            </li>
            <li>
              <a href="http://mozillafoundation.org">The Mozilla Foundation</a>
            </li>
            <li>
              <a href="http://www.python.org/psf/">The Python Software Foundation</a>
            </li>
            <li>
              <a href="http://www.qmul.ac.uk">Queen Mary University of London</a>
            </li>
          </ul>
        </td>
        <td valign="top">
          <ul>
            <li>
              <a href="http://www.scimatic.com">Scimatic Software</a>
            </li>
            <li>
              <a href="http://www.scinet.utoronto.ca">SciNet</a>
            </li>
            <li>
              <a href="http://www.sharcnet.ca">SHARCNET</a>
            </li>
            <li>
              <a href="http://www.sloan.org">The Alfred P. Sloan Foundation</a>
            </li>
            <li>
              <a href="http://www.stsci.edu">The Space Telescope Science Institute</a>
            </li>
            <li>
              <a href="http://www.metoffice.gov.uk">The UK Meteorological Office</a>
            </li>
            <li>
              <a href="http://www.ualberta.ca">The University of Alberta</a>
            </li>
            <li>
              <a href="http://www.ucar.edu">The University Consortium for Atmospheric Research</a>
            </li>
            <li>
              <a href="http://www.utoronto.ca">The University of Toronto</a>
            </li>
          </ul>
        </td>
      </tr>
    </table>

    <p>
      We are grateful to everyone who has created or used our material.
      Special thanks go to Brent Gorda,
      who helped build and teach the first version of this course,
      and to John Reynders,
      who gave us the chance to show how we could help scientists get more done.
    </p>
{% endblock content %}
