{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Bibliography" />
{% endblock file_metadata %}

{% block content %}
    <dl>

      <dt id="agans-debugging">
        <span class="author">David J. Agans</span>:
        <cite>Debugging</cite>.
        <span class="publisher">Amacom</span>,
        <span class="year">2006</span>,
        <span class="isbn">0814474578</span>.
      </dt>
      <dd>
        A simple guide to debugging programs, organized around nine simple rules.
        More and larger examples would have been welcome, but it is still a good place for novices to start.
      </dd>

      <dt id="chase-simon-chess">
        <span class="author">William G. Chase</span> and <span class="author">Herbert A. Simon</span>:
        <span class="title">"Perception in chess"</span>.
        <cite>Cognitive Psychology</cite>,
        <span class="year">1973</span>.
      </dt>
      <dd>
        A classic study of chunking which found that experts are actually <em>worse</em> than novices
        at remembering cases that don't match their mental repertoire of patterns.
      </dd>

      <dt id="deleon-trouble-with-unix">
        <span class="author">Lorenzo De Leon</span>,
        <span class="author">William G. Harris</span>,
        and <span class="author">Martha Evens</span>:
        <span class="title">Is there really trouble with UNIX?</span>
        In <cite class="proceedings">Proc. SIGCHI'83</cite>,
        <span class="year">1983</span>.
      </dt>
      <dd>
        The authors taught the usual Unix commands to one group of students,
        and made-up "English" equivalents to another.
        To their surprise,
        they found that the group using the regular (cryptic) commands
        made fewer errors than their peers.
        They speculated that this was because
        their subjects didn't associate any prior meaning with the cryptic commands.
      </dd>

      <dt id="feathers-working-effectively-legacy-code">
        <span class="author">Michael Feathers</span>:
        <cite>Working Effectively with Legacy Code</cite>.
        <span class="publisher">Prentice Hall</span>,
        <span class="year">2004</span>,
        <span class="isbn">0131177052</span>.
      </dt>
      <dd>
        If code is exercised by unit tests, changes can be made quickly and safely.
        If it isn't, they can't, so your first job when you inherit legacy code should be to write some.
        That's where this book comes in.
        What to know three different ways to inject a test into a C++ class without changing the code?
        Or which classes or methods to focus testing on,
        or how to break inter-class dependencies in Java so that you can test one module without having to configure the entire application?
        It's all here, along with lots of other useful information.
      </dd>

      <dt id="fogel-producing-oss">
        <span class="author">Karl Fogel</span>:
        <cite>Producing Open Source Software: How to Run a Successful Free Software Project</cite>.
        <span class="publisher">O'Reilly</span>,
        <span class="year">2005</span>,
        <span class="isbn">0596007590</span>.
      </dt>
      <dd>
        This book is an excellent guide to how open source projects actually work.
        Every page offers practical advice on how to earn commit privileges on a project,
        get it more attention,
        or fork it in case of irreconcilable differences.
      </dd>

      <dt id="fowler-refactoring">
        <span class="author">Martin Fowler</span>:
        <cite>Refactoring: Improving the Design of Existing Code</cite>.
        <span class="publisher">Addison-Wesley</span>,
        <span class="year">1999</span>,
        <span class="isbn">201485672</span>.
      </dt>
      <dd>
        Presents patterns that recur when programs are being reorganized.
        Some of these are well-known,
        such as placing common code in a utility method.
        Others, such as replacing temporary objects with queries or replacing constructors with factory methods,
        are subtler,
        but no less important.
        Each entry includes a section on motivation,
        the mechanics of actually carrying out the transformation,
        and an example in Java.
      </dd>

      <dt id="goldberg-floating-point">
        <span class="author">David Goldberg</span>:
        <span class="title">"What Every Computer Scientist Should Know About Floating-Point Arithmetic"</span>.
        <cite>ACM Computing Surveys</cite>,
        <span class="volume">23</span>(<span class="number">1</span>),
        <span class="month">March</span> <span class="year">1991</span>.
      </dt>
      <dd>
        A must-read for anyone whose career depends on the correctness of their calculations.
      </dd>

      <dt id="lawrance-debug-foraging">
        <span class="author">Joseph Lawrance</span>,
        <span>Christopher Bogart</span>
        <span class="author">Margaret Burnett</span>,
        <span class="author">Rachel Bellamy</span>,
        <span class="author">Kyle Rector</span>,
        and <span class="author">Scott D. Fleming</span>:
        <span class="title">"How Programmers Debug, Revisited: An Information Foraging Theory Perspective"</span>.
        <cite>IEEE Transactions on Software Engineering</cite>,
        <span class="volume">99</span>,
        <span class="year">2010</span>.
      </dt>
      <dd>
        A recent empirical study showing that programmers don't actually construct and refute hypotheses when debugging.
        Instead, they forage for information,
        following "scents" that past experience tells them are likely to lead to solutions.
      </dd>

      <dt id="sedgewick-algorithms-c">
        <span class="author">Robert Sedgewick</span>:
        <cite>Algorithms in C</cite>.
        <span class="publisher">Addison-Wesley</span>,
        <span class="year">2001</span>,
        <span class="isbn">0201756080</span>.
      </dt>
      <dd>
        These books are a guide to all the other conceptual tools that working programmers ought to have at their fingertips,
        from sorting and searching algorithms to different kinds of trees and graphs.
        The analysis is far more accessible than that of many other textbooks,
        and while the author's use of C may seem old-fashioned in an age of Java and C#,
        it does ensure that nothing magical is hidden inside an overloaded operator or virtual method call.
      </dd>

      <dt id="segaran-collective-intelligence">
        <span class="author">Toby Segaran</span>:
        <cite>Programming Collective Intelligence: Building Smart Web 2.0 Applications</cite>.
        <span class="publisher">O'Reilly</span>,
        <span class="year">2007</span>,
        <span class="isbn">0596529325</span>.
      </dt>
      <dd>
        A very good introduction to using clustering, collaborative filtering, and other statistical techniques
        to find knowledge (if not wisdom) in large data sets.
      </dd>

      <dt id="spolsky-unicode">
        <span class="author">Joel Spolsky</span>:
        <span class="title">"The Absolute Minimum Every Software Developer Absolutely, Positively Must Know About Unicode and Character Sets (No Excuses!)"</span>.
        <a href="http://www.joelonsoftware.com/articles/Unicode.html">http://www.joelonsoftware.com/articles/Unicode.html</a>,
        accessed <span class="month">January</span> <span class="year">2010</span>.
      </dt>
      <dd>
        A lightweight, readable explanation of character sets, character encodings, and all that.
      </dd>

      <dt id="wingerd-seiwald-scm">
        <span class="author">Laura Wingerd</span> and <span class="author">Christopher Seiwald</span>:
        <span class="title">"High-level Best Practices in Software Configuration Management"</span>.
        <span class="publisher">Perforce Software Inc.</span>,
        <a href="http://www.perforce.com/perforce/papers/bestpractices.pdf">http://www.perforce.com/perforce/papers/bestpractices.pdf</a>,
        accessed <span class="month">October</span> <span class="year">2010</span>.
      </dt>
      <dd>
        This paper,
        written by the creators of the Perforce version control system,
        explains how to manage code repositories when many developers will be working on many projects
        at the same time.
      </dd>

    </dl>
{% endblock content %}
