{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Extras" />
{% endblock file_metadata %}

{% block content %}

    <section id="s:reading">

      <h2>Reading Documents</h2>

      <div class="understand" id="u:reading">
        <h3>Understand:</h3>
        <ul>
          <li>How the Document Object Model represents HTML and XML.</li>
        </ul>
      </div>

      <p>
        People usually write their home pages by hand,
        but most pages that display lists of experimental results,
        or second-hand lab equipment for sale,
        are created by programs.
        For historical reasons,
        Python's standard library includes several libraries that process XML (including HTML);
        we'll use the simplest one,
        called <code>ElementTree</code>,
        but you will often run into programs that use others.
      </p>

      <p>
        Most of these libraries represent the nested structure of XML using something called
        the <a href="glossary.html#document-object-model">Document Object Model</a> (DOM).
        This stores the document as a <a href="glossary.html#tree">tree</a>
        with one node for each element or block of text.
        The root element of the document,
        such as the all-enclosing <code>html</code> in a web page,
        is the root node of the tree.
        Every other element or block of text is a child of it,
        or a child of a child,
        and so on.
        For example,
        the tree representing our web page about dimorphism
        looks like <a href="#f:dimorphism_tree">Figure XXX</a>.
      </p>

      <figure id="f:dimorphism_tree">
        <img src="img/web/dimorphism_tree.png" alt="Tree Representation of Dimorphism Page" />
      </figure>

      <p>
        There are basically two ways to create a tree like this:
        parse a string (or file) containing XML,
        or build the nodes one by one and put them together manually.
        The former is more common,
        since the usual way to store and exchange XML or HTML is as text,
        so we will explore that first.
        Let's begin by turning text into HTML and then back into text:
      </p>

<pre src="src/web/parse_simple_page.py">
import xml.etree.ElementTree as ET

page = '''&lt;html&gt;
  &lt;body&gt;
    &lt;h1&gt;Dimorphism&lt;/h1&gt;
    &lt;p class="definition"&gt;Occurring or existing in two different &lt;u&gt;forms&lt;/u&gt;.&lt;/p&gt;
    &lt;p&gt;
      The most notable form is sexual dimorphism,
      in which males and females have noticeably different appearances.
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;'''

doc = ET.fromstring(page)
text = ET.tostring(doc, 'utf-8')
print text
</pre>

      <p class="continue">
        We start by importing the <code>xml.etree.ElementTree</code> library
        and giving it the alias <code>ET</code>
        (which is a lot easier to type and read).
        The multi-line string assigned to the variable <code>page</code>
        is the "document" we will parse;
        most real programs will read data from a file instead.
      </p>

      <p>
        Parsing itself takes just a single call to <code>ET.fromstring</code>;
        it returns the root node of the DOM tree corresponding to that document.
        We then convert that tree back to text by calling <code>ET.tostring</code>.
        The <code>'utf-8'</code> argument specifies how we want characters represented;
        you should always use this option unless you know enough to know
        that you want something else.
        <span class="fixme">need a better explanation than this</span>
      </p>

      <p>
        The program's output is:
      </p>

<pre><span class="out">&lt;html&gt;
  &lt;body&gt;
    &lt;h1&gt;Dimorphism&lt;/h1&gt;
    &lt;p class="definition"&gt;Occurring or existing in two different &lt;u&gt;forms&lt;/u&gt;.&lt;/p&gt;
    &lt;p&gt;
      The most notable form is sexual dimorphism,
      in which males and females have noticeably different appearances.
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;</span>
</pre>

      <p class="continue">
        which is exactly what we started with.
      </p>

      <p class="fixme">point out how much simpler this is than parsing...</p>

      <p>
        In the example above,
        our output was exactly the same as our input,
        but that won't always be the case.
        Here's another simple program that converts text to a node tree and back:
      </p>

<pre src="src/web/round_trip.py">
import xml.etree.ElementTree as ET

original = '''&lt;root&gt;&lt;node
                     front="1"
                     back="2"&gt;content&lt;/node&gt;&lt;/root&gt;'''


doc = ET.fromstring(original)
print ET.tostring(doc, 'utf-8')
<span class="out">&lt;root&gt;&lt;node back="2" front="1"&gt;content&lt;/node&gt;&lt;/root&gt;</span>
</pre>

      <p class="continue">
        <code>node</code>'s attributes are all on one line in the output,
        and in a different order than they were in the input.
        The reason for the first difference is that XML ignores whitespace inside elements:
        the parser simply throws away
        the extra spaces and newlines inside the definition of <code>&lt;node&hellip;&gt;</code>.
        The reason for the second is that attributes are treated as a dictionary,
        and dictionary keys are unordered.
        As far as the rules of XML are concerned,
        the input and output are the same thing.
        Unfortunately,
        as far as string comparison and tools like <code>diff</code> are concerned,
        they are not.
      </p>

      <p>
        Since almost all XML or HTML documents are stored in files,
        the ElementTree library provides a convenience function
        that parses files directly.
        If <code>dimorphism.html</code> contains our definition of sexual dimorphism,
        then:
      </p>

<pre>
import xml.etree.ElementTree as ET
doc = ET.parse('dimorphism.html')
</pre>

      <p class="continue">
        reads the text in that file,
        converts it to a DOM tree,
        and returns the tree's root node.
      </p>

      <div class="keypoints" id="k:reading">
        <h3>Summary</h3>
        <ul>
          <li>Use <code>xml.etree.ElementTree</code> to parse HTML and XML.</li>
        </ul>
      </div>

    </section>

    <section id="s:search">

      <h2>Finding Nodes</h2>

      <div class="understand" id="u:search">
        <h3>Understand:</h3>
        <ul>
          <li>How to find DOM elements using XPath.</li>
        </ul>
      </div>

      <p>
        Most databases are read more often than they're written,
        so most of <a href="db.html">our discussion of SQL</a>
        focuses on finding things.
        Most web pages are read more than once too,
        so libraries like ElementTree provide tools for locating nodes of interest.
        The most important of these is the <code>findall</code> method,
        which searches all the children of a node
        to find ones that match a pattern.
        For example,
        if some molecular formulas are stored like this:
      </p>

<pre src="src/web/molecular_formulas.xml">
&lt;formulas&gt;
  &lt;formula name="ammonia"&gt;
    &lt;atom symbol="N" number="1"/&gt;
    &lt;atom symbol="H" number="3"/&gt;
  &lt;/formula&gt;
  &lt;formula name="water"&gt;
    &lt;atom symbol="H" number="2"/&gt;
    &lt;atom symbol="O" number="1"/&gt;
  &lt;/formula&gt;
  &lt;formula name="methanol"&gt;
    &lt;atom symbol="C" number="1"/&gt;
    &lt;atom symbol="O" number="1"/&gt;
    &lt;atom symbol="H" number="4"/&gt;
  &lt;/formula&gt;
&lt;/formulas&gt;
</pre>

      <p class="continue">
        then this program will count how many formulas there are:
      </p>

<pre src="src/web/count_formulas.py">
import sys
import xml.etree.ElementTree as ET

doc = ET.parse(sys.argv[1])
root = doc.getroot()
formulas = root.findall("./formula")
print len(formulas)
<span class="out">3</span>
</pre>

      <p>
        The key to this programs is <code>root.findall("./formula")</code>.
        The pattern <code>"./formula"</code> means,
        "Starting with this node ('.'),
        examine its children ('/')
        for elements with the tag 'formula."
        The result of the <code>findall</code> call is a list of nodes that match.
      </p>

      <p>
        The mini-language used for patterns is called
        <a href="glossary.html#xpath">XPath</a>.
        Some parts,
        like '.' and '/',
        are deliberately reminiscent of the way paths are described in
        <a href="shell.html#s:filedir">the Unix filesystem</a>.
        Other parts are more complicated,
        but it's possible to do a lot without using them.
        Some common XPath expressions are:
      </p>

      <table>
        <tr>
          <td>
            <code>tag</code>
          </td>
          <td>
            All immediate children with the given tag.
            <code>formula</code> selects all child <code>formula</code> elements,
            and <code>formula/atom</code> selects all <code>atom</code> elements
            that are children of <code>formula</code> children.
          </td>
        </tr>
        <tr>
          <td>
            <code>*</code>
          </td>
          <td>
            All child elements.
            <code>*/atom</code> selects all grandchild <code>atom</code> elements,
            regardless of what the intervening parent is.
          </td>
        </tr>
        <tr>
          <td>//</td>
          <td>
            All subelements on all levels beneath the current element.
            <code>.//atom</code> selects all <code>atoms</code> elements in the entire tree.
          </td>
        </tr>
        <tr>
          <td><code>.</code></td>
          <td>
            The current node.
            It is mostly used at the beginning of a path to indicate that it is a relative path.
          </td>
        </tr>
        <tr>
          <td><code>..</code></td>
          <td>The parent of the current node.</td>
        </tr>
        <tr>
          <td><code>[@attrib]</code></td>
          <td>
            All elements with the given attribute (regardless of that attribute's value).
            <code>.//atom[@name]</code> selects all atoms in the tree
            that have a <code>name</code> attribute,
            but not any <code>atom</code> elements that are missing that attribute.
          </td>
        </tr>
        <tr>
          <td>
            <code>[@attrib="value"]</code>
          </td>
          <td>
            All elements for which the given attribute has the given value.
            <code>.//atom[@symbol="C"]</code> finds all carbon atoms.
          </td>
        </tr>
        <tr>
          <td>
            <code>[tag]</code>
          </td>
          <td>
            All elements that have a child element with the given tag.
            <code>atom[comment]</code> finds all <code>atom</code> nodes
            that have an immediate child of type <code>comment</code>.
          </td>
        </tr>
        <tr>
          <td>
            <code>[position]</code>
          </td>
          <td>
            All elements that located in the given position relative to their parent.
            The position can be either an integer (1 is the first position),
            the expression <code>last()</code> for the last position,
            or a position relative to <code>last()</code>,
            such as <code>last()-1</code>.
          </td>
        </tr>
      </table>

      <p>
        Let's use these expressions to check that a data file is properly formatted
        by looking for all the <code>atom</code> nodes
        that are <em>not</em> immediate children of <code>formula</code> nodes.
        Our data file is:
      </p>

<pre src="src/web/bad_formulas.xml">
&lt;formulas&gt;
  &lt;formula name="ammonia"&gt;
    &lt;atom symbol="N" number="1"/&gt;
    &lt;atom symbol="H" number="3"/&gt;
  &lt;/formula&gt;
  &lt;atom symbol="H" number="2"/&gt;       <span class="comment">&lt;!-- mistake! --&gt;</span>
  &lt;formula name="water"&gt;
    &lt;atom symbol="O" number="1"&gt;
      &lt;atom symbol="H" number="2"/&gt;   <span class="comment">&lt;!-- another mistake --&gt;</span>
    &lt;/atom&gt;
  &lt;/formula&gt;
&lt;/formulas&gt;
</pre>

      <p class="continue">
        and our program is:
      </p>

<pre src="src/web/validate_doc.py">
import xml.etree.ElementTree as ET

doc = ET.parse('bad_formulas.xml')
all_atoms = doc.findall('.//atom')
proper_atoms = doc.findall('.//formula/atom')
wrongly_placed = set(all_atoms) - set(proper_atoms)
for atom in wrongly_placed:
    print ET.tostring(atom)
<span class="out">&lt;atom number="2" symbol="H" /&gt;

&lt;atom number="2" symbol="H" /&gt;

</span>
</pre>

      <p class="continue">
        After converting the XML document to a tree,
        this program uses <code>doc.findall</code> to get all of the <code>atom</code> nodes,
        and then uses it again to find all the <code>atom</code> nodes
        that are immediate children of <code>formula</code> nodes.
        Subtracting the second set from the first
        gives the nodes that are <em>not</em> immediate children of <code>formula</code> nodes,
        i.e.,
        that are in the wrong place.
      </p>

      <p>
        A couple of things are worth pointing out about this program.
        First,
        the ElementTree library doesn't record where in the document nodes are from,
        so we can't pinpoint the line or character position of the offending nodes.
        Second,
        the double-spacing on the output comes from the fact that
        our original document contained lots of whitespace
        to make it easier for human beings to read,
        and ElementTree kept this whitespace
        (storing it as the <code>tail</code> value for various nodes).
        This kind of extra whitespace is always an annoyance when we're programming,
        so it's tempting to leave it out.
        However,
        doing so makes it harder for human beings to read the raw XML
        using line-oriented editors.
        Most modern browsers will display the XML as a tree
        (<a href="#f:xml_in_browser">Figure XXX</a>)
        but native XML-oriented editing tools are still clumsy.
      </p>

      <figure id="f:xml_in_browser">
        <img src="img/web/xml_in_browser.png" alt="XML in the Browser" />
      </figure>

      <div class="keypoints" id="k:search">
        <h3>Summary</h3>
        <ul>
          <li>Use XPath expressions to identify nodes in a document.</li>
          <li>Use a node's <code>findall</code> method to find children matching an XPath expression.</li>
        </ul>
      </div>

    </section>

    <section id="s:creating">

      <h2>Creating Documents</h2>

      <div class="understand" id="u:creating">
        <h3>Understand:</h3>
        <ul>
          <li>How to create DOM in memory and turn it into a document.</li>
        </ul>
      </div>

      <p>
        So much for reading XML: how do we create it?
        Let's start by writing a program that re-creates our dimorphism page
        one element at time:
      </p>

<pre src="src/web/build_simple_page.py">
import xml.etree.ElementTree as ET

root = ET.Element('html')

body = ET.Element('body')
root.append(body)

title = ET.SubElement(body, 'h1')
title.text = 'Dimorphism'

p1 = ET.SubElement(body, 'p')
p1.text = 'Occurring or existing in two different '
u = ET.SubElement(p1, 'u')
u.text = 'forms'
p1.tail = '.'

long_text = '''The most notable form is sexual dimorphism,
in which males and females have noticeably different appearances.'''
ET.SubElement(body, 'p').text = long_text

print ET.tostring(root)
</pre>

      <p>
        There is much less to this program than first appears.
        It starts by creating an object of type <code>Element</code>,
        which is the class the ElementTree library uses to represent nodes.
        The argument to <code>Element</code>'s constructor,
        <code>html</code>,
        specifies the element's type.
      </p>

      <p>
        The next two lines create another node of type <code>body</code>
        and then append that to the root node.
        At this point, our tree looks like
        <a href="#f:partial_tree">Figure XXX</a>:
      </p>

      <figure id="f:partial_tree">
        <img src="img/web/partial_tree.png" alt="Partially-Constructed Tree" />
      </figure>

      <p>
        The rest of the program does little more than create and append nodes.
        Because creating a node and appending it to another one is so common,
        ElementTree provides a convenience function called <code>SubElement</code>
        which combines the two steps.
        The two lines:
      </p>

<pre>
title = ET.SubElement(body, 'h1')
title.text = 'Dimorphism'
</pre>

      <p class="continue">
        create a new node of type <code>h1</code>,
        append it to the <code>body</code> node,
        and then set the text content of the title node to be the string <code>'Dimorphism'</code>.
      </p>

      <p>
        The next step is the most complicated.
        We need to create a paragraph node
        whose <code>class</code> attribute has the value <code>definition</code>,
        and which contains three things:
      </p>

      <ol>

        <li>
          the text <code>'Occurring or existing in two different&nbsp;'</code>
          (with a space at the end);
        </li>

        <li>
          a <code>u</code> element containing the text <code>'forms'</code>;
          and
        </li>

        <li>
          another piece of text containing the period '.' that ends the sentence.
        </li>

      </ol>

      <p>
        Creating the paragraph node and appending it to our body node is easy:
        we just call <code>SubElement</code>.
        Setting an attribute is also easy:
        every node has a dictionary called <code>attrib</code>
        whose keys are attribute names
        and whose values are those attributes' values.
        The single line:
      </p>

<pre>
p1.attrib['class'] = 'definition'
</pre>

      <p class="continue">
        therefore creates the attribute we want.
      </p>

      <p>
        Now for the paragraph's content.
        Again, the first part is easy:
        we just set <code>p1.text</code>.
        And underlining the word "forms" is easy too:
        we create a node of type <code>u</code> and append it to the paragraph.
        But where should the closing period be stored?
      </p>

      <p>
        Along with <code>text</code>,
        ElementTree nodes have another text field called <code>tail</code>,
        which stores the text <em>after</em> the node
        but before the start of anything else.
        Since the period is in the paragraph,
        the right place to store it is therefore <code>u.tail</code>
        (since putting it in <code>p1.tail</code> would imply that
        it came after the end of the first paragraph,
        but before the start of the next paragraph).
      </p>

      <p>
        Finally,
        we create the second paragraph that elaborates dimorphism's definition
        by combining node creation and text setting in a single line:
      </p>

<pre>
ET.SubElement(body, 'p').text = long_text
</pre>

      <p class="continue">
        This works because <code>SubElement</code> returns the node it just created,
        so we can immediately set its <code>text</code> value.
      </p>

      <figure id="f:final_tree">
        <img src="img/web/final_tree.png" alt="Final Tree" />
      </figure>

      <p>
        In memory,
        our document is now something like <a href="#f:final_tree">Figure XXX</a>.
        If we convert it to text,
        we get:
      </p>

<pre>
<span class="out">&lt;html&gt;&lt;body&gt;&lt;h1&gt;Dimorphism&lt;/h1&gt;&lt;p class="definition"&gt;Occurring or existing in two&crarr;
different &lt;u&gt;forms&lt;/u&gt;.&lt;/p&gt;&lt;p&gt;The most notable form is sexual dimorphism,
in which males and females have noticeably different appearances.&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;</span>
</pre>

      <p class="continue">
        (As before, we use &crarr; to break a line that's too long to fit on the screen.)
        This has all the content we created,
        but <em>only</em> that content.
        We didn't create text nodes containing carriage returns and blanks,
        so <code>tostring</code> didn't insert them.
        Most machine-generated XML isn't nicely indented
        because computers don't care,
        but XML intended for human beings to read usually is.
      </p>

      <p>
        in practice,
        of course,
        programs usually wrap all these steps up in functions.
        For example,
        this function converts a Python list into an HTML ordered list:
      </p>

<pre src="src/web/list_to_ol.py">
import xml.etree.ElementTree as ET

def convert(values):
    '''Convert a list of values to an &lt;ol&gt; list.'''

    result = ET.Element('ol')
    for v in values:
        ET.SubElement(result, 'li').text = str(v)
    return result

root = convert([1, "two", 3.4])
print ET.tostring(root)
<span class="out">&lt;ol&gt;&lt;li&gt;1&lt;/li&gt;&lt;li&gt;two&lt;/li&gt;&lt;li&gt;3.4&lt;/li&gt;&lt;/ol&gt;</span>
</pre>

        <p>
          The line:
        </p>

<pre>
        ET.SubElement(result, 'li').text = str(v)
</pre>

        <p class="continue">
          does two things at once.
          First,
          it creates a new <code>li</code> (list element) node and returns it.
          Second,
          it sets the <code>text</code> of that node to be
          the string representation of the next list value.
          What it <em>doesn't</em> do is store a reference to that node in a separate variable.
          We could do this,
          as in:
        </p>

<pre>
    for v in values:
        node = ET.SubElement(result, 'li')
        node.text = str(v)
</pre>

        <p class="continue">
          It's a matter of taste which is less unreadable,
          but since we're about to see a different approach that most people find better anyway,
          the question is moot.
        </p>

      <div class="keypoints" id="k:creating">
        <h3>Summary</h3>
        <ul>
          <li>Use the same library to create elements in memory rather than concatenating and printing strings.</li>
          <li>An element's <code>text</code> property stores the text it contains.</li>
          <li>An element's <code>tail</code> property stores the text that comes immediately after it.</li>
        </ul>
      </div>

    </section>

{% endblock content %}
