{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="Software Carpentry" />
  <meta name="subfile" content="intro.html" />
  <meta name="subfile" content="shell.html" />
  <meta name="subfile" content="svn.html" />
  <meta name="subfile" content="python.html" />
  <meta name="subfile" content="pymedia.html" />
  <meta name="subfile" content="funclib.html" />
  <meta name="subfile" content="db.html" />
  <meta name="subfile" content="numpy.html" />
  <meta name="subfile" content="quality.html" />
  <meta name="subfile" content="setdict.html" />
  <meta name="subfile" content="dev.html" />
  <meta name="subfile" content="web.html" />
  <meta name="subfile" content="teach.html" />
  <meta name="subfile" content="concl.html" />
  <meta name="subfile" content="ack.html" />
  <meta name="subfile" content="extras.html" />
  <meta name="subfile" content="bib.html" />
  <meta name="subfile" content="glossary.html" />
  <meta name="subfile" content="ref.html" />
{% endblock file_metadata %}

{% block content %}
  <p align="center">
    Under construction.
  </p>
  <ol class="toc">
    <li><a href="intro.html">Introduction</a></li>
    <li><a href="shell.html">The Shell</a>
      <ol>
        <li><a href="shell.html#s:what">What and Why</a></li>
        <li><a href="shell.html#s:filedir">Files and Directories</a></li>
        <li><a href="shell.html#s:create">Creating Things</a></li>
        <li><a href="shell.html#s:pipefilter">Pipes, Filters, and Wildcards</a></li>
        <li><a href="shell.html#s:loop">Loops</a></li>
        <li><a href="shell.html#s:scripts">Shell Scripts</a></li>
        <li><a href="shell.html#s:find">Finding Things</a></li>
        <li><a href="shell.html#s:summary">Summing Up</a></li>
      </ol>
    </li>
    <li><a href="svn.html">Version Control</a>
      <ol>
        <li><a href="svn.html#s:basics">Basic Use</a></li>
        <li><a href="svn.html#s:merge">Merging Conflicts</a></li>
        <li><a href="svn.html#s:rollback">Recovering Old Versions</a></li>
        <li><a href="svn.html#s:setup">Setting up a Repository</a></li>
        <li><a href="svn.html#s:provenance">Provenance</a></li>
        <li><a href="svn.html#s:summary">Summing Up</a></li>
      </ol>
    </li>
    <li><a href="python.html">Basic Programming With Python</a>
      <ol>
        <li><a href="python.html#s:basic">Basic Operations</a></li>
        <li><a href="python.html#s:program">Creating Programs</a></li>
        <li><a href="python.html#s:types">Types</a></li>
        <li><a href="python.html#s:io">Reading Files</a></li>
        <li><a href="python.html#s:stdio">Standard Input and Output</a></li>
        <li><a href="python.html#s:for">Repeating Things</a></li>
        <li><a href="python.html#s:logic">Making Choices</a></li>
        <li><a href="python.html#s:flag">Flags</a></li>
        <li><a href="python.html#s:parse">Reading Data Files</a></li>
        <li><a href="python.html#s:provenance">Provenance Revisited</a></li>
        <li><a href="python.html#s:lists">Lists</a></li>
        <li><a href="python.html#s:morelist">More About Lists</a></li>
        <li><a href="python.html#s:nestloop">Nesting Loops</a></li>
        <li><a href="python.html#s:nestlist">Nesting Lists</a></li>
        <li><a href="python.html#s:alias">Aliasing</a></li>
        <li><a href="python.html#s:summary">Summing Up</a></li>
      </ol>
    </li>
    <li><a href="funclib.html">Functions and Libraries</a>
      <ol>
        <li><a href="funclib.html#s:basics">How Functions Work</a></li>
        <li><a href="funclib.html#s:global">Global Variables</a></li>
        <li><a href="funclib.html#s:args">Multiple Arguments</a></li>
        <li><a href="funclib.html#s:return">Returning Values</a></li>
        <li><a href="funclib.html#s:aliasing">Aliasing</a></li>
        <li><a href="funclib.html#s:libraries">Libraries</a></li>
        <li><a href="funclib.html#s:stdlib">Standard Libraries</a></li>
        <li><a href="funclib.html#s:filter">Building Filters</a></li>
        <li><a href="funclib.html#s:funcobj">Functions as Objects</a></li>
        <li><a href="funclib.html#s:summary">Summing Up</a></li>
      </ol>
    </li>
    <li><a href="pymedia.html">Basic Programming With Python and Images</a></li>
    <li><a href="db.html">Databases</a>
      <ol>
        <li><a href="db.html#s:select">Selecting</a></li>
        <li><a href="db.html#s:distinct">Removing Duplicates</a></li>
        <li><a href="db.html#s:calc">Calculating New Values</a></li>
        <li><a href="db.html#s:filter">Filtering</a></li>
        <li><a href="db.html#s:sort">Sorting</a></li>
        <li><a href="db.html#s:aggregate">Aggregation</a></li>
        <li><a href="db.html#s:design">Database Design</a></li>
        <li><a href="db.html#s:join">Combining Data</a></li>
        <li><a href="db.html#s:selfjoin">Self Join</a></li>
        <li><a href="db.html#s:null">Missing Data</a></li>
        <li><a href="db.html#s:nested">Nested Queries</a></li>
        <li><a href="db.html#s:create">Creating and Modifying Tables</a></li>
        <li><a href="db.html#s:transactions">Transactions</a></li>
        <li><a href="db.html#s:programming">Programming With Databases</a></li>
        <li><a href="db.html#s:provenance">Provenance Once More</a></li>
        <li><a href="db.html#s:summary">Summing Up</a></li>
      </ol>
    </li>
    <li><a href="numpy.html">Number Crunching</a>
      <ol>
        <li><a href="numpy.html#s:basics">Basics</a></li>
        <li><a href="numpy.html#s:storage">Storage</a></li>
        <li><a href="numpy.html#s:indexing">Indexing</a></li>
        <li><a href="numpy.html#s:linalg">Linear Algebra</a></li>
        <li><a href="numpy.html#s:plotting">Plotting</a></li>
        <li><a href="numpy.html#s:recommend">Making Recommendations</a></li>
        <li><a href="numpy.html#s:life">The Game of Life</a></li>
        <li><a href="numpy.html#s:summary">Summing Up</a></li>
      </ol>
    </li>
    <li><a href="quality.html">Quality</a>
      <ol>
        <li><a href="quality.html#s:defensive">Defensive Programming</a></li>
        <li><a href="quality.html#s:except">Handling Errors</a></li>
        <li><a href="quality.html#s:unit">Unit Testing</a></li>
        <li><a href="quality.html#s:numbers">Numbers</a></li>
        <li><a href="quality.html#s:coverage">Coverage</a></li>
        <li><a href="quality.html#s:debug">Debugging</a></li>
        <li><a href="quality.html#s:testable">Designing Testable Code</a></li>
        <li><a href="quality.html#s:summary">Summing Up</a></li>
      </ol>
    </li>
    <li><a href="setdict.html">Sets and Dictionaries</a>
      <ol>
        <li><a href="setdict.html#s:sets">Sets</a></li>
        <li><a href="setdict.html#s:storage">Storage</a></li>
        <li><a href="setdict.html#s:dict">Dictionaries</a></li>
        <li><a href="setdict.html#s:examples">Simple Examples</a></li>
        <li><a href="setdict.html#s:nanotech">Nanotech Inventory</a></li>
        <li><a href="setdict.html#s:phylotree">Phylogenetic Trees</a></li>
        <li><a href="setdict.html#s:summary">Summing Up</a></li>
      </ol>
    </li>
    <li><a href="dev.html">Development</a>
      <ol>
        <li><a href="dev.html#s:grid">The Grid</a></li>
        <li><a href="dev.html#s:alias">Aliasing</a></li>
        <li><a href="dev.html#s:random">Randomness</a></li>
        <li><a href="dev.html#s:neighbors">Neighbors</a></li>
        <li><a href="dev.html#s:ties">Handling Ties</a></li>
        <li><a href="dev.html#s:assembly">Putting It All Together</a></li>
        <li><a href="dev.html#s:bugs">Bugs</a></li>
        <li><a href="dev.html#s:refactor">Refactoring</a></li>
        <li><a href="dev.html#s:test">Testing</a></li>
        <li><a href="dev.html#s:performance">Performance</a></li>
        <li><a href="dev.html#s:profile">Profiling</a></li>
        <li><a href="dev.html#s:fail">Speeding It Up</a></li>
        <li><a href="dev.html#s:lazy">A New Beginning</a></li>
        <li><a href="dev.html#s:summary">Summing Up</a></li>
      </ol>
    </li>
    <li><a href="web.html">Web Programming</a>
      <ol>
        <li><a href="web.html#s:history">How We Got Here</a></li>
        <li><a href="web.html#s:formatting">Formatting Rules</a></li>
        <li><a href="web.html#s:attributes">Attributes</a></li>
        <li><a href="web.html#s:morehtml">More HTML</a></li>
        <li><a href="web.html#s:creating">Creating Documents</a></li>
        <li><a href="web.html#s:templating">A Better Way to Create Documents</a></li>
        <li><a href="web.html#s:http">How the Web Works</a></li>
        <li><a href="web.html#s:client">Getting Data</a></li>
        <li><a href="web.html#s:server">Providing Data</a></li>
        <li><a href="web.html#s:index">Creating an Index</a></li>
        <li><a href="web.html#s:syndicate">Syndicating Data</a></li>
        <li><a href="web.html#s:summary">Summing Up</a></li>
      </ol>
    </li>
    <li><a href="teach.html">Instructor's Guide</a>
      <ol>
        <li><a href="teach.html#s:understand">What Does It Mean to Understand Computing?</a></li>
        <li><a href="teach.html#s:conceptual">There Are No Blank Slates</a></li>
        <li><a href="teach.html#s:relevance">Relevance and Empowerment</a></li>
        <li><a href="teach.html#s:load">Cognitive Load</a></li>
        <li><a href="teach.html#s:scaling">Scaling Instruction</a></li>
        <li><a href="teach.html#s:summary">Summing Up</a></li>
      </ol>
    </li>
    <li><a href="concl.html">Conclusion</a>
      <ol>
        <li><a href="concl.html#s:meaning">Computers Don't Understand, They Obey</a></li>
        <li><a href="concl.html#s:turing">Programs Are Data Too</a></li>
        <li><a href="concl.html#s:modelview">Models for Computers, Views for People</a></li>
        <li><a href="concl.html#s:perf">Programming is a Human Activity</a></li>
        <li><a href="concl.html#s:paranoia">Paranoia Makes Us Productive</a></li>
        <li><a href="concl.html#s:algo">Better Algorithms Beat Better Hardware</a></li>
        <li><a href="concl.html#s:tools">The Tool Shapes the Hand</a></li>
        <li><a href="concl.html#s:summary">Summary</a></li>
      </ol>
    </li>
    <li><a href="ack.html">Acknowledgments</a></li>
    <li><a href="extras.html">Extras</a></li>
    <li><a href="bib.html">Bibliography</a></li>
    <li><a href="glossary.html">Glossary</a></li>
    <li><a href="ref.html">Reference Guides</a></li>
  </ol>
{% endblock content %}
