{% extends "_base.html" %}

{% block file_metadata %}
  <meta name="title" content="References Guides" />
{% endblock file_metadata %}

{% block content %}
    <ol class="toc">
      <li><a href="#s:bool">Booleans</a></li>
      <li><a href="#s:shell">The Shell</a></li>
      <li><a href="#s:version-control">Version Control</a></li>
      <li><a href="#s:python">Python</a></li>
      <li><a href="#s:db">Databases</a></li>
      <li><a href="#s:css">Cascading Style Sheets</a></li>
    </ol>

    <section id="s:bool">

      <h2>Booleans</h2>

      <p>
        Now let's take a look at two words
        that are adjectives in the real world,
        but nouns in programs:
        <code>True</code> and <code>False</code>.
        We'll also look at how to combine them using <code>and</code>, <code>or</code>, and <code>not</code>,
        using a few Venn diagrams that you might remember from grade school.
      </p>

      <p>
        First,
        what is truth?
        Or less poetically,
        what is true?
        In Python,
        the value <code>True</code> is true,
        but so are the values 1, 3.14, and "cadmium".
        It's actually easier to ask what is false,
        because the list is much shorter:
        <code>False</code>,
        zero,
        the empty string,
        the empty list,
        and a handful of things we haven't met yet.
        These values are considered false
        in the way that 0 is considered the same as 0.0:
        Python automatically uses one as the other
        when the context requires it.
      </p>

      <p>
        Because of this,
        most Python programmers don't write:
      </p>

<pre>
if len(data) != 0:
    ...do something...
</pre>

      <p class="continue">
        Instead,
        they just write:
      </p>

<pre>
if len(data):
    ...do something...
</pre>

      <p>
        Similarly,
        if we want to do something when
        the variable <code>message</code> holds an empty string,
        the idiomatic way to write it is:
      </p>

<pre>
if not message:
    ...do something...
</pre>

      <p class="continue">
        rather than:
      </p>

<pre>
if len(message) == 0:
    ...do something...
</pre>

      <div class="box">

        <h3>Truth as a Noun</h3>

        <p>
          It takes a while to get used to the idea that
          <code>True</code> and <code>False</code> are nouns in programs
          rather than adjectives.
          One sign that someone hasn't really got it is code like this:
        </p>

<pre>
if (x &gt; 0) == True:
    ...do something...
</pre>

        <p class="continue">
          If <code>x</code> is greater than zero,
          then <code>x &gt; 0</code> <em>is</em> true,
          so comparing it to <code>True</code> is redundant.
          Another example is:
        </p>

<pre>
have_data = len(data) > 0
if have_data == True:
    ...do something...
</pre>

        <p>
          <code>len(data)</code> is either greater than zero or it isn't,
          so the right side of the first statement is either true or false.
          Either value can be assigned to the variable <code>have_data</code>
          just as easily as a number like 23.
          Once again,
          comparing that value to <code>True</code> is redundant&mdash;the
          value <em>is</em> either true or false,
          so this code should be written:
        </p>

<pre>
have_data = len(data) > 0
if have_data:
    ...do something...
</pre>

      </div>

      <p>
        Now let's consider the set of all animals.
        This includes dogs, ponies, monkeys, giraffes, and everything else you loved at the zoo.
        We can divide this set of animals by applying some simple Boolean tests.
        For example, we could ask, "Is it a flying animal?"
        Once we've got that set,
        we can create the set of all things that <em>don't</em> fly by saying, "Not flying."
        Those not-flying creatures may not have anything else in common except the fact that they don't fly,
        but we don't care.
        Once we know how to tell if an animal flies,
        we can tell if something is not-flying.
      </p>

      <p>
        For example,
        <a href="#f:flying_creatures">Figure XXX</a> shows seven creatures.
        Once we've selected the ones that fly,
        we can say "not flying" to create the complementary set.
      </p>

      <figure id="f:flying_creatures">
        <img src="img/python/flying_creatures.png" alt="Flying Creatures" />
      </figure>

      <p>
        We can divide up those animals in other ways.
        For example,
        if we ask which ones are real and which are not,
        we get two different subsets from the same universal set
        (<a href="#f:real_creatures">Figure XXX</a>).
      </p>

      <figure id="f:real_creatures">
        <img src="img/python/real_creatures.png" alt="Real Creatures" />
      </figure>

      <p>
        In Venn diagram terms,
        asking which creatures fly divides the world into two parts:
        flying and not-flying.
        Asking which creatures are real also divides the world into two parts,
        so our result has four parts (<a href="#f:flying_real_creatures">Figure XXX</a>):
        those that fly,
        those that are real,
        those that satisfy both conditions,
        and those that satisfy neither.
        When a computer programmer says "flying and real",
        what she means is,
        "Those things that satisfy both conditions."
      </p>

      <figure id="f:flying_real_creatures">
        <img src="img/python/flying_real_creatures.png" alt="Flying and Real Creatures" />
      </figure>

      <p>
        Another way to look at this is to use a table:
      </p>

      <table>
        <tr>
          <th>Name</th>
          <th>Flying?</th>
          <th>Real?</th>
        </tr>
        <tr>
          <td>owl</td>
          <td>true</td>
          <td>true</td>
        </tr>
        <tr>
          <td>dragon</td>
          <td>true</td>
          <td>false</td>
        </tr>
        <tr>
          <td>frog</td>
          <td>false</td>
          <td>true</td>
        </tr>
        <tr>
          <td>dodo</td>
          <td>false</td>
          <td>true</td>
        </tr>
        <tr>
          <td>unicorn</td>
          <td>false</td>
          <td>false</td>
        </tr>
        <tr>
          <td>gazelle</td>
          <td>false</td>
          <td>true</td>
        </tr>
        <tr>
          <td>mammoth</td>
          <td>false</td>
          <td>true</td>
        </tr>
      </table>

      <p>
        Here,
        we're showing those creatures for which flying is true
        and for which flying is false.
        In another column,
        we show the true and false results for the test "is real".
        If we now say, "flying and real",
        what we mean is, "Those creatures that have true in both columns":
      </p>

      <table>
        <tr>
          <th>Name</th>
          <th>Flying?</th>
          <th>Real?</th>
          <th>Flying and Real?</th>
        </tr>
        <tr>
          <td>owl</td>
          <td>true</td>
          <td>true</td>
          <td>true</td>
        </tr>
        <tr>
          <td>dragon</td>
          <td>true</td>
          <td>false</td>
          <td>false</td>
        </tr>
        <tr>
          <td>frog</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
        </tr>
        <tr>
          <td>dodo</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
        </tr>
        <tr>
          <td>unicorn</td>
          <td>false</td>
          <td>false</td>
          <td>false</td>
        </tr>
        <tr>
          <td>gazelle</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
        </tr>
        <tr>
          <td>mammoth</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
        </tr>
      </table>

      <p>
        A different question to ask of this data is,
        "Which are the creatures for which either test is true?"
        I.e.,
        there's a "true" in one column or the other, or in both:
      </p>

      <table>
        <tr>
          <th>Name</th>
          <th>Flying?</th>
          <th>Real?</th>
          <th>Flying and Real?</th>
          <th>Flying or Real?</th>
        </tr>
        <tr>
          <td>owl</td>
          <td>true</td>
          <td>true</td>
          <td>true</td>
          <td>true</td>
        </tr>
        <tr>
          <td>dragon</td>
          <td>true</td>
          <td>false</td>
          <td>false</td>
          <td>true</td>
        </tr>
        <tr>
          <td>frog</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
          <td>true</td>
        </tr>
        <tr>
          <td>dodo</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
          <td>true</td>
        </tr>
        <tr>
          <td>unicorn</td>
          <td>false</td>
          <td>false</td>
          <td>false</td>
          <td>false</td>
        </tr>
        <tr>
          <td>gazelle</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
          <td>true</td>
        </tr>
        <tr>
          <td>mammoth</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
          <td>true</td>
        </tr>
      </table>

      <p class="continue">
        If we go back to programming,
        this is what we mean when we say "flying or real".
        The phrase "or both" turns out to be fairly important.
        When a human being says "flying or real",
        sometimes they mean, "Flying or real but <em>not</em> both."
        (For example,
        if I ask my daughter, "Would you like cookies or ice cream for dessert?"
        I am definitely <em>not</em> including both as an option.)
      </p>

      <p>
        To a computer scientist, "one or the other but not both" is an
        <a href="glossary.html#exclusive-or">exclusive or</a>,
        because it excludes the overlap.
        Almost all of the time,
        when we're writing programs and we use "or",
        it is an <a href="glossary.html#inclusive-or">inclusive or</a>:
        either condition, or both, can be true.
      </p>

      <p>
        We can combine combinations of "and", "or", and "not" to create more complicated conditions.
        For example,
        suppose we want to find creatures that can fly but aren't real.
        The first step is to find the ones that are not real by inverting the values in the "real" column.
        Then we look to see which creatures have "true" in both the "flying" and "not real" columns,
        and all we're left with are dragons:
      </p>

      <table>
        <tr>
          <th>Name</th>
          <th>Flying?</th>
          <th>Real?</th>
          <th>Not Real?</th>
          <th>Flying and not Real?</th>
        </tr>
        <tr>
          <td>owl</td>
          <td>true</td>
          <td>true</td>
          <td>false</td>
          <td>false</td>
        </tr>
        <tr>
          <td>dragon</td>
          <td>true</td>
          <td>false</td>
          <td>true</td>
          <td>true</td>
        </tr>
        <tr>
          <td>frog</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
          <td>false</td>
        </tr>
        <tr>
          <td>dodo</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
          <td>false</td>
        </tr>
        <tr>
          <td>unicorn</td>
          <td>false</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
        </tr>
        <tr>
          <td>gazelle</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
          <td>false</td>
        </tr>
        <tr>
          <td>mammoth</td>
          <td>false</td>
          <td>true</td>
          <td>false</td>
          <td>false</td>
        </tr>
      </table>

      <p>
        <a href="#f:boolean_binding">Figure XXX</a> shows why
        it's important to be clear what we mean
        when we're combining conditions.
        At the top we have the creatures that satisfy the condition "(not flying) and real".
        At the bottom we have the creatures that satisfy the condition "not (flying and real)".
        When you say these two phrases aloud they sound exactly the same,
        but as you can see,
        in one case we have frog, dodo, gazelle, and mammoth,
        which are things that don't fly, but are real.
        In the second case we have everything that isn't an owl,
        because it is the only creatures that flies and is real.
      </p>

      <figure id="f:boolean_binding">
        <img src="img/python/boolean_binding.png" alt="Interpreting Boolean Expressions" />
      </figure>

      <p>
        There's one more important sense in which we have to deal with ambiguity.
        Suppose we were to create a condition "extinct".
        It's obviously false (at least for now) for owls, frogs, and gazelles.
        It's true (until cloning works) for dodos and mammoths.
        But what's the value for dragons and unicorns?
        You could say they're extinct because none of them exist,
        but the question, "In what year did unicorns become extinct?"
        doesn't actually mean anything.
        Boolean tests in programs will only be as clear as our understanding of what our data means.
      </p>

      <p>
        Boolean expressions using <code>and</code> and <code>or</code> are evaluated differently
        from most Python expressions.
        If we write <code>3*5 + 2*7</code>,
        we don't care whether <code>3*5</code> or <code>2*7</code> is evaluated first:
        the final answer will be the same,
        so Python is free to do calculations in whatever order it wants.
      </p>

      <p>
        Boolean expressions,
        on the other hand,
        are always evaluated from left to right,
        and their result is the last value they actually examined.
        For example,
        consider the expression:
      </p>

<pre>
number and 1/number
</pre>

      <p class="continue">
        If <code>number</code> is zero,
        Python stops without trying to calculate <code>1/number</code>,
        because 0 and anything is false.
        If <code>number</code> isn't zero,
        though,
        Python has to keep evaluating in order to find out whether
        the <code>and</code> expression is true or not,
        so it calculates <code>1/number</code>
        and uses that as the expression's final value.
        This means that we can write:
      </p>

<pre>
reciprocal_or_zero = number and 1/number
</pre>

      <p class="continue">
        and then congratulate ourselves for being very clever.
        Similarly,
        if we want to make sure that <code>message</code> doesn't contain an empty string,
        we can do something like this:
      </p>

<pre>
message = message or "some default string"
</pre>

      <p>
        If <code>message</code> isn't an empty string,
        it is considered true,
        so Python doesn't evaluate the second part of the <code>or</code>:
        it just assigns <code>message</code>'s value back to itself.
        If <code>message</code> is initially an empty string (which is considered false),
        Python has to evaluate the second part of the <code>or</code>
        to find out whether the whole expression is true or false.
        The result of the evaluation is that second value&mdash;the default string&mdash;so
        that's what is assigned to <code>message</code>.
      </p>

      <p>
        Don't do this.
        It <em>is</em> clever,
        and it can save a line or two of code,
        but even experienced programmers mis-read expressions like this
        more often than the savings justify.
        In the second case,
        it is much clearer to write:
      </p>

<pre>
if message == "":
    message = "some default string"
</pre>

      <p class="continue">
        or even:
      </p>

<pre>
if not message:
    message = "some default string"
</pre>

      <p>
        In the first case,
        where we are trying to prevent division by zero,
        the odds are that we have just delayed the crash.
        If we trying to calculate the reciprocal of something that might be zero,
        our algorithm is either broken or numerically unstable.
        (After all,
        the "reciprocal" of zero is infinity, not zero.)
        If we create a value that is either meaningful or zero,
        we will have to handle both cases in all of our subsequent code.
        Sooner or later we will either forget to,
        or the instability we were trying to cover up will resurface.
      </p>

      <p>
        One of the cardinal rules of programming is,
        "Crash early, crash often."
        If something is wrong in a program,
        we want that program to fail as quickly as possible,
        because the more time that goes by between the error occurring
        and its effects becoming visible,
        the harder it will be to debug.
        Giving a variable a default value if the user hasn't provided one
        is probably a safe and sensible thing to do;
        pretending that 1/0 is 0 is almost certainly not.
      </p>

    </section>

    <section id="s:while">

      <h2>While Loops</h2>

      <p>
        With Booleans in hand,
        we can now look at Python's other kind of loop:
        the <a href="glossary.html#while-loop">while loop</a>.
        Here's a simple-minded example:
      </p>

<pre src="src/python/simple_while.py">
number = 0
while number &lt; 3:
    print number
    number += 1
<span class="out">0
1
2</span>
</pre>

      <p class="continue">
        <a href="#f:while_loop">Figure XXX</a> shows
        how Python executes this loop.
        At the start,
        it tests the condition <code>number &lt; 3</code>;
        since it's true,
        it runs the commands in the body of the loop,
        the second of which changes the value of of <code>number</code> to 1.
        Python then tests the condition again;
        since it's true again,
        the loop body is re-run,
        and so on until <code>number</code> becomes 3,
        at which point the test fails and the loop ends.
      </p>

      <figure id="f:while_loop">
        <img src="img/ref/while_loop.png" alt="A While Loop" />
      </figure>

      <p>
        It's important to realize that the condition is only tested at the top of the loop.
        If we change the order of the lines in the loop body:
      </p>

<pre>
number = 0
while number &lt; 3:
    number += 1
    print number
<span class="out">1
2
3</span>
</pre>

      <p class="continue">
        the loop now prints 1, 2, and 3 instead of 0, 1, and 2.
        It doesn't halt as soon as <code>number</code> becomes 3.
      </p>

      <p>
        It's also important to realize that if we don't change the value of <code>number</code>,
        this loop will run forever
        (or until we get bored and kill our program):
      </p>

<pre>
number = 0
while number &lt; 3:
    print number
<span class="out">0
1
2
3
4
5
...</span>
</pre>

      <p class="continue">
        This is called an <a href="glossary.html#infinite-loop">infinite loop</a>.
        From outside a program,
        it can be hard to tell the difference between a computation that's taking a long time,
        and one that's never going to finish,
        which is why things like progress bars were invented.
      </p>

    </section>

    <section id="s:shell">

      <h2>The Shell</h2>

      <table>
        <tr>
          <td>
            <code>cd</code>
          </td>
          <td>
            change working directory
          </td>
        </tr>
        <tr>
          <td>
            <code>cp</code>
          </td>
          <td>
            copy a file
          </td>
        </tr>
        <tr>
          <td>
            <code>head</code>
          </td>
          <td>
            select the first N lines of input
          </td>
        </tr>
        <tr>
          <td>
            <code>ls</code>
          </td>
          <td>
            listing
          </td>
        </tr>
        <tr>
          <td>
            <code>-a</code>
          </td>
          <td>
            show names beginning with '.'
          </td>
        </tr>
        <tr>
          <td>
            <code>-F</code>
          </td>
          <td>
            add '/' to directory names and '*' to executables
          </td>
        </tr>
        <tr>
          <td>
            <code>-t</code>
          </td>
          <td>
            order by time (most recent first)
          </td>
        </tr>
        <tr>
          <td>
            <code>mkdir</code>
          </td>
          <td>
            make a directory
          </td>
        </tr>
        <tr>
          <td>
            <code>mv</code>
          </td>
          <td>
            move (rename) a file or directory
          </td>
        </tr>
        <tr>
          <td>
            <code>nano</code>
          </td>
          <td>
            run a very simple text editor
          </td>
        </tr>
        <tr>
          <td>
            <code>pwd</code>
          </td>
          <td>
            print working directory
          </td>
        </tr>
        <tr>
          <td>
            <code>rm</code>
          </td>
          <td>
            remove (delete) a file
          </td>
        </tr>
        <tr>
          <td>
            <code>rmdir</code>
          </td>
          <td>
            remove (delete) an empty directory
          </td>
        </tr>
        <tr>
          <td>
            <code>-f</code>
          </td>
          <td>
            force deletion even if the directory isn't empty
          </td>
        </tr>
        <tr>
          <td>
            <code>sort</code>
          </td>
          <td>
            sort lines
          </td>
        </tr>
        <tr>
          <td>
            <code>-n</code>
          </td>
          <td>
            sort numerically
          </td>
        </tr>
        <tr>
          <td>
            <code>-r</code>
          </td>
          <td>
            reverse sorting order
          </td>
        </tr>
        <tr>
          <td>
            <code>tail</code>
          </td>
          <td>
            select the last N lines of output
          </td>
        </tr>
        <tr>
          <td>
            <code>wc</code>
          </td>
          <td>
            count words (and lines and characters)
          </td>
        </tr>
        <tr>
          <td>
            <code>&lt;</code>
          </td>
          <td>
            send to standard input
          </td>
        </tr>
        <tr>
          <td>
            <code>&gt;</code>
          </td>
          <td>
            send to standard output
          </td>
        </tr>
        <tr>
          <td>
            <code>|</code>
          </td>
          <td>
            pipe the standard output of one process to the standard input of another
          </td>
        </tr>
        <tr>
          <td>
            <code>*</code>
          </td>
          <td>
            match zero or more characters
          </td>
        </tr>
        <tr>
          <td>
            <code>?</code>
          </td>
          <td>
            match exactly one character
          </td>
        </tr>
        <tr>
          <td>
            <code>$#</code>
          </td>
          <td>
            the number of command-line arguments given to a shell script
          </td>
        </tr>
        <tr>
          <td>
            <code>$*</code>
          </td>
          <td>
            all of the command-line arguments given to a shell script
          </td>
        </tr>
        <tr>
          <td>
            <code>$1</code>, <code>$2</code>, &hellip;
          </td>
          <td>
            particular command-line arguments given to a shell script
          </td>
        </tr>
      </table>

    </section>

    <section id="s:version-control">

      <h2>Version Control</h2>

      <p class="fixme">Write reference guide for Subversion</p>

    </section>

    <section id="s:python">

      <h2>Python</h2>

      <p class="fixme">Write reference guide for Python</p>

    </section>

    <section id="s:db">

      <h2>Databases</h2>

      <p class="fixme">Write reference guide for databases</p>

    </section>

    <section id="s:css">

      <h2>Styling Pages</h2>

      <p>
        We said <a href="#p:hide-paragraph">earlier</a> that
        the right way to hide content in a page was
        to change the paragraph's style to make it invisible,
        rather than commenting it out.
        This is actually a bit of a hack:
        the right way to manage invisibility,
        or any other aspect of a web page's visual appearance,
        is to use <a href="glossary.html#css">Cascading Style Sheets</a> (CSS).
        These allow us change almost every aspect of display,
        from fonts and colors to indentation and flow.
      </p>

      <p>
        Here's a very simple example:
      </p>

<pre src="src/web/inline_css.html">
&lt;html&gt;
  &lt;head&gt;
    &lt;style type="text/css"&gt;
      h1 {
        text-align: center;
      }
      p {
        font-style: italic;
      }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Dimorphism&lt;/h1&gt;
    &lt;p&gt;Occurring or existing in two different &lt;u&gt;forms&lt;/u&gt;.&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

      <figure id="f:inline_css">
        <img src="img/web/inline_css.png" alt="Inline CSS" />
      </figure>

      <p>
        Inside the page's <code>head</code> element,
        we have put a <code>style</code> element whose <code>type</code> attribute
        has the value <code>text/css</code>.
        This tells the browser to apply the style definitions in that element
        to the contents of the web page.
      </p>

      <p>
        The first entry in the CSS states that
        the text of <code>h1</code> heading elements should be centered,
        while the second states that
        the text in paragraph elements should be italicized.
        Looking at the screenshot in <a href="#f:inline_css">Figure XXX</a>,
        we can see that the underlined element inside the paragraph is also italicized.
        This happens because styling applied to outer elements is inherited by inner elements
        unless it is explicitly overridden.
      </p>

      <p>
        What if we want to change the styles of some paragraphs but not others?
        The CSS solution is to define a <code>class</code> attribute for those elements,
        and to set styles based on that:
      </p>

<pre src="src/web/css_class.html">
&lt;html&gt;
  &lt;head&gt;
    &lt;style type="text/css"&gt;
      h1 {
        text-align: center;
      }
      p.definition {
        font-style: italic;
      }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Dimorphism&lt;/h1&gt;
    &lt;p class="definition"&gt;Occurring or existing in two different &lt;u&gt;forms&lt;/u&gt;.&lt;/p&gt;
    &lt;p&gt;
      The most notable form is sexual dimorphism,
      in which males and females have noticeably different appearances.
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

      <figure id="f:css_class">
        <img src="img/web/css_class.png" alt="CSS Classes" />
      </figure>

      <p class="continue">
        The CSS expression <code>p.definition</code> specifies that
        the style applies to paragraphs whose <code>class</code> is <code>definition</code>.
        The first paragraph has this class,
        so it is italicized.
        The second doesn't have a <code>class</code> at all,
        so it isn't.
      </p>

      <p>
        There are two reasons why we should use CSS to style elements
        instead of applying styles directly.
        The first is that,
        as we have said before,
        anything repeated in two or more places will eventually be wrong in at least one.
        If we want to change how all of our headings are displayed,
        it isn't just easier to change one definition in a CSS file&mdash;it's
        more reliable as well.
        It also aids display on different devices:
        if the user is looking at a cellphone or heads-up display,
        we will probably want to style the page differently
        than if it is a full-screen device.
      </p>

      <p>
        Second,
        using CSS is another example of model/view separation.
        Computer programs (usually) don't care how something looks,
        since they can't actually "see" web pages.
        The more we separate styling from content,
        the easier it is for programs to concentrate on the latter.
      </p>

    </section>
{% endblock content %}
